<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Inventory>
			<version>0.1.0</version>
		</EbayEnterprise_Inventory>
	</modules>
	<global>
		<models>
			<ebayenterprise_inventory>
				<class>EbayEnterprise_Inventory_Model</class>
			</ebayenterprise_inventory>
		</models>
		<helpers>
			<ebayenterprise_inventory>
				<class>EbayEnterprise_Inventory_Helper</class>
			</ebayenterprise_inventory>
		</helpers>
		<blocks>
			<ebayenterprise_inventoryoverride>
				<class>EbayEnterprise_Inventory_Override_Block</class>
			</ebayenterprise_inventoryoverride>
			<checkout>
				<rewrite>
					<cart_item_renderer>EbayEnterprise_Inventory_Override_Block_Cart_Item_Renderer</cart_item_renderer>
					<multishipping_overview>EbayEnterprise_Inventory_Override_Block_Multishipping_Overview</multishipping_overview>
				</rewrite>
			</checkout>
		</blocks>
		<events>
			<sales_quote_collect_totals_before>
				<observers>
					<EbayEnterprise_Eb2cInventory_observer>
						<type>singleton</type>
						<class>ebayenterprise_inventory/observer</class>
						<method>handleBeforeCollectTotals</method>
					</EbayEnterprise_Eb2cInventory_observer>
				</observers>
			</sales_quote_collect_totals_before>
			<!--
				Disable the cataloginventory module's inventory quantity checks.
				If using ROM inventory management, must assume that Magento's
				inventory records are not always up-to-date and cannot be trusted.
			-->
			<sales_quote_item_qty_set_after>
				<observers>
					<inventory>
						<type>disabled</type>
					</inventory>
				</observers>
			</sales_quote_item_qty_set_after>
			<ebayenterprise_order_create_item>
				<observers>
					<ebayenterprise_inventory_observer1>
						<type>singleton</type>
						<class>ebayenterprise_inventory/observer</class>
						<method>handleEbayEnterpriseOrderCreateItem</method>
					</ebayenterprise_inventory_observer1>
				</observers>
			</ebayenterprise_order_create_item>
			<ebayenterprise_tax_item_ship_origin>
				<observers>
					<ebayenterprise_inventory_observer>
						<type>singleton</type>
						<class>ebayenterprise_inventory/observer</class>
						<method>handleEbayEnterpriseTaxItemShipOrigin</method>
					</ebayenterprise_inventory_observer>
				</observers>
			</ebayenterprise_tax_item_ship_origin>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<ebayenterprise_inventory module="EbayEnterprise_Inventory">
					<file>ebayenterprise_inventory.xml</file>
				</ebayenterprise_inventory>
			</updates>
		</layout>
		<translate>
			<modules>
				<EbayEnterprise_Inventory>
					<files>
						<default>EbayEnterprise_Inventory.csv</default>
					</files>
				</EbayEnterprise_Inventory>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Inventory>
					<files>
						<default>EbayEnterprise_Inventory.csv</default>
					</files>
				</EbayEnterprise_Inventory>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<ebayenterprise_inventory>
			<api>
				<service>inventory</service>
			</api>
			<quantity>
				<operation>quantity/get</operation>
				<inventory_expiration>10</inventory_expiration>
			</quantity>
			<details>
				<operation>details/get</operation>
			</details>
		</ebayenterprise_inventory>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Inventory/>
			</modules>
		</suite>
	</phpunit>
</config>
