<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<TrueAction_Eb2cInventory>
			<version>1.0.0</version>
		</TrueAction_Eb2cInventory>
	</modules>
	<global>
		<models>
			<eb2cinventory>
				<class>TrueAction_Eb2cInventory_Model</class>
			</eb2cinventory>
			<eb2cinventoryoverride>
				<class>TrueAction_Eb2cInventory_Overrides_Model</class>
			</eb2cinventoryoverride>
			<checkout>
				<rewrite>
					<cart>TrueAction_Eb2cInventory_Overrides_Model_Cart</cart>
				</rewrite>
			</checkout>
			<cataloginventory>
				<rewrite>
					<stock_item>TrueAction_Eb2cInventory_Overrides_Model_Stock_Item</stock_item>
				</rewrite>
			</cataloginventory>
		</models>
		<fieldsets>
			<sales_convert_quote_item>
				<eb2c_reservation_id>
					<to_order_item>*</to_order_item>
				</eb2c_reservation_id>
				<eb2c_reservation_expires>
					<to_order_item>*</to_order_item>
				</eb2c_reservation_expires>
				<eb2c_qty_reserved>
					<to_order_item>*</to_order_item>
				</eb2c_qty_reserved>
				<eb2c_creation_time>
					<to_order_item>*</to_order_item>
				</eb2c_creation_time>
				<eb2c_display>
					<to_order_item>*</to_order_item>
				</eb2c_display>
				<eb2c_delivery_window_from>
					<to_order_item>*</to_order_item>
				</eb2c_delivery_window_from>
				<eb2c_delivery_window_to>
					<to_order_item>*</to_order_item>
				</eb2c_delivery_window_to>
				<eb2c_shipping_window_from>
					<to_order_item>*</to_order_item>
				</eb2c_shipping_window_from>
				<eb2c_shipping_window_to>
					<to_order_item>*</to_order_item>
				</eb2c_shipping_window_to>
				<eb2c_ship_from_address_line1>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line1>
				<eb2c_ship_from_address_line2>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line2>
				<eb2c_ship_from_address_line3>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line3>
				<eb2c_ship_from_address_line4>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line4>
				<eb2c_ship_from_address_city>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_city>
				<eb2c_ship_from_address_main_division>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_main_division>
				<eb2c_ship_from_address_country_code>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_country_code>
				<eb2c_ship_from_address_postal_code>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_postal_code>
			</sales_convert_quote_item>
		</fieldsets>
		<resources>
			<eb2cinventory_setup>
				<setup>
					<module>TrueAction_Eb2cInventory</module>
				</setup>
			</eb2cinventory_setup>
		</resources>
		<helpers>
			<eb2cinventory>
				<class>TrueAction_Eb2cInventory_Helper</class>
			</eb2cinventory>
		</helpers>
	</global>
	<frontend>
		<routers>
			<trueaction_eb2cinventory>
				<use>standard</use>
				<args>
					<module>TrueAction_Eb2cInventory</module>
					<frontName>eb2c</frontName>
				</args>
			</trueaction_eb2cinventory>
			<checkout>
				<args>
					<modules>
						<TrueAction_Eb2cInventory before="Mage_Checkout">TrueAction_Eb2cInventory_Override_Checkout</TrueAction_Eb2cInventory>
					</modules>
				</args>
			</checkout>
		</routers>
		<events>
			<sales_quote_item_qty_set_after>
				<observers>
					<TrueAction_Eb2cInventory_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cInventory_Model_Observer</class>
						<method>checkEb2cInventoryQuantity</method>
					</TrueAction_Eb2cInventory_observer>
				</observers>
			</sales_quote_item_qty_set_after>
			<sales_quote_remove_item>
				<observers>
					<TrueAction_Eb2cInventory_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cInventory_Model_Observer</class>
						<method>rollbackOnRemoveItemInReservedCart</method>
					</TrueAction_Eb2cInventory_observer>
				</observers>
			</sales_quote_remove_item>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<TrueAction_Eb2cInventory_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cInventory_Model_Observer</class>
						<method>processInventoryDetails</method>
					</TrueAction_Eb2cInventory_observer>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
			<eb2c_allocation_onepage_save_order_action_before>
				<observers>
					<TrueAction_Eb2cInventory_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cInventory_Model_Observer</class>
						<method>processEb2cAllocation</method>
					</TrueAction_Eb2cInventory_observer>
				</observers>
			</eb2c_allocation_onepage_save_order_action_before>
		</events>
	</frontend>
	<default>
		<eb2cinventory>
			<allocation_expired>60</allocation_expired>
			<api_service>inventory</api_service>
			<api_opt_inventory_qty>quantity/get</api_opt_inventory_qty>
			<api_opt_inventory_details>details/get</api_opt_inventory_details>
			<api_opt_inventory_allocation>allocations/create</api_opt_inventory_allocation>
			<api_opt_inventory_rollback_allocation>allocations/delete</api_opt_inventory_rollback_allocation>
			<api_return_format>xml</api_return_format>
			<xsd>
				<allocation_file>Inventory-Service-Allocation-1.0.xsd</allocation_file>
				<details_file>Inventory-Service-InventoryDetails-1.0.xsd</details_file>
				<quantity_file>Inventory-Service-Quantity-1.0.xsd</quantity_file>
				<rollback_file>Inventory-Service-RollbackAllocation-1.0.xsd</rollback_file>
			</xsd>
			<feed>
				<local_path>TrueAction/Eb2c/Feed/Item/Inventories/</local_path>
				<remote_path>/Inbox/</remote_path>
				<file_pattern>*inventatpfull*.xml</file_pattern>
				<event_type>ItemInventories</event_type>
				<header_version>2.3.0</header_version>
			</feed>
		</eb2cinventory>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cInventory />
			</modules>
		</suite>
	</phpunit>
</config>
