<?xml version="1.0"?>
<config>
	<modules>
		<TrueAction_Eb2cTax>
			<version>0.1.0</version>
		</TrueAction_Eb2cTax>
	</modules>
	<global>
		<models>
			<eb2ctax>
				<class>TrueAction_Eb2cTax_Model</class>
				<resourceModel>eb2ctax_resource</resourceModel>
			</eb2ctax>
			<eb2ctax_resource>
				<class>TrueAction_Eb2cTax_Model_Resource</class>
				<entities>
					<response_quote>
						<table>eb2ctax_response_quote</table>
					</response_quote>
				</entities>
			</eb2ctax_resource>
			<tax>
				<rewrite>
					<calculation>TrueAction_Eb2cTax_Overrides_Model_Calculation</calculation>
					<observer>TrueAction_Eb2cTax_Overrides_Model_Observer</observer>
					<sales_total_quote_subtotal>TrueAction_Eb2cTax_Overrides_Model_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
					<sales_total_quote_tax>TrueAction_Eb2cTax_Overrides_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
					<sales_total_quote_shipping>TrueAction_Eb2cTax_Overrides_Model_Sales_Total_Quote_Shipping</sales_total_quote_shipping>
				</rewrite>
			</tax>
			<enterprise_giftwrapping>
				<rewrite>
					<total_quote_tax_giftwrapping>TrueAction_Eb2cTax_Overrides_Model_Total_Quote_Tax_Giftwrapping</total_quote_tax_giftwrapping>
				</rewrite>
			</enterprise_giftwrapping>
		</models>
		<helpers>
			<tax>
				<rewrite>
					<data>TrueAction_Eb2cTax_Overrides_Helper_Data</data>
				</rewrite>
			</tax>
			<eb2ctax>
				<class>TrueAction_Eb2cTax_Helper</class>
			</eb2ctax>
		</helpers>
		<resources>
			<eb2ctax_setup>
				<setup>
					<module>TrueAction_Eb2cTax</module>
				</setup>
			</eb2ctax_setup>
		</resources>
		<events>
			<eb2ctax_subtotal_collect_before>
				<observers>
					<tax>
						<class>tax/observer</class>
						<method>taxEventSendRequest</method>
					</tax>
				</observers>
			</eb2ctax_subtotal_collect_before>
			<sales_quote_add_item>
				<observers>
					<tax>
						<class>tax/observer</class>
						<method>salesEventItemAdded</method>
					</tax>
				</observers>
			</sales_quote_add_item>
			<checkout_cart_product_update_after>
				<observers>
					<tax>
						<class>tax/observer</class>
						<method>cartEventProductUpdated</method>
					</tax>
				</observers>
			</checkout_cart_product_update_after>
			<sales_quote_remove_item>
				<observers>
					<tax>
						<class>tax/observer</class>
						<method>salesEventItemRemoved</method>
					</tax>
				</observers>
			</sales_quote_remove_item>
			<sales_quote_item_qty_set_after>
				<observers>
					<tax>
						<class>tax/observer</class>
						<method>salesEventItemQtyUpdated</method>
					</tax>
				</observers>
			</sales_quote_item_qty_set_after>
		</events>
		<sales>
			<quote>
				<totals>
					<tax_subtotal>
						<class>tax/sales_total_quote_subtotal</class>
						<after>freeshipping,discount</after>
						<before>tax</before>
					</tax_subtotal>
				</totals>
			</quote>
		</sales>
	</global>
	<default>
		<eb2ctax>
			<calculation>
				<apply_after_discount>1</apply_after_discount>
				<vat_inclusive_pricing>0</vat_inclusive_pricing>
			</calculation>
			<defaults>
				<duty_amount_code>eb2c-duty-amount</duty_amount_code>
			</defaults>
			<xsd>
				<quote_request_file>TaxDutyFee-QuoteRequest-1.0.xsd</quote_request_file>
			</xsd>
		</eb2ctax>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cTax />
			</modules>
		</suite>
	</phpunit>
</config>
