<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Eb2cPayment>
			<version>0.9.0</version>
		</EbayEnterprise_Eb2cPayment>
	</modules>
	<global>
		<models>
			<eb2cpayment>
				<class>EbayEnterprise_Eb2cPayment_Model</class>
				<resourceModel>eb2cpayment_resource</resourceModel>
			</eb2cpayment>
			<eb2cpayment_resource>
				<class>EbayEnterprise_Eb2cPayment_Model_Resource</class>
				<entities>
					<paypal>
						<table>eb2c_payments_paypal</table>
					</paypal>
				</entities>
			</eb2cpayment_resource>
			<eb2cpaymentoverrides>
				<class>EbayEnterprise_Eb2cPayment_Overrides_Model</class>
			</eb2cpaymentoverrides>
			<enterprise_giftcardaccount>
				<rewrite>
					<giftcardaccount>EbayEnterprise_Eb2cPayment_Overrides_Model_Giftcardaccount</giftcardaccount>
					<observer>EbayEnterprise_Eb2cPayment_Overrides_Model_Observer</observer>
				</rewrite>
			</enterprise_giftcardaccount>
			<paypal>
				<rewrite>
					<api_nvp>EbayEnterprise_Eb2cPayment_Overrides_Model_Api_Nvp</api_nvp>
					<info>EbayEnterprise_Eb2cPayment_Overrides_Model_Paypal_Info</info>
				</rewrite>
			</paypal>
			<ebayenterprise_pbridge>
				<rewrite>
					<cc>EbayEnterprise_Eb2cPayment_Overrides_Model_Cc</cc>
				</rewrite>
			</ebayenterprise_pbridge>
		</models>
		<helpers>
			<eb2cpayment>
				<class>EbayEnterprise_Eb2cPayment_Helper</class>
			</eb2cpayment>
		</helpers>
		<blocks>
			<eb2cpayment>
				<class>EbayEnterprise_Eb2cPayment_Block</class>
			</eb2cpayment>
			<customer>
				<rewrite>
					<account_navigation>EbayEnterprise_Eb2cPayment_Overrides_Block_Account_Navigation</account_navigation>
				</rewrite>
			</customer>
			<enterprise_giftcardaccount>
				<rewrite>
					<account_redeem>EbayEnterprise_Eb2cPayment_Overrides_Block_Giftcardaccount_Account_Redeem</account_redeem>
				</rewrite>
			</enterprise_giftcardaccount>
			<adminhtml>
				<rewrite>
					<system_config_form>EbayEnterprise_Eb2cPayment_Overrides_Block_Adminhtml_System_Config_Form</system_config_form>
					<system_config_tabs>EbayEnterprise_Eb2cPayment_Overrides_Block_Adminhtml_System_Config_Tabs</system_config_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
		<resources>
			<eb2cpayment_setup>
				<setup>
					<module>EbayEnterprise_Eb2cPayment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</eb2cpayment_setup>
		</resources>
		<events>
			<eb2c_redeem_giftcard>
				<observers>
					<eb2cpayment_redeem_giftcard>
						<type>singleton</type>
						<class>eb2cpayment/observer</class>
						<method>redeemGiftCard</method>
					</eb2cpayment_redeem_giftcard>
				</observers>
			</eb2c_redeem_giftcard>
			<eb2c_order_creation_failure>
				<observers>
					<eb2cpayment_redeem_void_giftcard>
						<type>singleton</type>
						<class>eb2cpayment/observer</class>
						<method>redeemVoidGiftCard</method>
					</eb2cpayment_redeem_void_giftcard>
					<eb2cpayment_void_payments>
						<type>singleton</type>
						<class>eb2cpayment/observer</class>
						<method>voidPayments</method>
					</eb2cpayment_void_payments>
				</observers>
			</eb2c_order_creation_failure>
		</events>
	</global>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_eb2ccore>
				<observers>
					<payment_suppression_observer>
						<type>singleton</type>
						<class>EbayEnterprise_Eb2cPayment_Model_Observer</class>
						<method>suppressPaymentModule</method>
					</payment_suppression_observer>
					<paypal_paymentaction_config>
						<type>singleton</type>
						<class>EbayEnterprise_Eb2cPayment_Model_Observer</class>
						<method>configurePayPalPaymentAction</method>
					</paypal_paymentaction_config>
				</observers>
			</admin_system_config_changed_section_eb2ccore>
		</events>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cPayment>
					<files>
						<default>EbayEnterprise_Eb2cPayment.csv</default>
					</files>
				</EbayEnterprise_Eb2cPayment>
			</modules>
		</translate>
		<routers>
			<enterprise_giftcardaccount>
				<args>
					<modules>
						<EbayEnterprise_Eb2cPayment before="Enterprise_GiftCardAccount">EbayEnterprise_Eb2cPayment_Overrides_GiftCardAccount</EbayEnterprise_Eb2cPayment>
					</modules>
				</args>
			</enterprise_giftcardaccount>
			<eb2cpayment>
				<use>standard</use>
				<args>
					<module>EbayEnterprise_Eb2cPayment</module>
					<frontName>eb2cpayment</frontName>
				</args>
			</eb2cpayment>
		</routers>
		<layout>
			<updates>
				<ebayenterprise_eb2cpayment module="EbayEnterprise_Eb2cPayment">
					<file>eb2cpayment.xml</file>
				</ebayenterprise_eb2cpayment>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cPayment>
					<files>
						<default>EbayEnterprise_Eb2cPayment.csv</default>
					</files>
				</EbayEnterprise_Eb2cPayment>
			</modules>
		</translate>
		<layout>
			<updates>
				<eb2cpayment>
					<file>eb2cpayment.xml</file>
				</eb2cpayment>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<eb2cpayment>
			<api_payment_xml_ns>http://api.gsicommerce.com/schema/payment/1.0</api_payment_xml_ns>
			<api_service>payments</api_service>
			<api_opt_stored_value_balance>storedvalue/balance/GS</api_opt_stored_value_balance>
			<api_opt_stored_value_redeem>storedvalue/redeem/GS</api_opt_stored_value_redeem>
			<api_opt_stored_value_redeem_void>storedvalue/redeemvoid/GS</api_opt_stored_value_redeem_void>
			<api_opt_paypal_set_express_checkout>paypal/setExpress</api_opt_paypal_set_express_checkout>
			<api_opt_paypal_get_express_checkout>paypal/getExpress</api_opt_paypal_get_express_checkout>
			<api_opt_paypal_do_express_checkout>paypal/doExpress</api_opt_paypal_do_express_checkout>
			<api_opt_paypal_do_authorization>paypal/doAuth</api_opt_paypal_do_authorization>
			<api_opt_paypal_do_void>paypal/void</api_opt_paypal_do_void>
			<api_return_format>xml</api_return_format>
			<api_status_handler><alert_level>loud</alert_level></api_status_handler>
			<xsd>
				<paypal_express_do_file>Payment-Service-PayPalDoExpress-1.0.xsd</paypal_express_do_file>
				<paypal_express_get_file>Payment-Service-PayPalGetExpress-1.0.xsd</paypal_express_get_file>
				<paypal_express_set_file>Payment-Service-PayPalSetExpress-1.0.xsd</paypal_express_set_file>
				<paypal_do_auth_file>Payment-Service-PayPalDoAuth-1.0.xsd</paypal_do_auth_file>
				<paypal_void_auth_file>Payment-Service-PayPalVoidAuth-1.0.xsd</paypal_void_auth_file>
				<stored_value_balance_file>Payment-Service-StoredValueBalance-1.0.xsd</stored_value_balance_file>
				<stored_value_redeem_void_file>Payment-Service-StoredValueRedeemVoid-1.0.xsd</stored_value_redeem_void_file>
				<stored_value_redeem_file>Payment-Service-StoredValueRedeem-1.0.xsd</stored_value_redeem_file>
			</xsd>
		</eb2cpayment>
		<eb2ccore>
			<eb2cpayment>
				<enabled>0</enabled>
			</eb2cpayment>
		</eb2ccore>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Eb2cPayment/>
			</modules>
		</suite>
	</phpunit>
</config>
