<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Eb2cPayment>
			<version>0.9.0</version>
		</EbayEnterprise_Eb2cPayment>
	</modules>
	<global>
		<models>
			<eb2cpayment>
				<class>EbayEnterprise_Eb2cPayment_Model</class>
				<resourceModel>eb2cpayment_resource</resourceModel>
			</eb2cpayment>
			<eb2cpayment_resource>
				<class>EbayEnterprise_Eb2cPayment_Model_Resource</class>
				<entities>
					<paypal>
						<table>eb2c_payments_paypal</table>
					</paypal>
				</entities>
			</eb2cpayment_resource>
			<eb2cpaymentoverrides>
				<class>EbayEnterprise_Eb2cPayment_Overrides_Model</class>
			</eb2cpaymentoverrides>
			<paypal>
				<rewrite>
					<api_nvp>EbayEnterprise_Eb2cPayment_Overrides_Model_Api_Nvp</api_nvp>
					<info>EbayEnterprise_Eb2cPayment_Overrides_Model_Paypal_Info</info>
				</rewrite>
			</paypal>
		</models>
		<helpers>
			<eb2cpayment>
				<class>EbayEnterprise_Eb2cPayment_Helper</class>
			</eb2cpayment>
		</helpers>
		<blocks>
			<eb2cpayment>
				<class>EbayEnterprise_Eb2cPayment_Block</class>
			</eb2cpayment>
		</blocks>
		<resources>
			<eb2cpayment_setup>
				<setup>
					<module>EbayEnterprise_Eb2cPayment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</eb2cpayment_setup>
		</resources>
	</global>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_eb2ccore>
				<observers>
					<paypal_paymentaction_config>
						<type>singleton</type>
						<class>EbayEnterprise_Eb2cPayment_Model_Observer</class>
						<method>configurePayPalPaymentAction</method>
					</paypal_paymentaction_config>
				</observers>
			</admin_system_config_changed_section_eb2ccore>
		</events>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cPayment>
					<files>
						<default>EbayEnterprise_Eb2cPayment.csv</default>
					</files>
				</EbayEnterprise_Eb2cPayment>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cPayment>
					<files>
						<default>EbayEnterprise_Eb2cPayment.csv</default>
					</files>
				</EbayEnterprise_Eb2cPayment>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<eb2cpayment>
			<api_payment_xml_ns>http://api.gsicommerce.com/schema/payment/1.0</api_payment_xml_ns>
			<api_service>payments</api_service>
			<api_opt_paypal_set_express_checkout>paypal/setExpress</api_opt_paypal_set_express_checkout>
			<api_opt_paypal_get_express_checkout>paypal/getExpress</api_opt_paypal_get_express_checkout>
			<api_opt_paypal_do_express_checkout>paypal/doExpress</api_opt_paypal_do_express_checkout>
			<api_opt_paypal_do_authorization>paypal/doAuth</api_opt_paypal_do_authorization>
			<api_opt_paypal_do_void>paypal/void</api_opt_paypal_do_void>
			<api_return_format>xml</api_return_format>
			<api_status_handler><alert_level>loud</alert_level></api_status_handler>
			<xsd>
				<paypal_express_do_file>Payment-Service-PayPalDoExpress-1.0.xsd</paypal_express_do_file>
				<paypal_express_get_file>Payment-Service-PayPalGetExpress-1.0.xsd</paypal_express_get_file>
				<paypal_express_set_file>Payment-Service-PayPalSetExpress-1.0.xsd</paypal_express_set_file>
				<paypal_do_auth_file>Payment-Service-PayPalDoAuth-1.0.xsd</paypal_do_auth_file>
				<paypal_void_auth_file>Payment-Service-PayPalVoidAuth-1.0.xsd</paypal_void_auth_file>
			</xsd>
		</eb2cpayment>
		<eb2ccore>
			<eb2cpayment>
				<enabled>0</enabled>
			</eb2cpayment>
		</eb2ccore>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Eb2cPayment/>
			</modules>
		</suite>
	</phpunit>
</config>
