[submodule "extensions/dom"]
	path = extensions/php-dom
	url = https://github.scm.corp.ebay.com/Cheetah/php-dom
[submodule "extensions/filetransfer"]
	path = extensions/magento-file-transfer
	url = https://github.scm.corp.ebay.com/Cheetah/magento-file-transfer
[submodule "extensions/mage_log"]
	path = extensions/magento-log
	url = https://github.scm.corp.ebay.com/Cheetah/magento-log
[submodule "extensions/pbridge"]
	path = extensions/pbridge
	url = https://github.scm.corp.ebay.com/Cheetah/trueaction_pbridge
