[submodule "extensions/php-dom"]
	path = extensions/php-dom
	url = https://github.com/eBayEnterprise/php-dom
[submodule "extensions/magento-file-transfer"]
	path = extensions/magento-file-transfer
	url = https://github.com/eBayEnterprise/magento-file-transfer
[submodule "extensions/magento-log"]
	path = extensions/magento-log
	url = https://github.com/eBayEnterprise/magento-log
[submodule "extensions/magento-active-config"]
	path = extensions/magento-active-config
	url = https://github.com/eBayEnterprise/magento-active-config.git
