<?xml version='1.0' encoding="utf-8" ?>
<!--
Magento to Exchange platform mappings:
The below configurations translate from Magento to Exchange.
Copy this file to eb2c.xml and configure the appropriate values below.
-->
<config>
	<default>
		<eb2ccore>
			<!--
			Shipping method mappings:
			Map Magento shipping methods to the desired Exchange platform shipping method name. Add one node for each configured Magento shipping method.
			-->
			<shipmap>
				<!-- This example maps the Magento flatrate_flatrate shipping method to Exchange's ANY_STD shipping. -->
				<flatrate_flatrate>ANY_STD</flatrate_flatrate>
			</shipmap>
			<payment>
				<!--
				Stored Value Card ranges:
				List the ranges for valid stored value card numbers of each type.
				Ranges may not overlap.
				-->
				<svc_bin_range>
					<!-- Gift card -->
					<GS>800199900000000-800199910000000</GS>
					<!-- Physical card -->
					<SP>6006592800000000000-6006592800100000000</SP>
					<!-- Virtual card -->
					<SV>6969280000000000-6969280010000000</SV>
					<!-- Value Link -->
					<VL>9900000000000000-9900000010000000</VL>
				</svc_bin_range>
			</payment>
			<feed>
				<!--
				This setting will enable (1) or disable (0) the deletion of files from the remote
				SFTP server after processing the feed files.
				-->
				<delete_remote_feed_files>1</delete_remote_feed_files>
			</feed>
		</eb2ccore>
		<eb2cproduct>
			<feed_attribute_mappings>
				<is_drop_shipped>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractBoolValue</method>
					<xpath>BaseAttributes/IsDropShipped</xpath>
				</is_drop_shipped>
				<drop_ship_supplier_name>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</drop_ship_supplier_name>
				<drop_ship_supplier_number>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</drop_ship_supplier_number>
				<drop_ship_supplier_part>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</drop_ship_supplier_part>
				<gift_message_available>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractBoolValue</method>
					<xpath></xpath>
				</gift_message_available>
				<use_config_gift_message_available>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractBoolValue</method>
					<xpath></xpath>
				</use_config_gift_message_available>
				<country_of_manufacture>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</country_of_manufacture>
				<gift_card_tender_code>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</gift_card_tender_code>
				<item_type>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</item_type>
				<client_alt_item_id>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method>extractStringValue</method>
					<xpath></xpath>
				</client_alt_item_id>
				<manufacturer_item_id>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</manufacturer_item_id>
				<brand_name>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</brand_name>
				<hts_codes>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</hts_codes>
				<brand_description>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</brand_description>
				<buyer_name>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</buyer_name>
				<buyer_id>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</buyer_id>
				<companion_flag>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</companion_flag>
				<hazardous_material_code>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</hazardous_material_code>
				<is_hidden_product>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</is_hidden_product>
				<item_dimension_shipping_mass_unit_of_measure>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_shipping_mass_unit_of_measure>
				<item_dimension_shipping_mass_weight>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_shipping_mass_weight>
				<item_dimension_display_mass_unit_of_measure>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_display_mass_unit_of_measure>
				<item_dimension_display_mass_weight>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_display_mass_weight>
				<item_dimension_display_packaging_unit_of_measure>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_display_packaging_unit_of_measure>
				<item_dimension_display_packaging_width>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_display_packaging_width>
				<item_dimension_display_packaging_length>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_display_packaging_length>
				<item_dimension_display_packaging_height>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_display_packaging_height>
				<item_dimension_shipping_packaging_unit_of_measure>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_shipping_packaging_unit_of_measure>
				<item_dimension_shipping_packaging_width>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_shipping_packaging_width>
				<item_dimension_shipping_packaging_length>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_shipping_packaging_length>
				<item_dimension_shipping_packaging_height>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_shipping_packaging_height>
				<item_dimension_carton_mass_unit_of_measure>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_mass_unit_of_measure>
				<item_dimension_carton_mass_weight>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_mass_weight>
				<item_dimension_carton_packaging_unit_of_measure>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_packaging_unit_of_measure>
				<item_dimension_carton_packaging_width>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_packaging_width>
				<item_dimension_carton_packaging_length>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_packaging_length>
				<item_dimension_carton_packaging_height>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_packaging_height>
				<item_dimension_carton_type>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</item_dimension_carton_type>
				<lot_tracking_indicator>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</lot_tracking_indicator>
				<ltl_freight_cost>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</ltl_freight_cost>
				<manufacturing_date>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</manufacturing_date>
				<manufacturer_name>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</manufacturer_name>
				<manufacturer_manufacturer_id>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</manufacturer_manufacturer_id>
				<may_ship_expedite>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</may_ship_expedite>
				<may_ship_international>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</may_ship_international>
				<may_ship_usps>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</may_ship_usps>
				<safety_stock>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</safety_stock>
				<sales_class>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</sales_class>
				<serial_number_type>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</serial_number_type>
				<service_indicator>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</service_indicator>
				<ship_group>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</ship_group>
				<ship_window_min_hour>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</ship_window_min_hour>
				<ship_window_max_hour>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</ship_window_max_hour>
				<street_date>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</street_date>
				<style_description>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</style_description>
				<supplier_name>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</supplier_name>
				<supplier_supplier_id>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</supplier_supplier_id>
				<size>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</size>
				<mass>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</mass>
				<msrp>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</msrp>
				<url_key>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</url_key>
				<color>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</color>
				<configurable_attributes_data>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</configurable_attributes_data>
			</feed_attribute_mappings>
		</eb2cproduct>
	</default>
</config>
