<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <default>
        <eb2ccore>
            <feed>
                <filetransfer_imports>
                    <!--
                    Pricing Remote Directory: List the directories to fetch pricing feeds from. Replace {store_id}
                    with the actual value.
                    -->
                    <item_pricing>
                        <remote_directory>/Inbox/Channel/{store_id}/Pricing</remote_directory>
                    </item_pricing>
                </filetransfer_imports>
                <!--
                Gift Card Tenders: Map ROM gift card tender types to the Magento gift card type. Node names must match
                ROM gift card tender types. Values must match Magento gift card type (virtual, physical or combined).
                -->
                <gift_card_tender_code>
                    <SD>virtual</SD>
                    <SP>physical</SP>
                    <ST>combined</ST>
                    <SV>virtual</SV>
                    <SX>combined</SX>
                </gift_card_tender_code>
            </feed>
        </eb2ccore>
        <ebayenterprise_catalog>
            <feed>
                <!--
                'stock_map' maps SalesClass possible values to a known Magento value for product stock item backorder attribute.
                This determines whether or not a ROM Inventory Call is made for an item.
                Valid Values are found in Mage_CatalogInventory_Model_Stock:
                    BACKORDERS_NO                       = 0; // Send to ROM Inventory API. This is the default if not mapped. Notably, 'stock' is not mapped and therefore is always set to 0.
                    BACKORDERS_YES_NONOTIFY = 1; // Do not send to ROM Inventory API.
                    BACKORDERS_YES_NOTIFY       = 2; // Do not send to ROM Inventory API.
                -->
                <stock_map>
                    <advanceOrderOpen>2</advanceOrderOpen>
                    <advanceOrderLimited>0</advanceOrderLimited>
                    <backOrderLimited>0</backOrderLimited>
                </stock_map>
            </feed>
            <!--
            Product Import Mapping: Detailed documentation can be found in the Product Import module's documentation
            located at: ../app/code/community/EbayEnterprise/ProductImport/README.md#product-import-mapping
            -->
            <feed_attribute_mappings>
                <gift_card_tender_code>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method>extractStringValue</method>
                    <xpath/>
                </gift_card_tender_code>
                <client_alt_item_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method>extractStringValue</method>
                    <xpath/>
                </client_alt_item_id>
                <manufacturer_item_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </manufacturer_item_id>
                <brand_name>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </brand_name>
                <brand_description>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </brand_description>
                <buyer_name>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </buyer_name>
                <buyer_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </buyer_id>
                <companion_flag>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </companion_flag>
                <hazardous_material_code>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </hazardous_material_code>
                <is_hidden_product>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </is_hidden_product>
                <item_dimension_shipping_mass_unit_of_measure>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_shipping_mass_unit_of_measure>
                <item_dimension_shipping_mass_weight>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_shipping_mass_weight>
                <item_dimension_display_mass_unit_of_measure>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_display_mass_unit_of_measure>
                <item_dimension_display_mass_weight>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_display_mass_weight>
                <item_dimension_display_packaging_unit_of_measure>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_display_packaging_unit_of_measure>
                <item_dimension_display_packaging_width>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_display_packaging_width>
                <item_dimension_display_packaging_length>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_display_packaging_length>
                <item_dimension_display_packaging_height>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_display_packaging_height>
                <item_dimension_shipping_packaging_unit_of_measure>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_shipping_packaging_unit_of_measure>
                <item_dimension_shipping_packaging_width>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_shipping_packaging_width>
                <item_dimension_shipping_packaging_length>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_shipping_packaging_length>
                <item_dimension_shipping_packaging_height>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_shipping_packaging_height>
                <item_dimension_carton_mass_unit_of_measure>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_mass_unit_of_measure>
                <item_dimension_carton_mass_weight>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_mass_weight>
                <item_dimension_carton_packaging_unit_of_measure>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_packaging_unit_of_measure>
                <item_dimension_carton_packaging_width>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_packaging_width>
                <item_dimension_carton_packaging_length>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_packaging_length>
                <item_dimension_carton_packaging_height>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_packaging_height>
                <item_dimension_carton_type>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </item_dimension_carton_type>
                <lot_tracking_indicator>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </lot_tracking_indicator>
                <ltl_freight_cost>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </ltl_freight_cost>
                <manufacturing_date>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </manufacturing_date>
                <manufacturer_name>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </manufacturer_name>
                <manufacturer_manufacturer_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </manufacturer_manufacturer_id>
                <may_ship_expedite>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </may_ship_expedite>
                <may_ship_international>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </may_ship_international>
                <may_ship_usps>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </may_ship_usps>
                <safety_stock>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </safety_stock>
                <sales_class>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </sales_class>
                <serial_number_type>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </serial_number_type>
                <service_indicator>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </service_indicator>
                <ship_group>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </ship_group>
                <ship_window_min_hour>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </ship_window_min_hour>
                <ship_window_max_hour>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </ship_window_max_hour>
                <street_date>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </street_date>
                <style_description>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </style_description>
                <supplier_name>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </supplier_name>
                <supplier_supplier_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </supplier_supplier_id>
                <mass>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </mass>
                <msrp>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </msrp>
                <!---
                    This map allow you to import all custom attributes from ItemMaster and ContentMaster
                    into Magento Products, given that the product attributes are already created.
                -->
                <custom_attributes>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractCustomAttributes</method>
                    <xpath>CustomAttributes/Attribute</xpath>
                </custom_attributes>
            </feed_attribute_mappings>
        </ebayenterprise_catalog>
    </default>
</config>
