<?xml version='1.0' encoding="utf-8" ?>
<!--
Magento to Exchange Platform Product Export Mappings

This configuration file controls exporting data from Magento to the Exchange Platform Product Hub.
Copy this file to productexport.xml and configure the appropriate values below.
-->
<config>
	<crontab>
		<jobs>
			<!--
			Configuration for setting the Product Export Cron runtimes
			 -->
			<eb2cproduct_pim_export_feed>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
			</eb2cproduct_pim_export_feed>
			<!--
			Configuration for setting the Image Export Cron runtimes
			 -->
			<eb2cproduct_image_export_feed>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
			</eb2cproduct_image_export_feed>
		</jobs>
	</crontab>
	<default>
		<eb2cproduct>
			<feed_pim_mapping>
				<item_map>
					<mappings>
						<weight_uom>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ItemDimension/Display/Mass@unit_of_measure</xml_dest>
							<translate>0</translate>
						</weight_uom>
						<weight>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ItemDimension/Display/Mass/Weight</xml_dest>
							<translate>0</translate>
						</weight>
						<packaging_uom>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ItemDimension/Display/Packaging@unit_of_measure</xml_dest>
							<translate>0</translate>
						</packaging_uom>
						<packaging_width>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ItemDimension/Display/Packaging/Width</xml_dest>
							<translate>0</translate>
						</packaging_width>
						<packaging_length>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ItemDimension/Display/Packaging/Length</xml_dest>
							<translate>0</translate>
						</packaging_length>
						<packaging_height>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ItemDimension/Display/Packaging/Height</xml_dest>
							<translate>0</translate>
						</packaging_height>
					</mappings>
				</item_map>
			</feed_pim_mapping>
		</eb2cproduct>
	</default>
</config>
