<?xml version='1.0' encoding="utf-8" ?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<!--
Magento Retail Order Management (ROM) Extension product export configuration

You can use this file as a starting point for your implementation by renaming this file to `productexport.xml`.
Carefully review all options to ensure they match you specific implementation.
-->
<config>
	<crontab>
		<jobs>
			<!--
			Catalog Export: This job will export product data
			Suggested Schedule: Every 15 minutes
			-->
			<ebayenterprise_catalog_pim_export_feed>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
			</ebayenterprise_catalog_pim_export_feed>
		</jobs>
	</crontab>
	<default>
		<ebayenterprise_catalog>
			<!--
			Product Export Mapping: Detailed documentation can be found in the Product Export module's documentation
			located at: ../app/code/community/EbayEnterprise/ProductExport/README.md#product-export-mapping
			-->
			<feed_pim_mapping>
				<item_map>
					<mappings>
						<_gsi_client_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passGsiClientId</method>
							<xml_dest>@gsi_client_id</xml_dest>
							<translate>0</translate>
						</_gsi_client_id>
						<_operation_type>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passOperationType</method>
							<xml_dest>@operation_type</xml_dest>
							<translate>0</translate>
						</_operation_type>
						<_catalog_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passCatalogId</method>
							<xml_dest>@catalog_id</xml_dest>
							<translate>0</translate>
						</_catalog_id>
						<sku>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passSKU</method>
							<xml_dest>ItemId/ClientItemId</xml_dest>
							<translate>0</translate>
						</sku>
						<visibility>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passCatalogClass</method>
							<xml_dest>BaseAttributes/CatalogClass</xml_dest>
							<translate>0</translate>
						</visibility>
						<drop_shipped>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>BaseAttributes/IsDropShipped</xml_dest>
							<translate>0</translate>
						</drop_shipped>
						<name>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>BaseAttributes/ItemDescription</xml_dest>
							<translate>0</translate>
						</name>
						<item_type>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passItemType</method>
							<xml_dest>BaseAttributes/ItemType</xml_dest>
							<translate>0</translate>
						</item_type>
						<status>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passItemStatus</method>
							<xml_dest>BaseAttributes/ItemStatus</xml_dest>
							<translate>0</translate>
						</status>
						<tax_code>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passTaxCode</method>
							<xml_dest>BaseAttributes/TaxCode</xml_dest>
							<translate>0</translate>
						</tax_code>
						<_hierarchy>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passHierarchy</method>
							<xml_dest>BaseAttributes/Hierarchy/</xml_dest>
							<translate>0</translate>
						</_hierarchy>
						<drop_ship_supplier_prefix>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passDropShipSupplierPrefix</method>
							<xml_dest>DropShipSupplierInformation/SupplierPrefix</xml_dest>
							<translate>0</translate>
						</drop_ship_supplier_prefix>
						<drop_ship_supplier_name>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passStringIf</method>
							<xml_dest>DropShipSupplierInformation/SupplierName</xml_dest>
							<translate>0</translate>
						</drop_ship_supplier_name>
						<drop_ship_supplier_number>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passStringIf</method>
							<xml_dest>DropShipSupplierInformation/SupplierNumber</xml_dest>
							<translate>0</translate>
						</drop_ship_supplier_number>
						<drop_ship_supplier_part_number>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passStringIf</method>
							<xml_dest>DropShipSupplierInformation/SupplierPartNumber</xml_dest>
							<translate>0</translate>
						</drop_ship_supplier_part_number>
						<!-- 	Begin InStore only attributes
								these attributes are only available if the InStore module
								has been installed. Leaving them in this file has no affect
								if the InStore module is not installed -->
						<isp_eligible>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>ExtendedAttributes/IspEligible</xml_dest>
							<translate>0</translate>
						</isp_eligible>
						<inventory_check_eligible>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>ExtendedAttributes/InventoryCheckEligible</xml_dest>
							<translate>0</translate>
						</inventory_check_eligible>
						<isp_reserve_eligible>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>ExtendedAttributes/IspReserveEligible</xml_dest>
							<translate>0</translate>
						</isp_reserve_eligible>
						<sts_eligible>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>ExtendedAttributes/StsEligible</xml_dest>
							<translate>0</translate>
						</sts_eligible>
						<sfs_eligible>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>ExtendedAttributes/SfsEligible</xml_dest>
							<translate>0</translate>
						</sfs_eligible>
						<!-- End InStore only attributes -->
						<!--
						 - Temporary mappings for subscriptions elements that
						 - should be optional but currently are not. Once XSDs
						 - are updated to allow elements to be optional, these
						 - should be removed.
						-->
						<_subscription_eligible>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passSubscriptionEligible</method>
							<xml_dest>ExtendedAttributes/SubscriptionAttributes/SubscriptionEligible</xml_dest>
						</_subscription_eligible>
						<_subscription_type>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passSubscriptionType</method>
							<xml_dest>ExtendedAttributes/SubscriptionAttributes/SubscriptionType</xml_dest>
						</_subscription_type>
						<!-- End temporary mappings for subscription elements. -->
						<gift_message_available>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passYesNoToBool</method>
							<xml_dest>ExtendedAttributes/AllowGiftMessage</xml_dest>
							<translate>0</translate>
						</gift_message_available>
						<_color_code>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passColorCode</method>
							<xml_dest>ExtendedAttributes/ColorAttributes/Color/Code</xml_dest>
							<translate>0</translate>
						</_color_code>
						<_color_description>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passColorDescription</method>
							<xml_dest>ExtendedAttributes/ColorAttributes/Color/Description</xml_dest>
							<translate>1</translate>
						</_color_description>
						<country_of_manufacture>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passIsoCountryCode</method>
							<xml_dest>ExtendedAttributes/CountryOfOrigin</xml_dest>
							<translate>0</translate>
						</country_of_manufacture>
						<_giftcard>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passGiftCard</method>
							<xml_dest>ExtendedAttributes/</xml_dest>
							<translate>0</translate>
						</_giftcard>
						<manufacturer>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/Manufacturer/Name</xml_dest>
							<translate>0</translate>
						</manufacturer>
						<sales_class>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passSalesClass</method>
							<xml_dest>ExtendedAttributes/SalesClass</xml_dest>
							<translate>0</translate>
						</sales_class>
						<_style>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passStyle</method>
							<xml_dest>ExtendedAttributes/Style/</xml_dest>
							<translate>0</translate>
						</_style>
						<supplier_part_number>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passSupplierPartNumber</method>
							<xml_dest>ExtendedAttributes/Supplier/SupplierPartNumber</xml_dest>
							<translate>0</translate>
						</supplier_part_number>
						<cost>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passUnitCost</method>
							<xml_dest>ExtendedAttributes/</xml_dest>
							<translate>0</translate>
						</cost>
						<item_url>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passItemURL</method>
							<xml_dest>EB2C/ItemURLs/</xml_dest>
							<translate>0</translate>
						</item_url>
					</mappings>
				</item_map>
				<content_map>
					<mappings>
						<_gsi_client_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passGsiClientId</method>
							<xml_dest>@gsi_client_id</xml_dest>
							<translate>0</translate>
						</_gsi_client_id>
						<_catalog_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passCatalogId</method>
							<xml_dest>@catalog_id</xml_dest>
							<translate>0</translate>
						</_catalog_id>
						<sku>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passSKU</method>
							<xml_dest>UniqueID</xml_dest>
							<translate>0</translate>
						</sku>
						<_style_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passStyleId</method>
							<xml_dest>StyleID</xml_dest>
							<translate>0</translate>
						</_style_id>
						<_product_links>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passProductLinks</method>
							<xml_dest>ProductLinks</xml_dest>
							<translate>0</translate>
						</_product_links>
						<_category_links>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passCategoryLinks</method>
							<xml_dest>CategoryLinks</xml_dest>
							<translate>0</translate>
						</_category_links>
						<name>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>BaseAttributes/Title</xml_dest>
							<translate>1</translate>
						</name>
						<_color_code>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passColorCode</method>
							<xml_dest>ExtendedAttributes/ColorAttributes/Color/Code</xml_dest>
							<translate>0</translate>
						</_color_code>
						<_color_description>
							<class>ebayenterprise_catalog/itemmaster</class>
							<type>helper</type>
							<method>passColorDescription</method>
							<xml_dest>ExtendedAttributes/ColorAttributes/Color/Description</xml_dest>
							<translate>1</translate>
						</_color_description>
						<country_of_manufacture>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/DisplayCountryOfOrigin</xml_dest>
							<translate>0</translate>
						</country_of_manufacture>
						<gift_wrapping_available>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passGiftWrap</method>
							<xml_dest>ExtendedAttributes/GiftWrap</xml_dest>
							<translate>0</translate>
						</gift_wrapping_available>
						<description>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/LongDescription</xml_dest>
							<translate>1</translate>
						</description>
						<meta_keyword>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/SearchKeywords</xml_dest>
							<translate>1</translate>
						</meta_keyword>
						<short_description>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/ShortDescription</xml_dest>
							<translate>1</translate>
						</short_description>
						<_giftcard>
							<class>ebayenterprise_catalog/pim</class>
							<type>disabled</type>
							<method>passString</method>
							<xml_dest>ExtendedAttributes/GiftCard</xml_dest>
							<translate>0</translate>
						</_giftcard>
						<news_from_date>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>getValueAsDefault</method>
							<xml_dest>CustomAttributes/Attribute[@name="news_from_date"]</xml_dest>
							<translate>0</translate>
						</news_from_date>
						<news_to_date>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>getValueAsDefault</method>
							<xml_dest>CustomAttributes/Attribute[@name="news_to_date"]</xml_dest>
							<translate>0</translate>
						</news_to_date>
					</mappings>
				</content_map>
				<price_map>
					<mappings>
						<_gsi_client_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passGsiClientId</method>
							<xml_dest>@gsi_client_id</xml_dest>
							<translate>0</translate>
						</_gsi_client_id>
						<_catalog_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passCatalogId</method>
							<xml_dest>@catalog_id</xml_dest>
							<translate>0</translate>
						</_catalog_id>
						<_gsi_store_id>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passStoreId</method>
							<xml_dest>@gsi_store_id</xml_dest>
							<translate>0</translate>
						</_gsi_store_id>
						<sku>
							<class>ebayenterprise_catalog/pim</class>
							<type>helper</type>
							<method>passSKU</method>
							<xml_dest>ClientItemId</xml_dest>
							<translate>0</translate>
						</sku>
						<_price_event_number>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passPriceEventNumber</method>
							<xml_dest>Event/EventNumber</xml_dest>
							<translate>0</translate>
						</_price_event_number>
						<price>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passPrice</method>
							<xml_dest>Event/Price</xml_dest>
							<translate>0</translate>
						</price>
						<msrp>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passMsrp</method>
							<xml_dest>Event/MSRP</xml_dest>
							<translate>0</translate>
						</msrp>
						<alternate_price1>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passAlternatePrice</method>
							<xml_dest>Event/AlternatePrice1</xml_dest>
							<translate>0</translate>
						</alternate_price1>
						<special_from_date>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passPriceDateFrom</method>
							<xml_dest>Event/StartDate</xml_dest>
							<translate>0</translate>
						</special_from_date>
						<special_to_date>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passPriceDateTo</method>
							<xml_dest>Event/EndDate</xml_dest>
							<translate>0</translate>
						</special_to_date>
						<_price_vat_inclusive>
							<class>ebayenterprise_catalog/pim_price</class>
							<type>helper</type>
							<method>passPriceVatInclusive</method>
							<xml_dest>Event/PriceVatInclusive</xml_dest>
							<translate>0</translate>
						</_price_vat_inclusive>
					</mappings>
				</price_map>
			</feed_pim_mapping>
		</ebayenterprise_catalog>
	</default>
</config>
