<?xml version="1.0"?>
<!-- initial phpunit configuration file, that you can modify for your project needs -->
<phpunit cacheTokens="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	strict="true"
	verbose="true"
	bootstrap="app/code/community/EcomDev/PHPUnit/bootstrap.php">
	<listeners>
		<listener file="app/code/community/EcomDev/PHPUnit/Test/Listener.php" class="EcomDev_PHPUnit_Test_Listener" />
	</listeners>
	<testsuite name="Magento Test Suite">
		<file>app/code/community/EcomDev/PHPUnit/Test/Suite.php</file>
	</testsuite>
	<groups>
		<include>
			<group>TrueAction_Eb2c_Core</group>
			<group>TrueAction_Eb2c_Address</group>
			<group>TrueAction_Eb2c_Inventory</group>
			<group>TrueAction_Eb2c_Order</group>
			<group>TrueAction_Eb2c_Payment</group>
			<group>TrueAction_Eb2c_Product</group>
			<group>TrueAction_Eb2c_Tax</group>
		</include>
	</groups>
	<filter>
		<blacklist>
			<!-- Exclude all lib classes from code coverage. -->
			<directory suffix=".php">lib</directory>
			<!-- Exclude Magento Core files from code coverage -->
			<directory suffix=".php">app/code/core</directory>
			<!-- Exclude community code pool from code coverage -->
			<directory suffix=".php">app/code/community</directory>
			<!-- Exclude Mage.php file from code coverage -->
			<file>app/Mage.php</file>
			<!-- Exclude template files -->
			<directory suffix=".phtml">app/design</directory>
		</blacklist>
	</filter>
	<logging>
		<log type="coverage-html" target="var/phpunit/coverage" charset="UTF-8"
			yui="true" highlight="false"
			lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="var/phpunit/coverage.xml"/>
		<log type="junit" target="var/phpunit/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
