<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Catalog>
			<version>1.2.0</version>
		</EbayEnterprise_Catalog>
	</modules>
	<global>
		<models>
			<ebayenterprise_catalog>
				<class>EbayEnterprise_Catalog_Model</class>
				<resourceModel>ebayenterprise_catalog_resource</resourceModel>
			</ebayenterprise_catalog>
			<ebayenterprise_catalog_resource>
				<class>EbayEnterprise_Catalog_Model_Resource</class>
			</ebayenterprise_catalog_resource>
		</models>
		<helpers>
			<ebayenterprise_catalog>
				<class>EbayEnterprise_Catalog_Helper</class>
			</ebayenterprise_catalog>
		</helpers>
		<resources>
			<eb2cproduct_setup>
				<setup>
					<module>EbayEnterprise_Catalog</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</eb2cproduct_setup>
		</resources>
		<events>
			<catalog_product_edit_action>
				<observers>
					<lock_readonly_attributes>
						<class>ebayenterprise_catalog/observers</class>
						<method>lockReadOnlyAttributes</method>
						<!--
								Unfortunately, there is no actual support for an <args>node. This
								would be the perfect place to list the attributes we wish to
								treat as readonly. But as of Tue May 6 2014, this is not really
								supported.

								Please search for readonly_attributes which are defined at
								ebayenterprise_catalog/readonly_attributes.
							-->
					</lock_readonly_attributes>
				</observers>
			</catalog_product_edit_action>
			<product_feed_processing_complete>
				<observers>
					<eb2c_reindex_all>
						<class>eb2ccore/indexer</class>
						<method>reindexAll</method>
					</eb2c_reindex_all>
				</observers>
			</product_feed_processing_complete>
			<product_feed_complete_error_confirmation>
				<observers>
					<eb2c_error_confirmations>
						<class>ebayenterprise_catalog/error_confirmations</class>
						<method>process</method>
					</eb2c_error_confirmations>
				</observers>
			</product_feed_complete_error_confirmation>
			<product_feed_process_operation_type_error_confirmation>
				<observers>
					<eb2c_error_confirmations_operation>
						<class>ebayenterprise_catalog/error_confirmations</class>
						<method>processByOperationType</method>
					</eb2c_error_confirmations_operation>
				</observers>
			</product_feed_process_operation_type_error_confirmation>
			<filetransfer_import_complete>
				<observers>
					<eb2c_product_run_imports>
						<class>ebayenterprise_catalog/feed</class>
						<method>processFeeds</method>
						<type>model</type>
					</eb2c_product_run_imports>
					<eb2c_export_run_acks>
						<class>ebayenterprise_catalog/feed_ack</class>
						<method>process</method>
						<type>model</type>
					</eb2c_export_run_acks>
				</observers>
			</filetransfer_import_complete>
			<ebayenterprise_product_export_price_map>
				<observers>
					<ebayenterprise_product_export_collector_price>
						<class>ebayenterprise_catalog/pim_collector_price</class>
						<method>gatherBatches</method>
						<type>model</type>
					</ebayenterprise_product_export_collector_price>
				</observers>
			</ebayenterprise_product_export_price_map>
			<ebayenterprise_product_export_item_map>
				<observers>
					<ebayenterprise_product_export_collector_combined>
						<class>ebayenterprise_catalog/pim_collector_combined</class>
						<method>gatherAllAsOneBatch</method>
						<type>model</type>
					</ebayenterprise_product_export_collector_combined>
				</observers>
			</ebayenterprise_product_export_item_map>
			<ebayenterprise_product_export_content_map>
				<observers>
					<ebayenterprise_product_export_collector_combined>
						<class>ebayenterprise_catalog/pim_collector_combined</class>
						<method>gatherAllAsOneBatch</method>
						<type>model</type>
					</ebayenterprise_product_export_collector_combined>
				</observers>
			</ebayenterprise_product_export_content_map>
			<!-- iship should eventually move to its own module -->
			<ebayenterprise_feed_dom_loaded>
				<observers>
					<iship_product_feed_dom>
						<class>ebayenterprise_catalog/iship_observers</class>
						<method>processDom</method>
					</iship_product_feed_dom>
				</observers>
			</ebayenterprise_feed_dom_loaded>
		</events>
	</global>
	<default>
		<eb2ccore>
			<feed>
				<!-- iship should eventually move to its own module: -->
				<filetransfer_imports>
					<i_ship>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>iShip</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>iShip</event_type>
							</message_header>
						</outbound>
						<remote_directory>/Inbox/Product</remote_directory>
						<file_pattern>*iShip_*.xml</file_pattern>
					</i_ship>
					<!-- ItemMaster, Content and Pricing and exclusively used in a ROM Extension Import instance -->
					<item_master>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>ItemMaster</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>ItemMaster</event_type>
							</message_header>
						</outbound>
						<remote_directory>/Inbox/Product</remote_directory>
						<file_pattern>*ItemMaster_*.xml</file_pattern>
					</item_master>
					<content_master>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>ContentMaster</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>ContentMaster</event_type>
							</message_header>
						</outbound>
						<remote_directory>/Inbox/Product</remote_directory>
						<file_pattern>*Content_*.xml</file_pattern>
					</content_master>
					<item_pricing>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>Pricing</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>Pricing</event_type>
							</message_header>
						</outbound>
						<file_pattern>*Price_*.xml</file_pattern>
						<!--
							Pricing's remote_directory is specified out in app/etc/productimport.xml, so that
							it can be changed by an SI - it contains a hardcoded Store Id
						  -->
					</item_pricing>
				</filetransfer_imports>
				<outbound>
					<message_header>
						<standard>GSI</standard>
						<header_version>NGP1_1_0</header_version>
						<version_release_number>NGP1_1_0</version_release_number>
						<destination_id>PHUB</destination_id>
						<destination_type>PHUB</destination_type>
						<source_type>Client</source_type>
						<source_id>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getClientId</method>
						</source_id>
						<message_id>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getMessageId</method>
						</message_id>
						<correlation_id>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getCorrelationId</method>
						</correlation_id>
						<create_date_and_time>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getCreatedDateTime</method>
						</create_date_and_time>
					</message_header>
					<file_name>
						<time_stamp>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getTimeStamp</method>
						</time_stamp>
						<client_id>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getClientId</method>
						</client_id>
						<catalog_id>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getCatalogId</method>
						</catalog_id>
						<store_id>
							<type>helper</type>
							<class>ebayenterprise_catalog/feed</class>
							<method>getStoreId</method>
						</store_id>
					</file_name>
					<file_pattern>Export_{feed_type}_{client_id}_{catalog_id}_{store_id}_{time_stamp}.xml</file_pattern>
				</outbound>
			</feed>
		</eb2ccore>
		<ebayenterprise_catalog>
			<!-- These attributes will display in the admin panel, but cannot be edited -->
			<readonly_attributes><![CDATA[hts_codes,is_clean,unresolved_product_links]]></readonly_attributes>
			<dummy>
				<!-- Default values for product attributes where Vanilla Magento doesn't already have defaults. -->
				<description>This product is invalid. If you are seeing this product, please do not attempt to purchase and contact customer service.</description>
				<in_stock>1</in_stock>
				<manage_stock>1</manage_stock>
				<short_description>invalid product. Please do not attempt to purchase.</short_description>
				<stock_quantity>0</stock_quantity>
				<type_id>simple</type_id>
				<weight>0</weight>
			</dummy>
			<api_service>product</api_service>
			<api_return_format>xml</api_return_format>
			<pim_export_feed>
				<cutoff_date/>
				<batch_size/>
			</pim_export_feed>
			<processor_delete_batch_size>200</processor_delete_batch_size>
			<processor_max_total_entries>200</processor_max_total_entries>
			<processor_update_batch_size>100</processor_update_batch_size>
			<attributes_code_list>color,size</attributes_code_list>
			<feed>
				<map>
					<ext_keys>brand_name,buyer_id,color,companion_flag,country_of_origin,gift_card_tender_code,hazardous_material_code,long_description,lot_tracking_indicator,ltl_freight_cost,may_ship_expedite,may_ship_international,may_ship_usps,msrp,price,safety_stock,sales_class,serial_number_type,ship_group,ship_window_max_hour,ship_window_min_hour,short_description,street_date,style_description,style_id,supplier_name,supplier_supplier_id</ext_keys>
					<ext_keys_bool>allow_gift_message,back_orderable,gift_wrap,gift_wrapping_available,is_hidden_product,service_indicator</ext_keys_bool>
				</map>
				<related_link_types>
					<es_accessory>related</es_accessory>
					<es_crossselling>crosssell</es_crossselling>
					<es_upselling>upsell</es_upselling>
				</related_link_types>
				<!--
				Mapping SalesClass possible values to a known value for Magento product stock item manage_stock attribute
				-->
				<stock_map>
					<stock>Yes</stock>
					<advanceOrderOpen>No</advanceOrderOpen>
					<advanceOrderLimited>Yes</advanceOrderLimited>
				</stock_map>
				<import_configuration>
					<xslt_deleted_sku>delete-template.xsl</xslt_deleted_sku>
					<deleted_base_xpath>sku</deleted_base_xpath>
					<xslt_default_template_path>default-language-template.xsl</xslt_default_template_path>
					<xslt_single_template_path>single-language-template.xsl</xslt_single_template_path>
					<base_item_xpath>/Items/Item</base_item_xpath>
					<all_skus_xpath>/Items/Item/ItemId/ClientItemId|/Items/Item/UniqueID|/Items/Item/ClientItemId</all_skus_xpath>
					<feed_type>product</feed_type>
					<xslt_module>EbayEnterprise_Catalog</xslt_module>
					<extractor_callback_path>ebayenterprise_catalog/feed_attribute_mappings</extractor_callback_path>
					<extractor_sku_xpath>ItemId/ClientItemId|UniqueID|ClientItemId</extractor_sku_xpath>
					<allowable_event_type>ItemMaster,ContentMaster,iShip,Pricing</allowable_event_type>
				</import_configuration>
			</feed>
			<feed_attribute_mappings>
				<attribute_set_id>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractAttributeSetValue</method>
					<xpath>CustomAttributes/Attribute[@name="AttributeSet"]/Value</xpath>
				</attribute_set_id>
				<category_ids>
					<class>ebayenterprise_catalog/map_category</class>
					<type>helper</type>
					<method>extractCategoryIds</method>
					<xpath>CategoryLinks/CategoryLink[@import_mode!="Delete"]/Name</xpath>
				</category_ids>
				<country_of_manufacture>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/CountryOfOrigin|BaseAttributes/CountryOfOrigin</xpath>
				</country_of_manufacture>
				<is_clean>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>0</xpath>
				</is_clean>
				<type_id>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractProductTypeValue</method>
					<xpath>CustomAttributes/Attribute[@name="ProductType"]/Value</xpath>
				</type_id>
				<sku>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ItemId/ClientItemId|UniqueID|ClientItemId</xpath>
				</sku>
				<style_id>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ExtendedAttributes/Style/StyleID|StyleID</xpath>
				</style_id>
				<tax_code>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/TaxCode</xpath>
				</tax_code>
				<unresolved_product_links>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractProductLinks</method>
					<xpath>ProductLinks/ProductLink</xpath>
				</unresolved_product_links>
				<name>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/Title</xpath>
				</name>
				<description>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/LongDescription</xpath>
				</description>
				<short_description>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/ShortDescription</xpath>
				</short_description>
				<price>
					<class>ebayenterprise_catalog/map_price</class>
					<type>helper</type>
					<method>extractPrice</method>
					<xpath>Event</xpath>
				</price>
				<special_price>
					<class>ebayenterprise_catalog/map_price</class>
					<type>helper</type>
					<method>extractSpecialPrice</method>
					<xpath>Event</xpath>
				</special_price>
				<special_from_date>
					<class>ebayenterprise_catalog/map_price</class>
					<type>helper</type>
					<method>extractPriceEventFromDate</method>
					<xpath>Event</xpath>
				</special_from_date>
				<special_to_date>
					<class>ebayenterprise_catalog/map_price</class>
					<type>helper</type>
					<method>extractPriceEventToDate</method>
					<xpath>Event</xpath>
				</special_to_date>
				<msrp>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>Event/MSRP</xpath>
				</msrp>
				<weight>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>ExtendedAttributes/ItemDimension/Shipping/Mass/Weight</xpath>
				</weight>
				<status>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractStatusValue</method>
					<xpath>BaseAttributes/ItemStatus</xpath>
				</status>
				<visibility>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>extractVisibilityValue</method>
					<xpath>BaseAttributes/CatalogClass</xpath>
				</visibility>
				<tax_class_id>
					<class>ebayenterprise_catalog/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>0</xpath>
				</tax_class_id>
				<price_view>
					<class>ebayenterprise_catalog/map</class>
					<type>disabled</type>
					<method/>
					<xpath/>
				</price_view>
				<allow_open_amount>
					<class>ebayenterprise_catalog/map</class>
					<type>disabled</type>
					<method/>
					<xpath/>
				</allow_open_amount>
				<stock_data>
					<class>ebayenterprise_catalog/map_stock</class>
					<type>helper</type>
					<method>extractStockData</method>
					<xpath>ExtendedAttributes/SalesClass</xpath>
				</stock_data>
			</feed_attribute_mappings>
			<feed_pim_mapping>
				<!-- http://confluence.tools.us.gspt.net/display/v11dev/Outbound+Inbound+File+Naming+Convention -->
				<item_map>
					<file_pattern>{client_id}_{catalog_id}_{feed_type}_{time_stamp}.xml</file_pattern>
					<root_node>ItemMaster</root_node>
					<item_node>Item</item_node>
					<event_type>ItemMaster</event_type>
					<schema_location>ItemMasterV11.xsd</schema_location>
					<is_validate>true</is_validate>
				</item_map>
				<content_map>
					<!-- Event Type is ContentMaster, but file name has Content. -->
					<file_pattern>{client_id}_{catalog_id}_Content_{time_stamp}.xml</file_pattern>
					<root_node>ContentMaster</root_node>
					<item_node>Content</item_node>
					<event_type>ContentMaster</event_type>
					<schema_location>ContentFeedV11.xsd</schema_location>
					<is_validate>true</is_validate>
				</content_map>
				<price_map>
					<!-- Event Type is Pricing, but file name has Price. Double-checked. -->
					<file_pattern>{client_id}_{store_id}_{catalog_id}_Price_{time_stamp}.xml</file_pattern>
					<root_node>Prices</root_node>
					<item_node>PricePerItem</item_node>
					<event_type>Pricing</event_type>
					<schema_location>PriceEventV11.xsd</schema_location>
					<is_validate>true</is_validate>
				</price_map>
			</feed_pim_mapping>
		</ebayenterprise_catalog>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Catalog/>
			</modules>
		</suite>
	</phpunit>
</config>
