<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_Catalog>
            <version>1.6.0</version>
        </EbayEnterprise_Catalog>
    </modules>
    <global>
        <models>
            <ebayenterprise_catalog>
                <class>EbayEnterprise_Catalog_Model</class>
                <resourceModel>ebayenterprise_catalog_resource</resourceModel>
            </ebayenterprise_catalog>
            <ebayenterprise_catalog_resource>
                <class>EbayEnterprise_Catalog_Model_Resource</class>
            </ebayenterprise_catalog_resource>
        </models>
        <helpers>
            <ebayenterprise_catalog>
                <class>EbayEnterprise_Catalog_Helper</class>
            </ebayenterprise_catalog>
        </helpers>
        <resources>
            <ebayenterprise_catalog_setup>
                <setup>
                    <module>EbayEnterprise_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ebayenterprise_catalog_setup>
        </resources>
        <events>
            <!--
                observe the `ebayenterprise_feed_dom_loaded` event to process a feed
            -->
            <catalog_product_edit_action>
                <observers>
                    <lock_readonly_attributes>
                        <class>ebayenterprise_catalog/observers</class>
                        <method>lockReadOnlyAttributes</method>
                        <!--
                        Please search for readonly_attributes which are defined at
                        ebayenterprise_catalog/readonly_attributes.
                        -->
                    </lock_readonly_attributes>
                </observers>
            </catalog_product_edit_action>
            <product_feed_complete_error_confirmation>
                <observers>
                    <eb2c_error_confirmations>
                        <class>ebayenterprise_catalog/error_confirmations</class>
                        <method>process</method>
                    </eb2c_error_confirmations>
                </observers>
            </product_feed_complete_error_confirmation>
            <product_feed_process_operation_type_error_confirmation>
                <observers>
                    <eb2c_error_confirmations_operation>
                        <class>ebayenterprise_catalog/error_confirmations</class>
                        <method>processByOperationType</method>
                    </eb2c_error_confirmations_operation>
                </observers>
            </product_feed_process_operation_type_error_confirmation>
            <filetransfer_import_complete>
                <observers>
                    <eb2c_product_run_imports>
                        <class>ebayenterprise_catalog/feed</class>
                        <method>processFeeds</method>
                        <type>model</type>
                    </eb2c_product_run_imports>
                    <eb2c_export_run_acks>
                        <class>ebayenterprise_catalog/feed_ack</class>
                        <method>process</method>
                        <type>model</type>
                    </eb2c_export_run_acks>
                </observers>
            </filetransfer_import_complete>
            <ebayenterprise_product_export_price_map>
                <observers>
                    <ebayenterprise_product_export_collector_price>
                        <class>ebayenterprise_catalog/pim_collector_price</class>
                        <method>gatherBatches</method>
                        <type>model</type>
                    </ebayenterprise_product_export_collector_price>
                </observers>
            </ebayenterprise_product_export_price_map>
            <ebayenterprise_product_export_item_map>
                <observers>
                    <ebayenterprise_product_export_collector_combined>
                        <class>ebayenterprise_catalog/pim_collector_combined</class>
                        <method>gatherAllAsOneBatch</method>
                        <type>model</type>
                    </ebayenterprise_product_export_collector_combined>
                </observers>
            </ebayenterprise_product_export_item_map>
            <ebayenterprise_product_export_content_map>
                <observers>
                    <ebayenterprise_product_export_collector_combined>
                        <class>ebayenterprise_catalog/pim_collector_combined</class>
                        <method>gatherAllAsOneBatch</method>
                        <type>model</type>
                    </ebayenterprise_product_export_collector_combined>
                </observers>
            </ebayenterprise_product_export_content_map>
        </events>
    </global>
    <default>
        <eb2ccore>
            <feed>
                <export>
                    <ack>
                        <!--
                        Limit the waiting time on resending an exported file
                        that has no imported acknowledgment file yet
                        -->
                        <resend_time_limit>5</resend_time_limit>
                    </ack>
                </export>
                <!-- iShip should eventually move to its own module: -->
                <filetransfer_imports>
                    <!--
                    iShip should probably move to its own module. It is imported in both
                    Import and Export modes, so, it's got to be specified somewhere.
                    -->
                    <i_ship>
                        <local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
                        <event_type>iShip</event_type>
                        <header_version>2.3.0</header_version>
                        <outbound>
                            <message_header>
                                <event_type>iShip</event_type>
                            </message_header>
                        </outbound>
                        <remote_directory>/Inbox/Product</remote_directory>
                        <file_pattern>*iShip_*.xml</file_pattern>
                    </i_ship>
                    <!-- ItemMaster, Content and Pricing are read by ProductImport module, written by ProductExport module -->
                    <item_master>
                        <local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
                        <event_type>ItemMaster</event_type>
                        <header_version>2.3.0</header_version>
                        <outbound>
                            <message_header>
                                <event_type>ItemMaster</event_type>
                            </message_header>
                        </outbound>
                        <remote_directory>/Inbox/Product</remote_directory>
                        <file_pattern>*ItemMaster_*.xml</file_pattern>
                    </item_master>
                    <content_master>
                        <local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
                        <event_type>ContentMaster</event_type>
                        <header_version>2.3.0</header_version>
                        <outbound>
                            <message_header>
                                <event_type>ContentMaster</event_type>
                            </message_header>
                        </outbound>
                        <remote_directory>/Inbox/Product</remote_directory>
                        <file_pattern>*Content_*.xml</file_pattern>
                    </content_master>
                    <item_pricing>
                        <local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
                        <event_type>Pricing</event_type>
                        <header_version>2.3.0</header_version>
                        <outbound>
                            <message_header>
                                <event_type>Pricing</event_type>
                            </message_header>
                        </outbound>
                        <!--
                        The remote_directoy node for Pricing must reside in app/etc/productimport.xml,
                        because it contains The ROM Store ID.
                        <remote_directory>/Inbox/Channel/MAGT1/Pricing</remote_directory>
                        -->
                        <file_pattern>*Price_*.xml</file_pattern>
                    </item_pricing>
                </filetransfer_imports>
                <outbound>
                    <message_header>
                        <standard>ROM</standard>
                        <header_version>MAGENTO</header_version>
                        <version_release_number>4.4</version_release_number>
                        <destination_id>PHUB</destination_id>
                        <destination_type>PHUB</destination_type>
                        <source_type>Client</source_type>
                        <source_id>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getClientId</method>
                        </source_id>
                        <message_id>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getMessageId</method>
                        </message_id>
                        <correlation_id>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getCorrelationId</method>
                        </correlation_id>
                        <create_date_and_time>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getCreatedDateTime</method>
                        </create_date_and_time>
                    </message_header>
                    <file_name>
                        <time_stamp>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getTimeStamp</method>
                        </time_stamp>
                        <client_id>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getClientId</method>
                        </client_id>
                        <catalog_id>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getCatalogId</method>
                        </catalog_id>
                        <store_id>
                            <type>helper</type>
                            <class>ebayenterprise_catalog/feed</class>
                            <method>getStoreId</method>
                        </store_id>
                    </file_name>
                    <file_pattern>Export_{feed_type}_{client_id}_{catalog_id}_{store_id}_{time_stamp}.xml</file_pattern>
                </outbound>
            </feed>
        </eb2ccore>
        <ebayenterprise_catalog>
            <!-- These attributes will display in the admin panel, but cannot be edited -->
            <readonly_attributes><![CDATA[hts_codes,is_clean,unresolved_product_links]]></readonly_attributes>
            <dummy>
                <!-- Default values for product attributes where Vanilla Magento doesn't already have defaults. -->
                <description>This product is incomplete. If you are seeing this product, please do not attempt to purchase and contact customer service.</description>
                <in_stock>1</in_stock>
                <manage_stock>1</manage_stock>
                <short_description>Incomplete product. Please do not attempt to purchase.</short_description>
                <stock_quantity>0</stock_quantity>
                <type_id>simple</type_id>
                <weight>0</weight>
            </dummy>
            <api_service>product</api_service>
            <api_return_format>xml</api_return_format>
            <attributes_code_list>color,size</attributes_code_list>
        </ebayenterprise_catalog>
    </default>
    <phpunit>
        <suite>
            <modules>
                <EbayEnterprise_Catalog/>
            </modules>
        </suite>
    </phpunit>
</config>
