<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<TrueAction_Eb2cAddressFrontend>
			<version>0.9.0</version>
		</TrueAction_Eb2cAddressFrontend>
	</modules>
	<frontend>
		<layout>
			<updates>
				<eb2caddressfrontend>
					<file>eb2caddress_frontend.xml</file>
				</eb2caddressfrontend>
			</updates>
		</layout>
	</frontend>
</config>
