<?xml version="1.0"?>
<config>
	<modules>
		<TrueAction_Eb2c_Address>
			<version>0.1</version>
		</TrueAction_Eb2c_Address>
	</modules>
	<global>
		<models>
			<eb2caddress>
				<class>TrueAction_Eb2c_Address_Model</class>
			</eb2caddress>
		</models>
		<helpers>
			<eb2caddress>
				<class>TrueAction_Eb2c_Address_Helper</class>
			</eb2caddress>
		</helpers>
		<blocks>
			<eb2caddress>
				<class>TrueAction_Eb2c_Address_Block</class>
			</eb2caddress>
		</blocks>
	</global>
	<default>
		<eb2caddress>
			<general>
				<max_suggestions>3</max_suggestions>
			</general>
			<api>
				<namespace_uri><![CDATA[http://api.gsicommerce.com/schema/checkout/1.0]]></namespace_uri>
			</api>
		</eb2caddress>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2c_Address />
			</modules>
		</suite>
	</phpunit>
</config>