<?xml version="1.0"?>
<config>
	<modules>
		<TrueAction_Eb2cAddress>
			<version>0.1</version>
		</TrueAction_Eb2cAddress>
	</modules>
	<global>
		<models>
			<eb2caddress>
				<class>TrueAction_Eb2cAddress_Model</class>
			</eb2caddress>
		</models>
		<helpers>
			<eb2caddress>
				<class>TrueAction_Eb2cAddress_Helper</class>
			</eb2caddress>
		</helpers>
		<blocks>
			<eb2caddress>
				<class>TrueAction_Eb2cAddress_Block</class>
			</eb2caddress>
		</blocks>
	</global>
	<frontend>
		<translate>
			<modules>
				<TrueAction_Eb2cAddress>
					<files>
						<default>TrueAction_Eb2cAddress.csv</default>
					</files>
				</TrueAction_Eb2cAddress>
			</modules>
		</translate>
		<events>
			<customer_address_validation_after>
				<observers>
					<eb2caddress_validate_address>
						<type>singleton</type>
						<class>eb2caddress/observer</class>
						<method>validateAddress</method>
					</eb2caddress_validate_address>
				</observers>
			</customer_address_validation_after>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
				<observers>
					<eb2caddress_add_suggestions_to_billing_response>
						<type>singleton</type>
						<class>eb2caddress/observer</class>
						<method>addSuggestionsToResponse</method>
					</eb2caddress_add_suggestions_to_billing_response>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveBilling>
			<controller_action_postdispatch_checkout_onepage_saveShipping>
				<observers>
					<eb2caddress_add_suggestions_to_shipping_response>
						<type>singleton</type>
						<class>eb2caddress/observer</class>
						<method>addSuggestionsToResponse</method>
					</eb2caddress_add_suggestions_to_shipping_response>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveShipping>
		</events>
	</frontend>
	<default>
		<eb2caddress>
			<general>
				<enabled>1</enabled>
				<max_suggestions>3</max_suggestions>
			</general>
			<address_suggestion_templates>
				<full_html><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br/>{{/depend}}
{{if street1}}{{var street1}}<br/>{{/if}}
{{depend street2}}{{var street2}}<br/>{{/depend}}
{{depend street3}}{{var street3}}<br/>{{/depend}}
{{depend street4}}{{var street4}}<br/>{{/depend}}
{{if city}}{{var city}}, {{/if}}{{if region}}{{var region}}{{/if}}<br/>
{{if postcode}}{{var postcode}}<br/>{{/if}}
{{var country}}]]></full_html>
				<address_only_html><![CDATA[{{if street1}}{{var street1}}<br/>{{/if}}
{{depend street2}}{{var street2}}<br/>{{/depend}}
{{depend street3}}{{var street3}}<br/>{{/depend}}
{{depend street4}}{{var street4}}<br/>{{/depend}}
{{if city}}{{var city}}, {{/if}}{{if region}}{{var region}}{{/if}}<br/>
{{if postcode}}{{var postcode}}<br/>{{/if}}
{{var country}}]]></address_only_html>
			</address_suggestion_templates>
			<xsd>
				<address_validation_file>Address-Validation-Service-1.0.xsd</address_validation_file>
			</xsd>
		</eb2caddress>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cAddress />
			</modules>
		</suite>
	</phpunit>
</config>
