<?xml version="1.0"?>
<config>
	<modules>
		<TrueAction_Eb2cCore>
			<version>0.1</version>
		</TrueAction_Eb2cCore>
	</modules>
	<global>
		<models>
			<eb2ccore>
				<class>TrueAction_Eb2cCore_Model</class>
			</eb2ccore>
		</models>
		<helpers>
			<eb2ccore>
				<class>TrueAction_Eb2cCore_Helper</class>
			</eb2ccore>
		</helpers>
	</global>
	<default>
		<eb2ccore>
			<general>
				<catalog_id />
				<client_id />
				<store_id />
				<test_mode />
			</general>
			<api>
				<environment>api</environment>
				<key backend_model="adminhtml/system_config_backend_encrypted" />
				<major_version>1</major_version>
				<minor_version>10</minor_version>
				<region>na</region>
				<timeout />
			</api>
			<feed>
				<destination_type>MAILBOX</destination_type>
				<filetransfer_protocol>sftp</filetransfer_protocol>
				<filetransfer_sftp_auth_type>password</filetransfer_sftp_auth_type>
			</feed>
			<development>
				<test_mode />
			</development>
			<service>
				<order>
					<timeout>15</timeout>
				</order>
				<payment>
					<timeout>17</timeout>
				</payment>
			</service>
		</eb2ccore>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cCore />
			</modules>
		</suite>
	</phpunit>
</config>
