<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<TrueAction_Eb2cCore>
			<version>1.0.0</version>
		</TrueAction_Eb2cCore>
	</modules>
	<global>
		<models>
			<eb2ccore>
				<class>TrueAction_Eb2cCore_Model</class>
			</eb2ccore>
		</models>
		<helpers>
			<eb2ccore>
				<class>TrueAction_Eb2cCore_Helper</class>
			</eb2ccore>
		</helpers>
	</global>
	<crontab>
		<jobs>
			<eb2cinventory_feed_item_inventories>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>eb2cinventory/feed_item_inventories::processFeeds</model>
				</run>
			</eb2cinventory_feed_item_inventories>
			<eb2corder_status_feed>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>eb2corder/status_feed::processFeeds</model>
				</run>
			</eb2corder_status_feed>
			<eb2cproduct_feed_item_master>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>eb2cproduct/feed_item_master::processFeeds</model>
				</run>
			</eb2cproduct_feed_item_master>
			<eb2cproduct_feed_content_master>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>eb2cproduct/feed_content_master::processFeeds</model>
				</run>
			</eb2cproduct_feed_content_master>
			<eb2cproduct_feed_pricing>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>eb2cproduct/feed_item_pricing::processFeeds</model>
				</run>
			</eb2cproduct_feed_pricing>
			<eb2cproduct_feed_iship>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>eb2cproduct/feed_i_ship::processFeeds</model>
				</run>
			</eb2cproduct_feed_iship>
		</jobs>
	</crontab>
	<default>
		<eb2ccore>
			<general>
				<catalog_id/>
				<client_customer_id_prefix/>
				<client_id/>
				<client_order_id_prefix/>
				<store_id/>
			</general>
			<api>
				<environment>api</environment>
				<key backend_model="adminhtml/system_config_backend_encrypted"/>
				<major_version>1</major_version>
				<minor_version>0</minor_version>
				<region>na</region>
				<timeout/>
				<xml_namespace><![CDATA[http://api.gsicommerce.com/schema/checkout/1.0]]></xml_namespace>
				<xsd_path><![CDATA[http://eb2c.edge.mage.tandev.net/GSI%20eb2c%20Web%20Service%20Schemas%20v1.0/]]></xsd_path>
			</api>
			<feed>
				<destination_type>MAILBOX</destination_type>
				<filetransfer_protocol>sftp</filetransfer_protocol>
				<filetransfer_sftp_auth_type>pub_key</filetransfer_sftp_auth_type>
				<available_models>
					<eb2cinventory>
						<feed_item_Inventories>1</feed_item_Inventories>
					</eb2cinventory>
					<eb2corder>
						<status_feed>0</status_feed>
					</eb2corder>
					<eb2cproduct>
						<!-- TrueAction_Eb2cProduct_Model_Feed -->
						<feed>1</feed>
					<!--
						<feed_content_master>1</feed_content_master>
						<feed_image_master>1</feed_image_master>
						<feed_i_ship>1</feed_i_ship>
						<feed_item_master>1</feed_item_master>
						<feed_item_pricing>1</feed_item_pricing>
					-->
					</eb2cproduct>
				</available_models>
			</feed>
			<service>
				<order>
					<timeout>15</timeout>
				</order>
				<payment>
					<timeout>17</timeout>
				</payment>
			</service>
		</eb2ccore>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cCore/>
			</modules>
		</suite>
	</phpunit>
</config>
