<?xml version="1.0"?>
<config>
	<tabs>
		<eb2c translate="label" module="eb2ccore">
			<label>EB2C</label>
			<sort_order>550</sort_order>
		</eb2c>
	</tabs>
	<sections>
		<eb2ccore translate="label" module="eb2ccore">
			<class>separator-top</class>
			<label>Core</label>
			<tab>eb2c</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<catalog_id translate="label comment">
							<label>Catalog Id</label>
							<comment>The two-digit code that precedes all SKUs in this catalog.</comment>
							<sort_order>10</sort_order>
							<frontend_type>text</frontend_type>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</catalog_id>
						<client_id>
							<label>Client Id</label>
							<comment>The three-to-five letter code that identifies the client. Usually uppercase.</comment>
							<sort_order>20</sort_order>
							<frontend_type>text</frontend_type>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</client_id>
						<store_id>
							<label>Store Id</label>
							<comment>The three-to-five letter code that identifies the store. May be the same as Client Id.</comment>
							<sort_order>30</sort_order>
							<frontend_type>text</frontend_type>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</store_id>
					</fields>
				</general>
				<api>
					<label>API</label>
					<frontend_type>text</frontend_type>
					<sort_order>6</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<key>
							<label>API Key</label>
							<comment>The api key for EB2C web services.</comment>
							<sort_order>70</sort_order>
							<frontend_type>obscure</frontend_type>
							<validate>validate-password</validate>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</key>
						<timeout>
							<label>API Timeout</label>
							<comment>Time in milliseconds</comment>
							<sort_order>80</sort_order>
							<frontend_type>text</frontend_type>
							<validate>validate-digits</validate>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</timeout>
						<environment>
							<label>API Environment</label>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</environment>
					</fields>
				</api>
				<feed>
					<label>Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>7</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<activeconfig_import>
							<filetransfer>
								<sort_order>40</sort_order>
								<show_in_store>0</show_in_store>
							</filetransfer>
						</activeconfig_import>
						<!-- HACK TO MANUALLY MODIFY THE FIELDS -->
						<filetransfer_protocol>
							<show_in_default>0</show_in_default>
							<show_in_website>0</show_in_website>
						</filetransfer_protocol>
						<filetransfer_sftp_auth_type>
							<show_in_default>0</show_in_default>
							<show_in_website>0</show_in_website>
						</filetransfer_sftp_auth_type>
						<filetransfer_sftp_remote_path>
							<show_in_default>0</show_in_default>
							<show_in_website>0</show_in_website>
						</filetransfer_sftp_remote_path>
						<filetransfer_sftp_username>
							<label>SFTP User Name</label>
							<comment>The user name for authenticating to the feeds service.</comment>
							<validate>validate-required</validate>
						</filetransfer_sftp_username>
						<filetransfer_sftp_password>
							<label>SFTP Key</label>
							<comment>The private key for authenticating to the feeds service. (The feeds service must be provided a corresponding public key.)</comment>
							<validate>validate-password</validate>
						</filetransfer_sftp_password>
						<!-- END HACK -->
						<sftp_location>
							<label>SFTP Location</label>
							<comment>The sftp url to the feeds service. (sftp://host.gsipartners.com/path)</comment>
							<validate>validate-required</validate>
						</sftp_location>
					</fields>
				</feed>
				<development>
					<label>Development</label>
					<frontend_type>text</frontend_type>
					<sort_order>8</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<test_mode>
							<label>Test Mode</label>
							<comment>Should messages be sent as tests?</comment>
							<sort_order>90</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</test_mode>
					</fields>
				</development>
			</groups>
		</eb2ccore>
	</sections>
</config>
