<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <sections>
        <eb2ccore>
            <groups>
                <ebayenterprise_amqp translate="label">
                    <label>Message Queue</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <hostname translate="label">
                            <label>Hostname</label>
                            <frontend_type>text</frontend_type>
                            <config_path>ebayenterprise_amqp/connection/hostname</config_path>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hostname>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <config_path>ebayenterprise_amqp/connection/username</config_path>
                            <validate>validate-alphanum</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <config_path>ebayenterprise_amqp/connection/password</config_path>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <validate_amqp_connection translate="button_label">
                            <label/>
                            <sort_order>40</sort_order>
                            <button_label>Test AMQP Connection</button_label>
                            <frontend_model>ebayenterprise_amqp/system_config_testamqpconnection</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </validate_amqp_connection>
                        <last_message_received>
                            <label>Last Test Message Received</label>
                            <sort_order>50</sort_order>
                            <frontend_type>label</frontend_type>
                            <backend_model>ebayenterprise_amqp/adminhtml_system_config_backend_lasttestmessage</backend_model>
                            <config_path>ebayenterprise_amqp/general/last_test_message_timestamp</config_path>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_message_received>
                    </fields>
                </ebayenterprise_amqp>
            </groups>
        </eb2ccore>
    </sections>
</config>
