<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_Order>
            <version>1.4.0.0</version>
        </EbayEnterprise_Order>
    </modules>
    <global>
        <fieldsets>
            <sales_copy_order_billing_address>
                <id>
                    <to_order>quote_address_id</to_order>
                </id>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <id>
                    <to_order>quote_address_id</to_order>
                </id>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <id>
                    <to_order_address>quote_address_id</to_order_address>
                </id>
            </sales_convert_quote_address>
        </fieldsets>
        <blocks>
            <ebayenterprise_order>
                <class>EbayEnterprise_Order_Block</class>
            </ebayenterprise_order>
            <ebayenterprise_orderoverrides>
                <class>EbayEnterprise_Order_Overrides_Block</class>
            </ebayenterprise_orderoverrides>
            <sales>
                <rewrite>
                    <order_recent>EbayEnterprise_Order_Overrides_Block_Order_Recent</order_recent>
                    <order_history>EbayEnterprise_Order_Overrides_Block_Order_History</order_history>
                    <order_info>EbayEnterprise_Order_Overrides_Block_Order_Info</order_info>
                    <order_items>EbayEnterprise_Order_Overrides_Block_Order_Items</order_items>
                    <order_view>EbayEnterprise_Order_Overrides_Block_Order_View</order_view>
                    <order_shipment>EbayEnterprise_Order_Overrides_Block_Order_Shipment</order_shipment>
                    <order_shipment_items>EbayEnterprise_Order_Overrides_Block_Order_Shipment_Items</order_shipment_items>
                    <order_print_shipment>EbayEnterprise_Order_Overrides_Block_Order_Print_Shipment</order_print_shipment>
                </rewrite>
            </sales>
            <enterprise_rma>
                <rewrite>
                    <order_info>EbayEnterprise_Order_Overrides_Block_Order_Rma_Info</order_info>
                </rewrite>
            </enterprise_rma>
            <checkout>
                <rewrite>
                    <onepage_success>EbayEnterprise_Order_Overrides_Block_Checkout_Onepage_Success</onepage_success>
                    <multishipping_success>EbayEnterprise_Order_Overrides_Block_Checkout_Multishipping_Success</multishipping_success>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <ebayenterprise_order>
                <class>EbayEnterprise_Order_Model</class>
                <resourceModel>ebayenterprise_order_resource</resourceModel>
            </ebayenterprise_order>
            <ebayenterprise_order_resource>
                <class>EbayEnterprise_Order_Model_Resource</class>
            </ebayenterprise_order_resource>
            <enterprise_rma>
                <rewrite>
                    <rma>EbayEnterprise_Order_Overrides_Model_Enterprise_Rma</rma>
                </rewrite>
            </enterprise_rma>
        </models>
        <resources>
            <ebayenterprise_order_setup>
                <setup>
                    <module>EbayEnterprise_Order</module>
                    <class>EbayEnterprise_Order_Model_Resource_Setup</class>
                </setup>
            </ebayenterprise_order_setup>
        </resources>
        <helpers>
            <ebayenterprise_order>
                <class>EbayEnterprise_Order_Helper</class>
            </ebayenterprise_order>
            <sales>
                <rewrite>
                    <data>EbayEnterprise_Order_Overrides_Helper_Sales</data>
                </rewrite>
            </sales>
        </helpers>
        <events>
            <ebayenterprise_amqp_message_order_credit_issued>
                <observers>
                    <order_credit_issued_observer>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleEbayEnterpriseAmqpMessageOrderCreditIssued</method>
                    </order_credit_issued_observer>
                </observers>
            </ebayenterprise_amqp_message_order_credit_issued>
            <ebayenterprise_amqp_message_order_rejected>
                <observers>
                    <order_update_event_order_status_rejected>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleEbayEnterpriseAmqpMessageOrderRejected</method>
                    </order_update_event_order_status_rejected>
                </observers>
            </ebayenterprise_amqp_message_order_rejected>
            <ebayenterprise_amqp_message_order_shipped>
                <observers>
                    <order_update_event_order_shipment_confirmation>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleEbayEnterpriseAmqpMessageOrderShipped</method>
                    </order_update_event_order_shipment_confirmation>
                </observers>
            </ebayenterprise_amqp_message_order_shipped>
            <ebayenterprise_order_event_cancel>
                <observers>
                    <order_update_event_order_status_cancel>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleEbayEnterpriseOrderEventCancel</method>
                    </order_update_event_order_status_cancel>
                </observers>
            </ebayenterprise_order_event_cancel>
            <sales_convert_quote_address_to_order_address>
                <observers>
                    <ebayenterprise_copy_discounts_observer>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleSalesConvertQuoteAddressToOrderAddress</method>
                    </ebayenterprise_copy_discounts_observer>
                </observers>
            </sales_convert_quote_address_to_order_address>
            <sales_order_place_after>
                <observers>
                    <ebayenterprise_order_placed_observer>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleSalesOrderPlaceAfter</method>
                    </ebayenterprise_order_placed_observer>
                </observers>
            </sales_order_place_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <sales_convert_quote_item_to_order_item_observer>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleSalesConvertQuoteItemToOrderItem</method>
                    </sales_convert_quote_item_to_order_item_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <ebayenterprise_order_create_item>
                <observers>
                    <ebayenterprise_order_create_item_observer>
                        <type>model</type>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleEbayEnterpriseOrderCreateItemEvent</method>
                    </ebayenterprise_order_create_item_observer>
                </observers>
            </ebayenterprise_order_create_item>
            <ebayenterprise_order_create_before_attach>
                <observers>
                    <ebayenterprise_order_create_before_attach_fix_virtual_gift_cards>
                        <class>ebayenterprise_order/observer</class>
                        <method>handleEbayEnterpriseOrderCreateBeforeAttach</method>
                    </ebayenterprise_order_create_before_attach_fix_virtual_gift_cards>
                </observers>
            </ebayenterprise_order_create_before_attach>
        </events>
    </global>
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <ebayenterprise_order before="Mage_Sales">EbayEnterprise_Order</ebayenterprise_order>
                    </modules>
                </args>
            </sales>
        </routers>
        <layout>
            <updates>
                <ebayenterprise_order module="EbayEnterprise_Order">
                    <file>ebayenterprise_order.xml</file>
                </ebayenterprise_order>
            </updates>
        </layout>
        <translate>
            <modules>
                <EbayEnterprise_Order>
                    <files>
                        <default>EbayEnterprise_Order.csv</default>
                    </files>
                </EbayEnterprise_Order>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <EbayEnterprise_Order>
                    <files>
                        <default>EbayEnterprise_Order.csv</default>
                    </files>
                </EbayEnterprise_Order>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <ebayenterprise_order_create_retry>
                <run>
                    <!-- Users will still need to define a schedule. Please see the documentation. -->
                    <model>ebayenterprise_order/observer::handleEbayEnterpriseOrderCreateRetryJob</model>
                </run>
            </ebayenterprise_order_create_retry>
        </jobs>
    </crontab>
    <default>
        <ebayenterprise_order>
            <api>
                <service>orders</service>
                <create_operation>create</create_operation>
                <cancel_operation>cancel</cancel_operation>
                <search_service>customers</search_service>
                <search_operation>orders/get</search_operation>
                <detail_operation>get</detail_operation>
            </api>
            <create>
                <gender_map/>
                <order_type>SALES</order_type>
                <level_of_service>REGULAR</level_of_service>
            </create>
            <map>
                <search_response>
                    <id>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getUniqueValue</method>
                        <getter/>
                    </id>
                    <rom_id>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getId</getter>
                    </rom_id>
                    <order_type>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getOrderType</getter>
                    </order_type>
                    <order_purpose>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getOrderPurpose</getter>
                    </order_purpose>
                    <test_type>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getTestType</getter>
                    </test_type>
                    <modified_time>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getDatetimeValue</method>
                        <getter>getModifiedTime</getter>
                    </modified_time>
                    <customer_order_id>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getCustomerOrderId</getter>
                    </customer_order_id>
                    <customer_id>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getCustomerId</getter>
                    </customer_id>
                    <order_date>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getDatetimeValue</method>
                        <getter>getOrderDate</getter>
                    </order_date>
                    <created_at>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getDatetimeValue</method>
                        <getter>getOrderDate</getter>
                    </created_at>
                    <dashboard_rep_id>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getDashboardRepId</getter>
                    </dashboard_rep_id>
                    <status>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getStatus</getter>
                    </status>
                    <grand_total>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getFloatValue</method>
                        <getter>getOrderTotal</getter>
                    </grand_total>
                    <order_total>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getFloatValue</method>
                        <getter>getOrderTotal</getter>
                    </order_total>
                    <source>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getSource</getter>
                    </source>
                    <is_cancellable>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getBooleanValue</method>
                        <getter>getCancellable</getter>
                    </is_cancellable>
                    <chained_order>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getChainedOrder</getter>
                    </chained_order>
                    <type>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getType</getter>
                    </type>
                    <parent_ref>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getParentRef</getter>
                    </parent_ref>
                    <derived_order>
                        <class>ebayenterprise_order/search_map</class>
                        <type>helper</type>
                        <method>getStringValue</method>
                        <getter>getDerivedOrder</getter>
                    </derived_order>
                </search_response>
                <detail_response>
                    <address_data>
                        <id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getId</getter>
                        </id>
                        <lastname>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getLastName</getter>
                        </lastname>
                        <firstname>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getFirstName</getter>
                        </firstname>
                        <phone>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getPhone</getter>
                        </phone>
                        <street>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getArrayValue</method>
                            <getter>getLines</getter>
                        </street>
                        <city>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getCity</getter>
                        </city>
                        <main_division>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getMainDivision</getter>
                        </main_division>
                        <country_code>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getCountryCode</getter>
                        </country_code>
                        <postal_code>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getPostalCode</getter>
                        </postal_code>
                    </address_data>
                    <!--When the order contains only virtual items, build the shipping address using this map-->
                    <email_address_data>
                        <id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getId</getter>
                        </id>
                        <lastname>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getLastName</getter>
                        </lastname>
                        <firstname>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getFirstName</getter>
                        </firstname>
                        <email>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getEmailAddress</getter>
                        </email>
                    </email_address_data>
                    <item_data>
                        <sku>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getItemId</getter>
                        </sku>
                        <ref_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getId</getter>
                        </ref_id>
                        <qty_ordered>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getQuantity</getter>
                        </qty_ordered>
                        <qty_shipped>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getShippedQuantity</getter>
                        </qty_shipped>
                        <name>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getDescription</getter>
                        </name>
                        <price>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getMerchandisePricing/getUnitPrice</getter>
                        </price>
                        <is_hidden_gift>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getBooleanValue</method>
                            <getter>getIsHiddenGift</getter>
                        </is_hidden_gift>
                        <gift_message>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getGiftMessageContent</getter>
                        </gift_message>
                        <gift_message_to>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getGiftMessageTo</getter>
                        </gift_message_to>
                        <gift_message_from>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getGiftMessageFrom</getter>
                        </gift_message_from>
                        <row_total>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getMerchandisePricing/getAmount</getter>
                        </row_total>
                        <shipping_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getShippingPricing/getAmount</getter>
                        </shipping_amount>
                        <discount_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getItemDiscountAmount</method>
                            <getter>getAmount</getter>
                        </discount_amount>
                        <tax_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getItemOrderTaxAmount</method>
                            <getter>getCalculatedTax</getter>
                        </tax_amount>
                        <product_options>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getListAsSerialize</method>
                            <getter>getSize|getColor</getter>
                        </product_options>
                        <shipping_description>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getCarrierDisplayText</getter>
                        </shipping_description>
                    </item_data>
                    <order_data>
                        <is_cancellable>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getBooleanValue</method>
                            <getter>getCancellable</getter>
                        </is_cancellable>
                        <real_order_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCustomerOrderId</getter>
                        </real_order_id>
                        <customer_email>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCustomer/getEmailAddress</getter>
                        </customer_email>
                        <customer_prefix>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCustomer/getHonorificName</getter>
                        </customer_prefix>
                        <customer_lastname>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCustomer/getLastName</getter>
                        </customer_lastname>
                        <customer_middlename>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCustomer/getMiddleName</getter>
                        </customer_middlename>
                        <customer_firstname>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCustomer/getFirstName</getter>
                        </customer_firstname>
                        <created_at>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getDateTimeValue</method>
                            <getter>getOrder/getCreateTime</getter>
                        </created_at>
                        <order_currency_code>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getCurrency</getter>
                        </order_currency_code>
                        <locale>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getLocale</getter>
                        </locale>
                        <status>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getOrder/getStatus</getter>
                        </status>
                        <tax_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getOrderTotalTax</method>
                            <getter>getCalculatedTax</getter>
                        </tax_amount>
                        <subtotal>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getOrderSubTotal</method>
                            <getter>getAmount</getter>
                        </subtotal>
                        <shipping_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getShippingTotal</method>
                            <getter>getAmount</getter>
                        </shipping_amount>
                        <discount_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getDiscountTotal</method>
                            <getter>getAmount</getter>
                        </discount_amount>
                        <!-- custom attributes go here -->
                    </order_data>
                    <payment_data>
                        <tender_type>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getTenderTypeValue</method>
                            <getter>getTenderType</getter>
                        </tender_type>
                        <account_unique_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getAccountUniqueId</getter>
                        </account_unique_id>
                        <account_id_is_token>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getBooleanValue</method>
                            <getter>getPanIsToken</getter>
                        </account_id_is_token>
                        <amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getAmount</getter>
                        </amount>
                        <authorized_amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getAmountAuthorized</getter>
                        </authorized_amount>
                    </payment_data>
                    <rom_storevalue_data>
                        <tender_type>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getTenderTypeValue</method>
                            <getter>getTenderType</getter>
                        </tender_type>
                        <account_unique_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getAccountUniqueId</getter>
                        </account_unique_id>
                        <account_id_is_token>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getBooleanValue</method>
                            <getter>getPanIsToken</getter>
                        </account_id_is_token>
                        <amount>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getFloatValue</method>
                            <getter>getAmount</getter>
                        </amount>
                    </rom_storevalue_data>
                    <shipment_data>
                        <increment_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getId</getter>
                        </increment_id>
                        <address_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getDestinationRef</getter>
                        </address_id>
                        <tracks>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getShipmentTracks</method>
                            <getter>getValue</getter>
                        </tracks>
                        <shipped_item_ids>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getShippedItems</method>
                            <getter>getRef</getter>
                        </shipped_item_ids>
                        <carrier>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getCarrier</getter>
                        </carrier>
                        <carrier_mode>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getMode</getter>
                        </carrier_mode>
                    </shipment_data>
                    <ship_group_data>
                        <id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getId</getter>
                        </id>
                        <charge_type>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getChargeType</getter>
                        </charge_type>
                        <ref_id>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getStringValue</method>
                            <getter>getDestinationId</getter>
                        </ref_id>
                        <order_items>
                            <class>ebayenterprise_order/detail_map</class>
                            <type>helper</type>
                            <method>getShipGroupItemsAsArray</method>
                            <getter>getReferencedItemId</getter>
                        </order_items>
                    </ship_group_data>
                </detail_response>
                <payment_methods>
                    <CreditCard>ebayenterprise_creditcard</CreditCard>
                    <PayPal>paypal_express</PayPal>
                    <StoredValueCard>free</StoredValueCard>
                </payment_methods>
            </map>
        </ebayenterprise_order>
    </default>
    <phpunit>
        <suite>
            <modules>
                <EbayEnterprise_Order/>
            </modules>
        </suite>
    </phpunit>
</config>
