<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_GiftCard>
			<version>1.0.0</version>
		</EbayEnterprise_GiftCard>
	</modules>
	<global>
		<models>
			<ebayenterprise_giftcard>
				<class>EbayEnterprise_GiftCard_Model</class>
			</ebayenterprise_giftcard>
		</models>
		<helpers>
			<ebayenterprise_giftcard>
				<class>EbayEnterprise_GiftCard_Helper</class>
			</ebayenterprise_giftcard>
		</helpers>
		<blocks>
			<ebayenterprise_giftcard>
				<class>EbayEnterprise_GiftCard_Block</class>
			</ebayenterprise_giftcard>
		</blocks>
		<sales>
			<quote>
				<totals>
					<ebayenterprise_giftcard>
						<class>ebayenterprise_giftcard/total_quote</class>
						<after>weee,discount,tax,tax_subtotal,grand_total,reward</after>
						<before>customerbalance</before>
						<renderer>ebayenterprise_giftcard/checkout_cart_total</renderer>
					</ebayenterprise_giftcard>
				</totals>
			</quote>
		</sales>
		<events>
			<payment_method_is_active>
				<observers>
					<ebayenterprise_giftcard_toggle_payment_methods>
						<!-- When the subtotal is 0, force the zero subtotal payment method. -->
						<class>ebayenterprise_giftcard/observer</class>
						<method>togglePaymentMethods</method>
					</ebayenterprise_giftcard_toggle_payment_methods>
				</observers>
			</payment_method_is_active>
			<ebayenterprise_giftcard_redeem>
				<observers>
					<ebayenterprise_giftcard_redeem>
						<class>ebayenterprise_giftcard/observer</class>
						<method>redeemGiftCards</method>
					</ebayenterprise_giftcard_redeem>
				</observers>
			</ebayenterprise_giftcard_redeem>
			<eb2c_order_creation_failure>
				<observers>
					<ebayenterprise_giftcard_redeem_void>
						<class>ebayenterprise_giftcard/observer</class>
						<method>redeemVoidGiftCards</method>
					</ebayenterprise_giftcard_redeem_void>
				</observers>
			</eb2c_order_creation_failure>
			<sales_quote_collect_totals_before>
				<observers>
					<ebayenterprise_giftcard_collect_totals_before>
						<class>ebayenterprise_giftcard/observer</class>
						<method>resetGiftCardTotals</method>
					</ebayenterprise_giftcard_collect_totals_before>
				</observers>
			</sales_quote_collect_totals_before>
			<!-- dispatched after completing an order - remove all gift cards from the session -->
			<checkout_submit_all_after>
				<observers>
					<ebayenterprise_giftcard_empty_container>
						<type>model</type>
						<class>ebayenterprise_giftcard/container</class>
						<method>removeAllGiftCards</method>
					</ebayenterprise_giftcard_empty_container>
				</observers>
			</checkout_submit_all_after>
		</events>
	</global>
	<frontend>
		<translate>
			<modules>
				<EbayEnterprise_GiftCard>
					<files>
						<default>EbayEnterprise_GiftCard.csv</default>
					</files>
				</EbayEnterprise_GiftCard>
			</modules>
		</translate>
		<routers>
			<ebayenterprise_giftcard>
				<use>standard</use>
				<args>
					<module>EbayEnterprise_GiftCard</module>
					<frontName>ebayenterprise_giftcard</frontName>
				</args>
			</ebayenterprise_giftcard>
			<ebayenterprise_giftcard_balance>
				<use>standard</use>
				<args>
					<module>EbayEnterprise_GiftCard_Balance</module>
					<frontName>giftcard-balance</frontName>
				</args>
			</ebayenterprise_giftcard_balance>
		</routers>
		<layout>
			<updates>
				<ebayenterprise_giftcard module="EbayEnterprise_GiftCard">
					<file>ebayenterprise_giftcard.xml</file>
				</ebayenterprise_giftcard>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_GiftCard>
					<files>
						<default>EbayEnterprise_GiftCard.csv</default>
					</files>
				</EbayEnterprise_GiftCard>
			</modules>
		</translate>
		<layout>
			<updates>
				<ebayenterprise_giftcard>
					<file>ebayenterprise_giftcard.xml</file>
				</ebayenterprise_giftcard>
			</updates>
		</layout>
		<events>
			<adminhtml_sales_order_create_process_data>
				<observers>
					<ebayenterprise_giftcard_process_order_create_data>
						<type>model</type>
						<class>ebayenterprise_giftcard/adminhtml_observer</class>
						<method>processOrderCreationData</method>
					</ebayenterprise_giftcard_process_order_create_data>
				</observers>
			</adminhtml_sales_order_create_process_data>
		</events>
	</adminhtml>
	<default>
		<ebayenterprise_giftcard>
			<api>
				<service>payments</service>
				<operations>
					<balance>storedvalue/balance</balance>
					<redeem>storedvalue/redeem</redeem>
					<void>storedvalue/redeemvoid</void>
				</operations>
			</api>
		</ebayenterprise_giftcard>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_GiftCard/>
			</modules>
		</suite>
	</phpunit>
</config>
