<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Eb2cGiftwrap>
			<version>1.3.0</version>
		</EbayEnterprise_Eb2cGiftwrap>
	</modules>
	<global>
		<models>
			<eb2cgiftwrap>
				<class>EbayEnterprise_Eb2cGiftwrap_Model</class>
				<resourceModel>eb2cgiftwrap_resource</resourceModel>
			</eb2cgiftwrap>
			<eb2cgiftwrap_resource>
				<class>EbayEnterprise_Eb2cGiftwrap_Model_Resource</class>
			</eb2cgiftwrap_resource>
			<enterprise_giftwrapping>
				<rewrite>
					<wrapping>EbayEnterprise_Eb2cGiftwrap_Overrides_Model_Wrapping</wrapping>
				</rewrite>
			</enterprise_giftwrapping>
		</models>
		<helpers>
			<eb2cgiftwrap>
				<class>EbayEnterprise_Eb2cGiftwrap_Helper</class>
			</eb2cgiftwrap>
		</helpers>
		<blocks>
			<eb2cgiftwrap>
				<class>EbayEnterprise_Eb2cGiftwrap_Block</class>
			</eb2cgiftwrap>
			<enterprise_giftwrapping>
				<rewrite>
					<adminhtml_giftwrapping_edit_form>EbayEnterprise_Eb2cGiftwrap_Overrides_Block_Adminhtml_Giftwrapping_Edit_Form</adminhtml_giftwrapping_edit_form>
					<adminhtml_giftwrapping_grid>EbayEnterprise_Eb2cGiftwrap_Overrides_Block_Adminhtml_Giftwrapping_Grid</adminhtml_giftwrapping_grid>
				</rewrite>
			</enterprise_giftwrapping>
		</blocks>
		<resources>
			<eb2cgiftwrap_setup>
				<setup>
					<module>EbayEnterprise_Eb2cGiftwrap</module>
					<class>EbayEnterprise_Eb2cGiftwrap_Model_Resource_Setup</class>
				</setup>
			</eb2cgiftwrap_setup>
		</resources>
		<events>
			<ebayenterprise_feed_dom_loaded>
				<observers>
					<giftwrapping_feed_dom>
						<class>eb2cgiftwrap/observers</class>
						<method>processDom</method>
					</giftwrapping_feed_dom>
				</observers>
			</ebayenterprise_feed_dom_loaded>
		</events>
	</global>
	<default>
		<eb2cgiftwrap>
			<feed>
				<import_configuration>
					<xslt_deleted_sku>delete-template.xsl</xslt_deleted_sku>
					<deleted_base_xpath>sku</deleted_base_xpath>
					<xslt_default_template_path>default-language-template.xsl</xslt_default_template_path>
					<xslt_single_template_path>single-language-template.xsl</xslt_single_template_path>
					<base_item_xpath>/Items/Item</base_item_xpath>
					<all_skus_xpath>/Items/Item/ItemId</all_skus_xpath>
					<feed_type>giftwrap</feed_type>
					<xslt_module>EbayEnterprise_Eb2cGiftwrap</xslt_module>
					<extractor_callback_path>eb2cgiftwrap/import_attribute_mappings</extractor_callback_path>
					<extractor_sku_xpath>ItemId/ClientItemId</extractor_sku_xpath>
					<allowable_event_type>ItemMaster</allowable_event_type>
				</import_configuration>
			</feed>
			<import_attribute_mappings>
				<design>
					<class>eb2ccore/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/ItemDescription</xpath>
				</design>
				<status>
					<class>eb2ccore/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>1</xpath>
				</status>
				<base_price>
					<class>eb2ccore/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>ExtendedAttributes/Price</xpath>
				</base_price>
				<image>
					<class>eb2ccore/map</class>
					<type>disabled</type>
					<method>passThrough</method>
					<xpath></xpath>
				</image>
				<eb2c_sku>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ItemId/ClientItemId</xpath>
				</eb2c_sku>
				<eb2c_tax_class>
					<class>eb2ccore/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/TaxCode</xpath>
				</eb2c_tax_class>
			</import_attribute_mappings>
			<dummy>
				<!-- Default values for gift wrapping attributes where Vanilla Magento doesn't already have defaults. -->
				<eb2c_tax_class>17</eb2c_tax_class>
				<base_price>0</base_price>
				<image></image>
				<status>1</status>
			</dummy>
		</eb2cgiftwrap>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Eb2cGiftwrap/>
			</modules>
		</suite>
	</phpunit>
</config>
