<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<!-- Attributes Required when We Are an EXPORT mode instance -->
<config>
	<modules>
		<EbayEnterprise_ProductExport>
			<version>1.2.0</version>
		</EbayEnterprise_ProductExport>
	</modules>
	<global>
		<resources>
			<productexport_attributes_setup>
				<setup>
					<module>EbayEnterprise_ProductExport</module>
					<class>EbayEnterprise_Eb2cProduct_Model_Resource_Eav_Entity_Setup</class>
				</setup>
			</productexport_attributes_setup>
		</resources>
	</global>
	<default>
		<eb2cproduct>
			<attributes>
				<default>
					<item_type>
						<scope>Website</scope>
						<label>Item Type</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>1</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
						<default_value>Merch</default_value>
					</item_type>
					<drop_shipped>
						<scope>Website</scope>
						<label>Drop Shipped</label>
						<group>Retail Order Management</group>
						<input_type>boolean</input_type>
						<unique>0</unique>
						<is_required>1</is_required>
						<product_types><![CDATA[simple,configurable,bundle]]></product_types>
						<default_value>N</default_value>
						<backend_type>int</backend_type>
					</drop_shipped>
					<drop_ship_supplier_name>
						<scope>Website</scope>
						<label>Drop Ship Supplier Name</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					</drop_ship_supplier_name>
					<drop_ship_supplier_number>
						<scope>Website</scope>
						<label>Drop Ship Supplier Number</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					</drop_ship_supplier_number>
					<drop_ship_supplier_part_number>
						<scope>Website</scope>
						<label>Drop Ship Supplier Part Number</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					</drop_ship_supplier_part_number>
					<hierarchy_dept_number>
						<scope>Website</scope>
						<label>Hierarchy Department Number</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>1</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
						<frontend_class>validate-digits</frontend_class>
					</hierarchy_dept_number>
					<hierarchy_dept_description>
						<scope>Website</scope>
						<label>Hierarchy Department Description</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					</hierarchy_dept_description>
					<hierarchy_subdept_number>
						<scope>Website</scope>
						<label>Hierarchy Subdepartment Number</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>1</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
						<frontend_class>validate-digits</frontend_class>
					</hierarchy_subdept_number>
					<hierarchy_subdept_description>
						<scope>Website</scope>
						<label>Hierarchy Subdepartment Description</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					</hierarchy_subdept_description>
					<hierarchy_class_number>
						<scope>Website</scope>
						<label>Hierarchy Class Number</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>1</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
						<frontend_class>validate-digits</frontend_class>
					</hierarchy_class_number>
					<hierarchy_class_description>
						<scope>Website</scope>
						<label>Hierarchy Class Description</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					</hierarchy_class_description>
					<hierarchy_subclass_number>
						<scope>Website</scope>
						<label>Hierarchy Subclass Number</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>1</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
						<frontend_class>validate-digits</frontend_class>
					</hierarchy_subclass_number>
					<hierarchy_subclass_description>
						<scope>Website</scope>
						<label>Hierarchy Subclass Description</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					</hierarchy_subclass_description>
					<gift_card_tender_code>
						<scope>Website</scope>
						<label>Gift Card Tender Code</label>
						<group>Retail Order Management</group>
						<input_type>text</input_type>
						<unique>0</unique>
						<is_required>0</is_required>
						<product_types><![CDATA[giftcard]]></product_types>
						<is_searchable>0</is_searchable>
						<is_visible_in_advanced_search>0</is_visible_in_advanced_search>
						<is_comparable>0</is_comparable>
					</gift_card_tender_code>
				</default>
			</attributes>
		</eb2cproduct>
	</default>
</config>
