<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_ProductExport>
			<version>1.4.0</version>
		</EbayEnterprise_ProductExport>
	</modules>
	<global>
		<helpers>
			<ebayenterprise_productexport>
				<class>EbayEnterprise_ProductExport_Helper</class>
			</ebayenterprise_productexport>
		</helpers>
		<resources>
			<productexport_setup>
				<setup>
					<module>EbayEnterprise_ProductExport</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</productexport_setup>
		</resources>
	</global>
	<default>
		<ebayenterprise_catalog>
			<pim_export_feed>
				<cutoff_date/>
				<batch_size/>
			</pim_export_feed>
			<feed_pim_mapping>
				<!-- http://confluence.tools.us.gspt.net/display/v11dev/Outbound+Inbound+File+Naming+Convention -->
				<item_map>
					<file_pattern>{client_id}_{catalog_id}_{feed_type}_{time_stamp}.xml</file_pattern>
					<root_node>ItemMaster</root_node>
					<item_node>Item</item_node>
					<event_type>ItemMaster</event_type>
					<schema_location>ItemMasterV11.xsd</schema_location>
					<is_validate>true</is_validate>
				</item_map>
				<content_map>
					<!-- Event Type is ContentMaster, but file name has Content. -->
					<file_pattern>{client_id}_{catalog_id}_Content_{time_stamp}.xml</file_pattern>
					<root_node>ContentMaster</root_node>
					<item_node>Content</item_node>
					<event_type>ContentMaster</event_type>
					<schema_location>ContentFeedV11.xsd</schema_location>
					<is_validate>true</is_validate>
				</content_map>
				<price_map>
					<!-- Event Type is Pricing, but file name has Price. Double-checked. -->
					<file_pattern>{client_id}_{store_id}_{catalog_id}_Price_{time_stamp}.xml</file_pattern>
					<root_node>Prices</root_node>
					<item_node>PricePerItem</item_node>
					<event_type>Pricing</event_type>
					<schema_location>PriceEventV11.xsd</schema_location>
					<is_validate>true</is_validate>
				</price_map>
			</feed_pim_mapping>
		</ebayenterprise_catalog>
	</default>
	<crontab>
		<jobs>
			<ebayenterprise_catalog_pim_export_feed>
				<run>
					<model>ebayenterprise_catalog/exporter::runExport</model>
				</run>
			</ebayenterprise_catalog_pim_export_feed>
		</jobs>
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_ProductExport/>
			</modules>
		</suite>
	</phpunit>
</config>
