<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Address>
			<version>0.9.0</version>
		</EbayEnterprise_Address>
	</modules>
	<global>
		<models>
			<ebayenterprise_address>
				<class>EbayEnterprise_Address_Model</class>
			</ebayenterprise_address>
		</models>
		<helpers>
			<ebayenterprise_address>
				<class>EbayEnterprise_Address_Helper</class>
			</ebayenterprise_address>
		</helpers>
		<blocks>
			<ebayenterprise_address>
				<class>EbayEnterprise_Address_Block</class>
			</ebayenterprise_address>
		</blocks>
	</global>
	<frontend>
		<layout>
			<updates>
				<ebayenterprise_address>
					<file>ebayenterprise_address.xml</file>
				</ebayenterprise_address>
			</updates>
		</layout>
		<translate>
			<modules>
				<EbayEnterprise_Address>
					<files>
						<default>EbayEnterprise_Address.csv</default>
					</files>
				</EbayEnterprise_Address>
			</modules>
		</translate>
		<events>
			<customer_address_validation_after>
				<observers>
					<ebayenterprise_address_validate_address>
						<type>singleton</type>
						<class>ebayenterprise_address/observer</class>
						<method>validateAddress</method>
					</ebayenterprise_address_validate_address>
				</observers>
			</customer_address_validation_after>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
				<observers>
					<ebayenterprise_address_add_suggestions_to_billing_response>
						<type>singleton</type>
						<class>ebayenterprise_address/observer</class>
						<method>addSuggestionsToResponse</method>
					</ebayenterprise_address_add_suggestions_to_billing_response>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveBilling>
			<controller_action_postdispatch_checkout_onepage_saveShipping>
				<observers>
					<ebayenterprise_address_add_suggestions_to_shipping_response>
						<type>singleton</type>
						<class>ebayenterprise_address/observer</class>
						<method>addSuggestionsToResponse</method>
					</ebayenterprise_address_add_suggestions_to_shipping_response>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveShipping>
		</events>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Address>
					<files>
						<default>EbayEnterprise_Address.csv</default>
					</files>
				</EbayEnterprise_Address>
			</modules>
		</translate>
		<layout>
			<updates>
				<ebayenterprise_address>
					<file>ebayenterprise_address.xml</file>
				</ebayenterprise_address>
			</updates>
		</layout>
		<events>
			<adminhtml_sales_order_create_process_data>
				<observers>
					<ebayenterprise_address_validate_address_ajax>
						<type>disabled</type>
						<class></class>
						<method></method>
					</ebayenterprise_address_validate_address_ajax>
				</observers>
			</adminhtml_sales_order_create_process_data>
			<adminhtml_sales_order_create_process_data_before>
				<observers>
					<ebayenterprise_address_validate_address_ajax>
						<type>disabled</type>
						<class></class>
						<method></method>
					</ebayenterprise_address_validate_address_ajax>
				</observers>
			</adminhtml_sales_order_create_process_data_before>
			<customer_address_validation_after>
				<observers>
					<ebayenterprise_address_validate_address>
						<type>singleton</type>
						<class>ebayenterprise_address/observer</class>
						<method>validateAddressAdminhtml</method>
					</ebayenterprise_address_validate_address>
				</observers>
			</customer_address_validation_after>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
				<observers>
					<ebayenterprise_address_add_suggestions_to_billing_response>
						<type>singleton</type>
						<class>ebayenterprise_address/observer</class>
						<method>addSuggestionsToResponse</method>
					</ebayenterprise_address_add_suggestions_to_billing_response>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveBilling>
			<controller_action_postdispatch_checkout_onepage_saveShipping>
				<observers>
					<ebayenterprise_address_add_suggestions_to_shipping_response>
						<type>singleton</type>
						<class>ebayenterprise_address/observer</class>
						<method>addSuggestionsToResponse</method>
					</ebayenterprise_address_add_suggestions_to_shipping_response>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveShipping>
		</events>
	</adminhtml>
	<default>
		<eb2ccore>
			<ebayenterprise_address>
				<suggestion_templates>
					<full_html><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/> {{depend company}}{{var company}}<br/>{{/depend}}
{{if street1}}{{var street1}}<br/>{{/if}}
{{depend street2}}{{var street2}}<br/>{{/depend}}
{{depend street3}}{{var street3}}<br/>{{/depend}}
{{depend street4}}{{var street4}}<br/>{{/depend}}
{{if city}}{{var city}}, {{/if}}{{if region}}{{var region}}{{/if}}<br/>
{{if postcode}}{{var postcode}}<br/>{{/if}}
{{var country}}]]></full_html>
					<address_only_html><![CDATA[{{if street1}}{{var street1}}<br/>{{/if}}
{{depend street2}}{{var street2}}<br/>{{/depend}}
{{depend street3}}{{var street3}}<br/>{{/depend}}
{{depend street4}}{{var street4}}<br/>{{/depend}}
{{if city}}{{var city}}, {{/if}}{{if region}}{{var region}}{{/if}}<br/>
{{if postcode}}{{var postcode}}<br/>{{/if}}
{{var country}}]]></address_only_html>
				</suggestion_templates>
				<xsd>
					<file>Address-Validation-Service-1.0.xsd</file>
				</xsd>
			</ebayenterprise_address>
		</eb2ccore>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Address/>
			</modules>
		</suite>
	</phpunit>
</config>
