<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author mphang
 */
-->
<config>
	<modules>
		<TrueAction_Eb2c_Tax>
			<version>0.1.0</version>
		</TrueAction_Eb2c_Tax>
	</modules>
	<global>
		<models>
			<eb2ctax>
				<class>TrueAction_Eb2c_Tax_Model</class>
			</eb2ctax>
		</models>
		<helpers>
			<eb2ctax>
				<class>TrueAction_Eb2c_Tax_Helper</class>
			</eb2ctax>
			<tax>
				<rewrite>
					<data>TrueAction_Eb2c_Tax_Helper_Data</data>
				</rewrite>
			</tax>
		</helpers>
	</global>
	<default>
		<eb2ctax>
			<config>
			</config>
		</eb2ctax>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2c_Tax />
			</modules>
		</suite>
	</phpunit>
</config>
