<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<TrueAction_Eb2cProduct>
			<version>0.9.0</version>
		</TrueAction_Eb2cProduct>
	</modules>
	<global>
		<models>
			<eb2cproduct>
				<class>TrueAction_Eb2cProduct_Model</class>
				<resourceModel>eb2cproduct_resource</resourceModel>
			</eb2cproduct>
			<eb2cproduct_resource>
				<class>TrueAction_Eb2cProduct_Model_Resource</class>
			</eb2cproduct_resource>
		</models>
		<helpers>
			<eb2cproduct>
				<class>TrueAction_Eb2cProduct_Helper</class>
			</eb2cproduct>
		</helpers>
		<resources>
			<eb2cproduct_attributes_setup>
				<setup>
					<module>TrueAction_Eb2cProduct</module>
				</setup>
			</eb2cproduct_attributes_setup>
		</resources>
		<eb2cproduct_attributes>
			<default>
				<tax_code>
					<scope>Website</scope>
					<label>Tax Code</label>
					<group>Price</group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default/>
				</tax_code>
				<is_drop_shipped>
					<scope>Website</scope>
					<label>Is Drop Shipped</label>
					<group/>
					<input_type>boolean</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					<default>N</default>
					<backend_type>int</backend_type>
				</is_drop_shipped>
				<drop_ship_supplier_name>
					<scope>Website</scope>
					<label>Drop Ship Supplier Name</label>
					<group/>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					<default/>
				</drop_ship_supplier_name>
				<drop_ship_supplier_number>
					<scope>Website</scope>
					<label>Drop Ship Supplier Number</label>
					<group/>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					<default/>
				</drop_ship_supplier_number>
				<drop_ship_supplier_part>
					<scope>Website</scope>
					<label>Drop Ship Supplier Part Number</label>
					<group/>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					<default/>
				</drop_ship_supplier_part>
				<price_is_vat_inclusive>
					<scope>Store</scope>
					<label>Price is VAT Inclusive</label>
					<group>Prices</group>
					<input_type>boolean</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default>N</default>
					<backend_type>int</backend_type>
				</price_is_vat_inclusive>
				<brand_name>
					<scope>Website</scope>
					<label>Brand Name</label>
					<group></group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</brand_name>
				<size>
					<scope>Website</scope>
					<label>Size</label>
					<group></group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					<default></default>
				</size>
				<buyer_name>
					<scope>Website</scope>
					<label>Buyer Name</label>
					<group></group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</buyer_name>
				<hazardous_material_code>
					<scope>Website</scope>
					<label>Hazardous Material Code</label>
					<group></group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</hazardous_material_code>
				<brand_description>
					<scope>Website</scope>
					<label>Brand Description</label>
					<group></group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</brand_description>
				<item_type>
					<scope>Website</scope>
					<label>eBay Enterprise Item Type</label>
					<group></group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</item_type>
				<style_id>
					<scope>Website</scope>
					<label>Style Id</label>
					<group>General</group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</style_id>
				<is_clean>
					<scope>Website</scope>
					<label>Is Clean</label>
					<group></group>
					<input_type>boolean</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default>N</default>
					<backend_type>int</backend_type>
				</is_clean>
				<unresolved_product_links>
					<scope>Website</scope>
					<label>Unresolved Product Links</label>
					<group></group>
					<input_type>textarea</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
					<backend_type>text</backend_type>
				</unresolved_product_links>
			</default>
		</eb2cproduct_attributes>

		<events>
			<product_feed_processing_complete>
				<observers>
					<eb2c_reindex_all>
						<class>eb2ccore/indexer</class>
						<method>reindexAll</method>
					</eb2c_reindex_all>
				</observers>
			</product_feed_processing_complete>
			<product_feed_complete_error_confirmation>
				<observers>
					<eb2c_error_confirmations>
						<class>eb2cproduct/error_confirmations</class>
						<method>process</method>
					</eb2c_error_confirmations>
				</observers>
			</product_feed_complete_error_confirmation>
		</events>
	</global>
	<default>
		<eb2cproduct>
			<dummy>
				<!-- Default values for product attributes where Vanilla Magento doesn't already have defaults. -->
				<description>This product is invalid. If you are seeing this product, please do not attempt to purchase and contact customer service.</description>
				<in_stock>1</in_stock>
				<manage_stock>1</manage_stock>
				<short_description>invalid product. Please do not attempt to purchase.</short_description>
				<stock_quantity>0</stock_quantity>
				<type_id>simple</type_id>
				<weight>0</weight>
			</dummy>
			<api_service>product</api_service>
			<api_return_format>xml</api_return_format>
			<item_master_feed>
				<local_path>TrueAction/Eb2c/Feed/Product/ItemMaster/</local_path>
				<remote_path>/Inbox/Product</remote_path>
				<file_pattern>ItemMaster_*.xml</file_pattern>
				<event_type>ItemMaster</event_type>
				<header_version>2.3.0</header_version>
				<outbound>
					<message_header>
						<event_type>ItemMaster</event_type>
					</message_header>
				</outbound>
			</item_master_feed>
			<content_master_feed>
				<local_path>TrueAction/Eb2c/Feed/Product/ContentMaster/</local_path>
				<remote_path>/Inbox/Product</remote_path>
				<file_pattern>Content_*.xml</file_pattern>
				<event_type>Content</event_type>
				<!-- because consistency only matters "sometimes" -->
				<header_version>2.3.0</header_version>
				<outbound>
					<message_header>
						<event_type>Content</event_type>
					</message_header>
				</outbound>
			</content_master_feed>
			<i_ship_feed>
				<local_path>TrueAction/Eb2c/Feed/Product/iShip/</local_path>
				<remote_path>/Inbox/Product</remote_path>
				<file_pattern>iShip_*.xml</file_pattern>
				<event_type>iShip</event_type>
				<header_version>2.3.0</header_version>
				<outbound>
					<message_header>
						<event_type>iShip</event_type>
					</message_header>
				</outbound>
			</i_ship_feed>
			<item_pricing_feed>
				<local_path>TrueAction/Eb2c/Feed/Product/Pricing/</local_path>
				<remote_path>/Inbox/Channel/{storeid}/Pricing</remote_path>
				<file_pattern>Price_*.xml</file_pattern>
				<event_type>Price</event_type>
				<header_version>2.3.0</header_version>
				<outbound>
					<message_header>
						<event_type>Price</event_type>
					</message_header>
				</outbound>
			</item_pricing_feed>
			<image_master_feed>
				<local_path>TrueAction/Eb2c/Feed/Product/ImageMaster/</local_path>
				<remote_path>/</remote_path>
				<file_pattern>ImageMetaData*.xml</file_pattern>
				<event_type>ImageMaster</event_type>
				<header_version>2.3.0</header_version>
				<outbound>
					<message_header>
						<event_type>ImageMaster</event_type>
					</message_header>
				</outbound>
			</image_master_feed>
			<processor_delete_batch_size>200</processor_delete_batch_size>
			<processor_max_total_entries>200</processor_max_total_entries>
			<processor_update_batch_size>100</processor_update_batch_size>
			<attributes_code_list>color,size</attributes_code_list>
			<feed>
				<map>
					<ext_keys>brand_name,buyer_id,color,companion_flag,country_of_origin,gift_card_tender_code,hazardous_material_code,long_description,lot_tracking_indicator,ltl_freight_cost,may_ship_expedite,may_ship_international,may_ship_usps,msrp,price,safety_stock,sales_class,serial_number_type,ship_group,ship_window_max_hour,ship_window_min_hour,short_description,street_date,style_description,style_id,supplier_name,supplier_supplier_id</ext_keys>
					<ext_keys_bool>allow_gift_message,back_orderable,gift_wrap,gift_wrapping_available,is_hidden_product,service_indicator</ext_keys_bool>
				</map>
				<related_link_types>
					<es_accessory>related</es_accessory>
					<es_crossselling>crosssell</es_crossselling>
					<es_upselling>upsell</es_upselling>
				</related_link_types>
			</feed>
			<feed_attribute_mappings>
				<category_ids>
					<class>eb2cproduct/map_category</class>
					<type>helper</type>
					<method>extractCategoryIds</method>
					<xpath>CategoryLinks/CategoryLink[@import_mode!="Delete"]/Name</xpath>
				</category_ids>
				<is_clean>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>0</xpath>
				</is_clean>
				<type_id>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractProductTypeValue</method>
					<xpath>CustomAttributes/Attribute[@name="ProductType"]/Value</xpath>
				</type_id>
				<sku>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ItemId/ClientItemId|UniqueID|ClientItemId</xpath>
				</sku>
				<style_id>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ExtendedAttributes/Style/StyleID</xpath>
				</style_id>
				<tax_code>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/TaxCode</xpath>
				</tax_code>
				<unresolved_product_links>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractProductLinks</method>
					<xpath>ProductLinks/ProductLink</xpath>
				</unresolved_product_links>
				<name>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/Title</xpath>
				</name>
				<description>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/LongDescription</xpath>
				</description>
				<short_description>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/ShortDescription</xpath>
				</short_description>
				<price>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>Event/Price</xpath>
				</price>
				<weight>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>ExtendedAttributes/ItemDimension/Shipping/Mass/Weight</xpath>
				</weight>
				<status>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStatusValue</method>
					<xpath>BaseAttributes/ItemStatus</xpath>
				</status>
				<visibility>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractVisibilityValue</method>
					<xpath>BaseAttributes/CatalogClass</xpath>
				</visibility>
				<tax_class_id>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>0</xpath>
				</tax_class_id>
				<price_view>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</price_view>
				<allow_open_amount>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</allow_open_amount>
			</feed_attribute_mappings>
		</eb2cproduct>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cProduct/>
			</modules>
		</suite>
	</phpunit>
</config>
