<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<TrueAction_Eb2cProduct>
			<version>0.9.0</version>
		</TrueAction_Eb2cProduct>
	</modules>
	<global>
		<models>
			<eb2cproduct>
				<class>TrueAction_Eb2cProduct_Model</class>
				<resourceModel>eb2cproduct_resource</resourceModel>
			</eb2cproduct>
			<eb2cproduct_resource>
				<class>TrueAction_Eb2cProduct_Model_Resource</class>
			</eb2cproduct_resource>
		</models>
		<helpers>
			<eb2cproduct>
				<class>TrueAction_Eb2cProduct_Helper</class>
			</eb2cproduct>
		</helpers>
		<resources>
			<eb2cproduct_attributes_setup>
				<setup>
					<module>TrueAction_Eb2cProduct</module>
				</setup>
			</eb2cproduct_attributes_setup>
		</resources>
		<eb2cproduct_attributes>
			<default>
				<tax_code>
					<scope>Website</scope>
					<label>Tax Code</label>
					<group>Prices</group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default/>
				</tax_code>
				<size>
					<scope>Website</scope>
					<label>Size</label>
					<group>General</group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,bundle]]></product_types>
					<default></default>
				</size>
				<style_id>
					<scope>Website</scope>
					<label>Style Id</label>
					<group>General</group>
					<input_type>text</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
				</style_id>
				<is_clean>
					<scope>Website</scope>
					<label>Is Clean</label>
					<group>Exchange Platform</group>
					<input_type>boolean</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default>N</default>
					<backend_type>int</backend_type>
				</is_clean>
				<unresolved_product_links>
					<scope>Website</scope>
					<label>Unresolved Product Links</label>
					<group>Exchange Platform</group>
					<input_type>textarea</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
					<backend_type>text</backend_type>
				</unresolved_product_links>
				<hts_codes>
					<scope>Website</scope>
					<label>HTS Codes</label>
					<group>Exchange Platform</group>
					<input_type>textarea</input_type>
					<unique>N</unique>
					<product_types><![CDATA[simple,configurable,virtual,bundle,downloadable,giftcard]]></product_types>
					<default></default>
					<backend_type>text</backend_type>
				</hts_codes>
			</default>
		</eb2cproduct_attributes>
		<events>
			<product_feed_processing_complete>
				<observers>
					<eb2c_reindex_all>
						<class>eb2ccore/indexer</class>
						<method>reindexAll</method>
					</eb2c_reindex_all>
				</observers>
			</product_feed_processing_complete>
			<product_feed_complete_error_confirmation>
				<observers>
					<eb2c_error_confirmations>
						<class>eb2cproduct/error_confirmations</class>
						<method>process</method>
					</eb2c_error_confirmations>
				</observers>
			</product_feed_complete_error_confirmation>
			<product_feed_process_operation_type_error_confirmation>
				<observers>
					<eb2c_error_confirmations_operation>
						<class>eb2cproduct/error_confirmations</class>
						<method>processByOperationType</method>
					</eb2c_error_confirmations_operation>
				</observers>
			</product_feed_process_operation_type_error_confirmation>
			<filetransfer_import_complete>
				<observers>
					<eb2c_product_run_imports>
						<class>eb2cproduct/feed</class>
						<method>processFeeds</method>
						<type>model</type>
					</eb2c_product_run_imports>
				</observers>
			</filetransfer_import_complete>
		</events>
	</global>
	<default>
		<eb2ccore>
			<feed>
				<filetransfer_imports>
					<item_master>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>ItemMaster</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>ItemMaster</event_type>
							</message_header>
						</outbound>
					</item_master>
					<content_master>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>ContentMaster</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>ContentMaster</event_type>
							</message_header>
						</outbound>
					</content_master>
					<i_ship>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>iShip</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>iShip</event_type>
							</message_header>
						</outbound>
					</i_ship>
					<item_pricing>
						<local_directory>ExchangePlatform/Feed/inbox/product</local_directory>
						<event_type>Pricing</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>Pricing</event_type>
							</message_header>
						</outbound>
					</item_pricing>
				</filetransfer_imports>
			</feed>
		</eb2ccore>
		<eb2cproduct>
			<dummy>
				<!-- Default values for product attributes where Vanilla Magento doesn't already have defaults. -->
				<description>This product is invalid. If you are seeing this product, please do not attempt to purchase and contact customer service.</description>
				<in_stock>1</in_stock>
				<manage_stock>1</manage_stock>
				<short_description>invalid product. Please do not attempt to purchase.</short_description>
				<stock_quantity>0</stock_quantity>
				<type_id>simple</type_id>
				<weight>0</weight>
			</dummy>
			<api_service>product</api_service>
			<api_return_format>xml</api_return_format>
			<image_master_feed>
				<xsd>CombinedProduct.xsd</xsd>
				<outbound>
					<message_header>
						<event_type>ImageMaster</event_type>
					</message_header>
				</outbound>
			</image_master_feed>
			<pim_export_feed>
				<filename_format>{client_id}_{store_id}_{feed_type}_{time_stamp}.xml</filename_format>
				<xsd>CombinedProduct.xsd</xsd>
				<outbound>
					<message_header>
						<event_type>PIMExport</event_type>
					</message_header>
				</outbound>
				<cutoff_date />
				<batch_size />
			</pim_export_feed>
			<processor_delete_batch_size>200</processor_delete_batch_size>
			<processor_max_total_entries>200</processor_max_total_entries>
			<processor_update_batch_size>100</processor_update_batch_size>
			<attributes_code_list>color,size</attributes_code_list>
			<feed>
				<map>
					<ext_keys>brand_name,buyer_id,color,companion_flag,country_of_origin,gift_card_tender_code,hazardous_material_code,long_description,lot_tracking_indicator,ltl_freight_cost,may_ship_expedite,may_ship_international,may_ship_usps,msrp,price,safety_stock,sales_class,serial_number_type,ship_group,ship_window_max_hour,ship_window_min_hour,short_description,street_date,style_description,style_id,supplier_name,supplier_supplier_id</ext_keys>
					<ext_keys_bool>allow_gift_message,back_orderable,gift_wrap,gift_wrapping_available,is_hidden_product,service_indicator</ext_keys_bool>
				</map>
				<related_link_types>
					<es_accessory>related</es_accessory>
					<es_crossselling>crosssell</es_crossselling>
					<es_upselling>upsell</es_upselling>
				</related_link_types>
			</feed>
			<feed_attribute_mappings>
				<category_ids>
					<class>eb2cproduct/map_category</class>
					<type>helper</type>
					<method>extractCategoryIds</method>
					<xpath>CategoryLinks/CategoryLink[@import_mode!="Delete"]/Name</xpath>
				</category_ids>
				<is_clean>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>0</xpath>
				</is_clean>
				<type_id>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractProductTypeValue</method>
					<xpath>CustomAttributes/Attribute[@name="ProductType"]/Value</xpath>
				</type_id>
				<sku>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ItemId/ClientItemId|UniqueID|ClientItemId</xpath>
				</sku>
				<style_id>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractSkuValue</method>
					<xpath>ExtendedAttributes/Style/StyleID</xpath>
				</style_id>
				<tax_code>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/TaxCode</xpath>
				</tax_code>
				<unresolved_product_links>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractProductLinks</method>
					<xpath>ProductLinks/ProductLink</xpath>
				</unresolved_product_links>
				<name>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>BaseAttributes/Title</xpath>
				</name>
				<description>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/LongDescription</xpath>
				</description>
				<short_description>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStringValue</method>
					<xpath>ExtendedAttributes/ShortDescription</xpath>
				</short_description>
				<price>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>Event/Price</xpath>
				</price>
				<weight>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractFloatValue</method>
					<xpath>ExtendedAttributes/ItemDimension/Shipping/Mass/Weight</xpath>
				</weight>
				<status>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractStatusValue</method>
					<xpath>BaseAttributes/ItemStatus</xpath>
				</status>
				<visibility>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>extractVisibilityValue</method>
					<xpath>BaseAttributes/CatalogClass</xpath>
				</visibility>
				<tax_class_id>
					<class>eb2cproduct/map</class>
					<type>helper</type>
					<method>passThrough</method>
					<xpath>0</xpath>
				</tax_class_id>
				<price_view>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</price_view>
				<allow_open_amount>
					<class>eb2cproduct/map</class>
					<type>disabled</type>
					<method></method>
					<xpath></xpath>
				</allow_open_amount>
			</feed_attribute_mappings>
			<feed_pim_mapping>
				<item_map>
					<file_pattern>Export_{feed_type}_{client_id}_{catalog_id}_{store_id}_{time_stamp}.xml</file_pattern>
					<root_node>ItemMaster</root_node>
					<item_node>Item</item_node>
					<event_type>ItemMaster</event_type>
					<schema_location>ItemMasterV11.xsd</schema_location>
					<is_validate>false</is_validate>
					<mappings>
							<!--
							These nodes describe how we relate product information in magento to data in the feed files.
							By convention, node names starting with an underscore indicate mapping of data that is not a product
							attribute, and other names are expected to be eav attribute codes.
							-->
						<_gsi_client_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getGsiClientId</method>
							<xml_dest>@gsi_client_id</xml_dest> <!-- Always relative to the item node. Never starts with /. -->
							<translate>0</translate>
						</_gsi_client_id>
						<_operation_type>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getOperationType</method>
							<xml_dest>@operation_type</xml_dest>
							<translate>0</translate>
						</_operation_type>
						<_catalog_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getCatalogId</method>
							<xml_dest>@catalog_id</xml_dest>
							<translate>0</translate>
						</_catalog_id>
						<sku>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getTextAsNode</method>
							<xml_dest>ItemId/ClientItemId</xml_dest>
							<translate>0</translate>
						</sku>
					</mappings>
				</item_map>
				<content_map>
					<file_pattern>Export_{feed_type}_{client_id}_{catalog_id}_{store_id}_{time_stamp}.xml</file_pattern>
					<root_node>ContentMaster</root_node>
					<item_node>Content</item_node>
					<event_type>ContentMaster</event_type>
					<schema_location>ContentFeedV11.xsd</schema_location>
					<is_validate>false</is_validate>
					<mappings>
						<_gsi_client_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getGsiClientId</method>
							<xml_dest>@gsi_client_id</xml_dest>
							<translate>0</translate>
						</_gsi_client_id>
						<_catalog_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getCatalogId</method>
							<xml_dest>@catalog_id</xml_dest>
							<translate>0</translate>
						</_catalog_id>
						<sku>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getTextAsNode</method>
							<xml_dest>UniqueId</xml_dest>
							<translate>0</translate>
						</sku>
					</mappings>
				</content_map>
				<price_map>
					<file_pattern>Export_{feed_type}_{client_id}_{catalog_id}_{store_id}_{time_stamp}.xml</file_pattern>
					<root_node>Prices</root_node>
					<item_node>PricePerItem</item_node>
					<event_type>Pricing</event_type>
					<schema_location>PriceEventV11.xsd</schema_location>
					<is_validate>false</is_validate>
					<mappings>
						<_gsi_client_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getGsiClientId</method>
							<xml_dest>@gsi_client_id</xml_dest>
							<translate>0</translate>
						</_gsi_client_id>
						<_catalog_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getCatalogId</method>
							<xml_dest>@catalog_id</xml_dest>
							<translate>0</translate>
						</_catalog_id>
						<_gsi_store_id>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getStoreId</method>
							<xml_dest>@gsi_store_id</xml_dest>
							<translate>0</translate>
						</_gsi_store_id>
						<sku>
							<class>eb2cproduct/pim</class>
							<type>helper</type>
							<method>getTextAsNode</method>
							<xml_dest>ClientItemId</xml_dest>
							<translate>0</translate>
						</sku>
					</mappings>
				</price_map>
			</feed_pim_mapping>
			<default_pim_mapping>
				<class>eb2cproduct/pim</class>
				<type>helper</type>
				<method>getValueAsDefault</method>
				<xml_dest>CustomAttributes/Attribute[@name="%s"]</xml_dest>
				<translate>1</translate>
			</default_pim_mapping>
		</eb2cproduct>
	</default>
	<crontab>
		<jobs>
			<eb2cproduct_pim_export_feed>
				<run>
					<model>eb2cproduct/pim_collector::runExport</model>
				</run>
			</eb2cproduct_pim_export_feed>
		</jobs>
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cProduct/>
			</modules>
		</suite>
	</phpunit>
</config>
