<?xml version="1.0"?>
<config>
	<sections>
		<eb2cproduct translate="label" module="eb2cproduct">
			<label>Product</label>
			<tab>eb2c</tab>
			<frontend_type>text</frontend_type>
			<sort_order>500</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<item_master_feed translate="label">
					<label>Item Master Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</item_master_feed>
				<content_master_feed translate="label">
					<label>Content Master</label>
					<frontend_type>text</frontend_type>
					<sort_order>200</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</content_master_feed>
				<i_ship_feed translate="label">
					<label>iShip Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>300</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</i_ship_feed>
				<item_pricing_feed translate="label">
					<label>Item Pricing Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>400</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</item_pricing_feed>
				<image_master_feed translate="label">
					<label>Image Master Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>500</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</image_master_feed>
			</groups>
		</eb2cproduct>
	</sections>
</config>
