<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_ProductImport>
            <version>1.4.0</version>
        </EbayEnterprise_ProductImport>
    </modules>
    <global>
        <models>
            <ebayenterprise_productimport>
                <class>EbayEnterprise_ProductImport_Model</class>
            </ebayenterprise_productimport>
        </models>
        <helpers>
            <ebayenterprise_productimport>
                <class>EbayEnterprise_ProductImport_Helper</class>
            </ebayenterprise_productimport>
        </helpers>
        <resources>
            <ebayenterprise_productimport_setup>
                <setup>
                    <module>EbayEnterprise_ProductImport</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ebayenterprise_productimport_setup>
        </resources>
        <events>
            <ebayenterprise_feed_dom_loaded>
                <observers>
                    <eb2c_product_feed_dom>
                        <class>ebayenterprise_productimport/observers</class>
                        <method>processDom</method>
                    </eb2c_product_feed_dom>
                </observers>
            </ebayenterprise_feed_dom_loaded>
        </events>
    </global>
    <phpunit>
        <suite>
            <modules>
                <EbayEnterprise_ProductImport/>
            </modules>
        </suite>
    </phpunit>
    <default>
        <ebayenterprise_catalog>
            <feed>
                <map>
                    <ext_keys>brand_name,buyer_id,color,companion_flag,country_of_origin,gift_card_tender_code,hazardous_material_code,long_description,lot_tracking_indicator,ltl_freight_cost,may_ship_expedite,may_ship_international,may_ship_usps,msrp,price,safety_stock,sales_class,serial_number_type,ship_group,ship_window_max_hour,ship_window_min_hour,short_description,street_date,style_description,style_id,supplier_name,supplier_supplier_id</ext_keys>
                    <ext_keys_bool>allow_gift_message,back_orderable,gift_wrap,gift_wrapping_available,is_hidden_product,service_indicator</ext_keys_bool>
                </map>
                <related_link_types>
                    <es_accessory>related</es_accessory>
                    <es_crossselling>crosssell</es_crossselling>
                    <es_upselling>upsell</es_upselling>
                </related_link_types>
                <import_configuration>
                    <xslt_deleted_sku>delete-template.xsl</xslt_deleted_sku>
                    <deleted_base_xpath>sku</deleted_base_xpath>
                    <xslt_default_template_path>default-language-template.xsl</xslt_default_template_path>
                    <xslt_single_template_path>single-language-template.xsl</xslt_single_template_path>
                    <base_item_xpath>/Items/Item</base_item_xpath>
                    <all_skus_xpath>/Items/Item/ItemId/ClientItemId|/Items/Item/UniqueID|/Items/Item/ClientItemId</all_skus_xpath>
                    <feed_type>product</feed_type>
                    <xslt_module>EbayEnterprise_Catalog</xslt_module>
                    <extractor_callback_path>ebayenterprise_catalog/feed_attribute_mappings</extractor_callback_path>
                    <extractor_sku_xpath>ItemId/ClientItemId|UniqueID|ClientItemId</extractor_sku_xpath>
                    <allowable_event_type>ItemMaster,ContentMaster,ISHIPDuties,Pricing</allowable_event_type>
                </import_configuration>
            </feed>
            <feed_attribute_mappings>
                <attribute_set_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractAttributeSetValue</method>
                    <xpath>CustomAttributes/Attribute[@name="AttributeSet"]/Value</xpath>
                </attribute_set_id>
                <category_ids>
                    <class>ebayenterprise_catalog/map_category</class>
                    <type>helper</type>
                    <method>extractCategoryIds</method>
                    <xpath>CategoryLinks/CategoryLink[@import_mode!="Delete"]/Name</xpath>
                </category_ids>
                <website_ids>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractWebsiteIds</method>
                    <xpath>.</xpath>
                </website_ids>
                <country_of_manufacture>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>ExtendedAttributes/CountryOfOrigin|BaseAttributes/CountryOfOrigin</xpath>
                </country_of_manufacture>
                <is_clean>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>passThrough</method>
                    <xpath>0</xpath>
                </is_clean>
                <type_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractProductTypeValue</method>
                    <xpath>CustomAttributes/Attribute[@name="ProductType"]/Value</xpath>
                </type_id>
                <sku>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractSkuValue</method>
                    <xpath>ItemId/ClientItemId|UniqueID|ClientItemId</xpath>
                </sku>
                <style_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>ExtendedAttributes/Style/StyleID|StyleID</xpath>
                </style_id>
                <tax_code>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>BaseAttributes/TaxCode</xpath>
                </tax_code>
                <item_type>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>BaseAttributes/ItemType</xpath>
                </item_type>
                <hts_codes>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractHtsCodesValue</method>
                    <xpath>HTSCodes/HTSCode</xpath>
                </hts_codes>
                <unresolved_product_links>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractProductLinks</method>
                    <xpath>ProductLinks/ProductLink</xpath>
                </unresolved_product_links>
                <name>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>BaseAttributes/Title</xpath>
                </name>
                <description>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>ExtendedAttributes/LongDescription</xpath>
                </description>
                <short_description>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>ExtendedAttributes/ShortDescription</xpath>
                </short_description>
                <price>
                    <class>ebayenterprise_catalog/map_price</class>
                    <type>helper</type>
                    <method>extractPrice</method>
                    <xpath>Event</xpath>
                </price>
                <special_price>
                    <class>ebayenterprise_catalog/map_price</class>
                    <type>helper</type>
                    <method>extractSpecialPrice</method>
                    <xpath>Event</xpath>
                </special_price>
                <special_from_date>
                    <class>ebayenterprise_catalog/map_price</class>
                    <type>helper</type>
                    <method>extractPriceEventFromDate</method>
                    <xpath>Event</xpath>
                </special_from_date>
                <special_to_date>
                    <class>ebayenterprise_catalog/map_price</class>
                    <type>helper</type>
                    <method>extractPriceEventToDate</method>
                    <xpath>Event</xpath>
                </special_to_date>
                <msrp>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractFloatValue</method>
                    <xpath>Event/MSRP</xpath>
                </msrp>
                <weight>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractFloatValue</method>
                    <xpath>ExtendedAttributes/ItemDimension/Shipping/Mass/Weight</xpath>
                </weight>
                <status>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStatusValue</method>
                    <xpath>BaseAttributes/ItemStatus</xpath>
                </status>
                <item_status>
                    <class>ebayenterprise_catalog/map_attribute</class>
                    <type>helper</type>
                    <method>extractItemStatus</method>
                    <xpath>BaseAttributes/ItemStatus</xpath>
                </item_status>
                <catalog_class>
                    <class>ebayenterprise_catalog/map_attribute</class>
                    <type>helper</type>
                    <method>extractCatalogClass</method>
                    <xpath>BaseAttributes/CatalogClass</xpath>
                </catalog_class>
                <visibility>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractVisibilityValue</method>
                    <xpath>CustomAttributes/Attribute[@name="Visibility"]/Value</xpath>
                </visibility>
                <tax_class_id>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>passThrough</method>
                    <xpath>0</xpath>
                </tax_class_id>
                <price_view>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </price_view>
                <allow_open_amount>
                    <class>ebayenterprise_catalog/map</class>
                    <type>disabled</type>
                    <method/>
                    <xpath/>
                </allow_open_amount>
                <stock_data>
                    <class>ebayenterprise_catalog/map_stock</class>
                    <type>helper</type>
                    <method>extractStockData</method>
                    <xpath>ExtendedAttributes/SalesClass</xpath>
                </stock_data>
                <url_key>
                    <!-- There are some known issues with url_key in multi-store settings. By explicitly forcing the url_key to false, we cause it to fallback up the scope to the default store before saving each time. -->
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractFalse</method>
                    <xpath>.</xpath>
                </url_key>
                <color>
                    <class>ebayenterprise_catalog/map_attribute</class>
                    <type>helper</type>
                    <method>extractColorValue</method>
                    <xpath>ExtendedAttributes/ColorAttributes/Color</xpath>
                </color>
                <size>
                    <class>ebayenterprise_catalog/map_attribute</class>
                    <type>helper</type>
                    <method>extractSizeValue</method>
                    <xpath>ExtendedAttributes/SizeAttributes/Size</xpath>
                </size>
                <configurable_attributes_data>
                    <class>ebayenterprise_catalog/map_attribute</class>
                    <type>helper</type>
                    <method>extractConfigurableAttributesData</method>
                    <xpath>CustomAttributes/Attribute[@name="ConfigurableAttributes"]/Value</xpath>
                </configurable_attributes_data>
                <can_save_configurable_attributes>
                    <class>ebayenterprise_catalog/map_attribute</class>
                    <type>helper</type>
                    <method>extractCanSaveConfigurableAttributes</method>
                    <xpath>CustomAttributes/Attribute[@name="ConfigurableAttributes"]/Value</xpath>
                </can_save_configurable_attributes>
                <giftcard_type>
                    <class>ebayenterprise_catalog/map_giftcard</class>
                    <type>helper</type>
                    <method>extractGiftcardTenderValue</method>
                    <xpath>ExtendedAttributes/GiftCardTenderCode</xpath>
                </giftcard_type>
                <is_redeemable>
                    <class>ebayenterprise_catalog/map_giftcard</class>
                    <type>helper</type>
                    <method>extractIsRedeemable</method>
                    <xpath>ExtendedAttributes/GiftCardTenderCode</xpath>
                </is_redeemable>
                <use_config_is_redeemable>
                    <class>ebayenterprise_catalog/map_giftcard</class>
                    <type>helper</type>
                    <method>extractIsRedeemable</method>
                    <xpath>ExtendedAttributes/GiftCardTenderCode</xpath>
                </use_config_is_redeemable>
                <lifetime>
                    <class>ebayenterprise_catalog/map_giftcard</class>
                    <type>helper</type>
                    <method>extractLifetime</method>
                    <xpath>ExtendedAttributes/GiftCardTenderCode</xpath>
                </lifetime>
                <allow_message>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractBoolValue</method>
                    <xpath>ExtendedAttributes/AllowGiftMessage</xpath>
                </allow_message>
                <gift_message_available>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractAllowGiftMessage</method>
                    <xpath>ExtendedAttributes/AllowGiftMessage</xpath>
                </gift_message_available>
                <email_template>
                    <class>ebayenterprise_catalog/map_giftcard</class>
                    <type>helper</type>
                    <method>extractEmailTemplate</method>
                    <xpath>ExtendedAttributes/GiftCardTenderCode</xpath>
                </email_template>
                <open_amount_max>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractFloatValue</method>
                    <xpath>ExtendedAttributes/MaxGCAmount</xpath>
                </open_amount_max>
                <street_date>
                    <class>ebayenterprise_catalog/map</class>
                    <type>helper</type>
                    <method>extractStringValue</method>
                    <xpath>ExtendedAttributes/StreetDate</xpath>
                </street_date>
            </feed_attribute_mappings>
        </ebayenterprise_catalog>
    </default>
</config>
