<?xml version="1.0" encoding="utf-8"?>
<config>
	<sections>
		<eb2ccore>
			<groups>
				<email>
					<label>Transactional Email Handling</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<transactional_emailer>
							<label>Handler</label>
							<comment>If the Exchange Platform is selected, transactional emails will be sent via e-Dialog</comment>
							<sort_order>1</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>eb2corder/system_config_source_emailer</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</transactional_emailer>
					</fields>
				</email>
			</groups>
		</eb2ccore>
	</sections>
</config>
