<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Eb2cTax>
			<version>1.1.0.24</version>
		</EbayEnterprise_Eb2cTax>
	</modules>
	<global>
		<models>
			<eb2ctax>
				<class>EbayEnterprise_Eb2cTax_Model</class>
				<resourceModel>eb2ctax_resource</resourceModel>
			</eb2ctax>
			<eb2ctax_resource>
				<class>EbayEnterprise_Eb2cTax_Model_Resource</class>
				<entities>
					<response_quote>
						<table>eb2ctax_response_quote</table>
					</response_quote>
				</entities>
			</eb2ctax_resource>
			<tax>
				<rewrite>
					<calculation>EbayEnterprise_Eb2cTax_Overrides_Model_Calculation</calculation>
					<observer>EbayEnterprise_Eb2cTax_Overrides_Model_Observer</observer>
					<sales_total_quote_subtotal>EbayEnterprise_Eb2cTax_Overrides_Model_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
					<sales_total_quote_tax>EbayEnterprise_Eb2cTax_Overrides_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
					<sales_total_quote_shipping>EbayEnterprise_Eb2cTax_Overrides_Model_Sales_Total_Quote_Shipping</sales_total_quote_shipping>
				</rewrite>
			</tax>
			<enterprise_giftwrapping>
				<rewrite>
					<total_quote_tax_giftwrapping>EbayEnterprise_Eb2cTax_Overrides_Model_Total_Quote_Tax_Giftwrapping</total_quote_tax_giftwrapping>
				</rewrite>
			</enterprise_giftwrapping>
		</models>
		<helpers>
			<eb2ctax>
				<class>EbayEnterprise_Eb2cTax_Helper</class>
			</eb2ctax>
		</helpers>
		<resources>
			<eb2ctax_setup>
				<setup>
					<module>EbayEnterprise_Eb2cTax</module>
				</setup>
			</eb2ctax_setup>
		</resources>
		<events>
			<eb2ctax_subtotal_collect_before>
				<observers>
					<tax>
						<class>tax/observer</class>
						<method>taxEventSubtotalCollectBefore</method>
					</tax>
				</observers>
			</eb2ctax_subtotal_collect_before>
			<!-- Disable observers used by the tax module that no longer apply -->
			<catalog_prepare_price_select>
				<observers>
					<tax>
						<type>disabled</type>
					</tax>
				</observers>
			</catalog_prepare_price_select>
			<catalog_product_collection_load_after>
				<observers>
					<tax>
						<type>disabled</type>
					</tax>
				</observers>
			</catalog_product_collection_load_after>
			<sales_quote_collect_totals_after>
				<observers>
					<eb2ctax_reset_tax_flags>
						<class>tax/observer</class>
						<method>cleanupTaxRequestFlags</method>
					</eb2ctax_reset_tax_flags>
				</observers>
			</sales_quote_collect_totals_after>
			<ebayenterprise_order_create_item>
				<observers>
					<eb2ctax_order_create_item_observer>
						<type>model</type>
						<class>tax/observer</class>
						<method>handleOrderCreateItemEvent</method>
					</eb2ctax_order_create_item_observer>
				</observers>
			</ebayenterprise_order_create_item>
			<ebayenterprise_order_create_ship_group>
				<observers>
					<eb2ctax_order_create_ship_group_observer>
						<type>model</type>
						<class>tax/observer</class>
						<method>handleOrderCreateShipGroupEvent</method>
					</eb2ctax_order_create_ship_group_observer>
				</observers>
			</ebayenterprise_order_create_ship_group>
			<ebayenterprise_order_create_before_attach>
				<observers>
					<eb2ctax_order_create_before_attach_observer>
						<type>model</type>
						<class>tax/observer</class>
						<method>handleOrderCreateBeforeAttachEvent</method>
					</eb2ctax_order_create_before_attach_observer>
				</observers>
			</ebayenterprise_order_create_before_attach>
		</events>
		<sales>
			<quote>
				<totals>
					<tax_subtotal>
 						<class>tax/sales_total_quote_subtotal</class>
						<after>discount</after>
						<before>tax_shipping</before>
 					</tax_subtotal>
					<tax_shipping>
						<class>tax/sales_total_quote_shipping</class>
						<after>tax_subtotal</after>
						<before>tax</before>
					</tax_shipping>
					<tax>
						<after>tax_shipping</after>
						<before>grand_total</before>
					</tax>
				</totals>
			</quote>
		</sales>
	</global>
	<default>
		<eb2ccore>
			<eb2ctax_calculation>
				<apply_after_discount>1</apply_after_discount>
				<vat_inclusive_pricing>0</vat_inclusive_pricing>
			</eb2ctax_calculation>
			<eb2ctax_defaults>
				<duty_amount_code>eb2c-duty-amount</duty_amount_code>
			</eb2ctax_defaults>
			<eb2ctax_xsd>
				<quote_request_file>TaxDutyFee-QuoteRequest-1.0.xsd</quote_request_file>
			</eb2ctax_xsd>
		</eb2ccore>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Eb2cTax/>
			</modules>
		</suite>
	</phpunit>
</config>
