<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_Tax>
            <version>1.6.0</version>
        </EbayEnterprise_Tax>
    </modules>
    <global>
        <models>
            <ebayenterprise_tax>
                <class>EbayEnterprise_Tax_Model</class>
                <resourceModel>ebayenterprise_tax_resource</resourceModel>
            </ebayenterprise_tax>
        </models>
        <helpers>
            <ebayenterprise_tax>
                <class>EbayEnterprise_Tax_Helper</class>
            </ebayenterprise_tax>
        </helpers>
        <events>
            <!-- Taxes requested from the tax service in this event -->
            <sales_quote_collect_totals_after>
                <observers>
                    <ebayenterprise_tax_reset_tax_flags>
                        <class>ebayenterprise_tax/observer</class>
                        <method>handleSalesQuoteCollectTotalsAfter</method>
                    </ebayenterprise_tax_reset_tax_flags>
                </observers>
            </sales_quote_collect_totals_after>
            <!-- Order create related events -->
            <ebayenterprise_order_create_item>
                <observers>
                    <ebayenterprise_tax_order_create_item_observer>
                        <type>model</type>
                        <class>ebayenterprise_tax/observer</class>
                        <method>handleOrderCreateItemEvent</method>
                    </ebayenterprise_tax_order_create_item_observer>
                </observers>
            </ebayenterprise_order_create_item>
            <ebayenterprise_order_create_ship_group>
                <observers>
                    <ebayenterprise_tax_order_create_ship_group_observer>
                        <type>model</type>
                        <class>ebayenterprise_tax/observer</class>
                        <method>handleOrderCreateShipGroupEvent</method>
                    </ebayenterprise_tax_order_create_ship_group_observer>
                </observers>
            </ebayenterprise_order_create_ship_group>
            <ebayenterprise_order_create_before_attach>
                <observers>
                    <ebayenterprise_tax_order_create_before_attach_observer>
                        <type>model</type>
                        <class>ebayenterprise_tax/observer</class>
                        <method>handleOrderCreateBeforeAttachEvent</method>
                    </ebayenterprise_tax_order_create_before_attach_observer>
                </observers>
            </ebayenterprise_order_create_before_attach>
        </events>
        <sales>
            <quote>
                <totals>
                    <ebayenterprise_tax>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                        <class>ebayenterprise_tax/total_quote_address_tax</class>
                    </ebayenterprise_tax>
                </totals>
                <item>
                    <!--
                        Only product attributes listed in this configuration
                        (merged with Mage_Sales/etc/config.xml and others)
                        will be included on products loaded for quote items.
                        For HTS Codes to be available while making TDF requests, the
                        hts_codes product attribute must be included in the list.
                    -->
                    <product_attributes>
                        <hts_codes/>
                        <country_of_manufacture/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <translate>
            <modules>
                <EbayEnterprise_Tax>
                    <files>
                        <default>EbayEnterprise_Tax.csv</default>
                    </files>
                </EbayEnterprise_Tax>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <EbayEnterprise_Tax>
                    <files>
                        <default>EbayEnterprise_Tax.csv</default>
                    </files>
                </EbayEnterprise_Tax>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ebayenterprise_tax>
            <api>
                <service>taxes</service>
                <operation>quote</operation>
            </api>
            <duty>
                <rate_code>eb2c-duty-amount</rate_code>
            </duty>
            <pricing>
                <vat_inclusive>0</vat_inclusive>
            </pricing>
        </ebayenterprise_tax>
    </default>
    <phpunit>
        <suite>
            <modules>
                <EbayEnterprise_Tax/>
            </modules>
        </suite>
    </phpunit>
</config>
