<?xml version="1.0"?>
<config>
	<modules>
		<TrueAction_Eb2cFraudc>
			<version>0.1.0</version>
		</TrueAction_Eb2cFraudc>
	</modules>
	<global>
		<helpers>
			<eb2cfraud>
				<class>TrueAction_Eb2cFraud_Helper</class>
			</eb2cfraud>
		</helpers>
	</global>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cFraud />
			</modules>
		</suite>
	</phpunit>
</config>
