<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 *
 * @category    TrueAction
 * @package     TrueAction_Eb2c
 * @copyright   Copyright (c) 2013 True Action (http://www.trueaction.com)
 */
-->
<config>
	<modules>
		<TrueAction_Eb2cPayment>
			<version>1.0.0</version>
		</TrueAction_Eb2cPayment>
	</modules>
	<global>
		<models>
			<eb2cpayment>
				<class>TrueAction_Eb2cPayment_Model</class>
			</eb2cpayment>
			<enterprise_giftcardaccount>
				<rewrite>
					<giftcardaccount>TrueAction_Eb2cPayment_Overrides_Model_Giftcardaccount</giftcardaccount>
				</rewrite>
			</enterprise_giftcardaccount>
		</models>
		<helpers>
			<eb2cpayment>
				<class>TrueAction_Eb2cPayment_Helper</class>
			</eb2cpayment>
			<enterprise_giftcardaccount>
				<rewrite>
					<data>TrueAction_Eb2cPayment_Overrides_Helper_Data</data>
				</rewrite>
			</enterprise_giftcardaccount>
		</helpers>
		<blocks>
			<enterprise_giftcardaccount>
				<rewrite>
					<checkout_cart_giftcardaccount>TrueAction_Eb2cPayment_Overrides_Block_Checkout_Cart_Giftcardaccount</checkout_cart_giftcardaccount>
				</rewrite>
			</enterprise_giftcardaccount>
		</blocks>
		<resources>
			<eb2cpayment_setup>
				<setup>
					<module>TrueAction_Eb2cPayment</module>
				</setup>
			</eb2cpayment_setup>
		</resources>
	</global>
	<frontend>
		<routers>
            <enterprise_giftcardaccount>
                <args>
                    <modules>
                        <TrueAction_Eb2cPayment before="Enterprise_GiftCardAccount">TrueAction_Eb2cPayment_Overrides_GiftCardAccount</TrueAction_Eb2cPayment>
                    </modules>
                </args>
            </enterprise_giftcardaccount>
            <eb2cpayment>
                <use>standard</use>
                <args>
                    <module>TrueAction_Eb2cPayment</module>
                    <frontName>eb2cpayment</frontName>
                </args>
            </eb2cpayment>
        </routers>
		<layout>
			<updates>
				<trueaction_eb2cpayment module="TrueAction_Eb2cPayment">
					<file>eb2cpayment.xml</file>
				</trueaction_eb2cpayment>
			</updates>
		</layout>
		<events>
			<sales_order_payment_place_end>
				<observers>
					<TrueAction_Eb2cPayment_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cPayment_Model_Observer</class>
						<method>redeemGiftCard</method>
					</TrueAction_Eb2cPayment_observer>
				</observers>
			</sales_order_payment_place_end>
		</events>
	</frontend>
	<default>
		<eb2c>
			<payment>
				<developer_mode>1</developer_mode>
				<stored_value_balance_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/StoredValueBalanceReply.xml</stored_value_balance_api_uri>
			</payment>
		</eb2c>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cPayment />
			</modules>
		</suite>
	</phpunit>
</config>
