<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 *
 * @category    TrueAction
 * @package     TrueAction_Eb2c
 * @copyright   Copyright (c) 2013 True Action (http://www.trueaction.com)
 */
-->
<config>
	<modules>
		<TrueAction_Eb2cPayment>
			<version>1.0.0</version>
		</TrueAction_Eb2cPayment>
	</modules>
	<global>
		<models>
			<eb2cpayment>
				<class>TrueAction_Eb2cPayment_Model</class>
			</eb2cpayment>
			<eb2cpaymentoverrides>
				<class>TrueAction_Eb2cPayment_Overrides_Model</class>
			</eb2cpaymentoverrides>
			<enterprise_giftcardaccount>
				<rewrite>
					<giftcardaccount>TrueAction_Eb2cPayment_Overrides_Model_Giftcardaccount</giftcardaccount>
				</rewrite>
			</enterprise_giftcardaccount>
			<paypal>
				<rewrite>
					<api_nvp>TrueAction_Eb2cPayment_Overrides_Model_Api_Nvp</api_nvp>
				</rewrite>
			</paypal>
		</models>
		<helpers>
			<eb2cpayment>
				<class>TrueAction_Eb2cPayment_Helper</class>
			</eb2cpayment>
			<enterprise_giftcardaccount>
				<rewrite>
					<data>TrueAction_Eb2cPayment_Overrides_Helper_Data</data>
				</rewrite>
			</enterprise_giftcardaccount>
		</helpers>
		<blocks>
			<enterprise_giftcardaccount>
				<rewrite>
					<checkout_cart_giftcardaccount>TrueAction_Eb2cPayment_Overrides_Block_Checkout_Cart_Giftcardaccount</checkout_cart_giftcardaccount>
				</rewrite>
			</enterprise_giftcardaccount>
			<customer>
				<rewrite>
					<account_navigation>TrueAction_Eb2cPayment_Overrides_Block_Account_Navigation</account_navigation>
				</rewrite>
			</customer>
		</blocks>
		<resources>
			<eb2cpayment_setup>
				<setup>
					<module>TrueAction_Eb2cPayment</module>
				</setup>
			</eb2cpayment_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<enterprise_giftcardaccount>
				<args>
					<modules>
						<TrueAction_Eb2cPayment before="Enterprise_GiftCardAccount">TrueAction_Eb2cPayment_Overrides_GiftCardAccount</TrueAction_Eb2cPayment>
					</modules>
				</args>
			</enterprise_giftcardaccount>
			<eb2cpayment>
				<use>standard</use>
				<args>
					<module>TrueAction_Eb2cPayment</module>
					<frontName>eb2cpayment</frontName>
				</args>
			</eb2cpayment>
		</routers>
		<layout>
			<updates>
				<trueaction_eb2cpayment module="TrueAction_Eb2cPayment">
					<file>eb2cpayment.xml</file>
				</trueaction_eb2cpayment>
			</updates>
		</layout>
		<events>
			<eb2c_event_dispatch_after_inventory_allocation>
				<observers>
					<TrueAction_Eb2cPayment_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cPayment_Model_Observer</class>
						<method>redeemGiftCard</method>
					</TrueAction_Eb2cPayment_observer>
				</observers>
			</eb2c_event_dispatch_after_inventory_allocation>
			<eb2corder_order_creation_failure>
				<observers>
					<TrueAction_Eb2cPayment_observer>
						<type>singleton</type>
						<class>TrueAction_Eb2cPayment_Model_Observer</class>
						<method>redeemVoidGiftCard</method>
					</TrueAction_Eb2cPayment_observer>
				</observers>
			</eb2corder_order_creation_failure>
		</events>
	</frontend>
	<default>
		<eb2c>
			<payment>
				<developer_mode>1</developer_mode>
				<stored_value_balance_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/StoredValueBalanceReply.xml</stored_value_balance_api_uri>
				<stored_value_redeem_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/StoredValueRedeemReply.xml</stored_value_redeem_api_uri>
				<stored_value_redeem_void_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/StoredValueRedeemVoidReply.xml</stored_value_redeem_void_api_uri>
				<paypal_set_express_checkout_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/PayPalSetExpressCheckoutReply.xml</paypal_set_express_checkout_api_uri>
				<paypal_get_express_checkout_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/PayPalGetExpressCheckoutReply.xml</paypal_get_express_checkout_api_uri>
				<paypal_do_express_checkout_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/PayPalDoExpressCheckoutReply.xml</paypal_do_express_checkout_api_uri>
				<paypal_do_authorization_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/PayPalDoAuthorizationReply.xml</paypal_do_authorization_api_uri>
				<paypal_do_void_api_uri>http://eb2c.rgabriel.mage.tandev.net/eb2c/api/request/PayPalDoVoidReply.xml</paypal_do_void_api_uri>
				<enabled_eb2c_paypal_set_express_checkout>1</enabled_eb2c_paypal_set_express_checkout>
				<enabled_eb2c_paypal_get_express_checkout>1</enabled_eb2c_paypal_get_express_checkout>
				<enabled_eb2c_paypal_do_express_checkout>1</enabled_eb2c_paypal_do_express_checkout>
				<enabled_eb2c_paypal_do_authorization>1</enabled_eb2c_paypal_do_authorization>
				<enabled_eb2c_paypal_do_void>1</enabled_eb2c_paypal_do_void>
				<enabled_eb2c_debug>1</enabled_eb2c_debug>
			</payment>
		</eb2c>
	</default>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cPayment />
			</modules>
		</suite>
	</phpunit>
</config>
