<?xml version="1.0" encoding="utf-8"?>
<config>
	<sections>
		<eb2ccore translate="label" module="eb2cpayment">
			<groups>
				<eb2cpayment translate="label">
					<label>Payments</label>
					<frontend_type>text</frontend_type>
					<sort_order>500</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled>
							<label>Enable Payments</label>
							<comment>Enabling eBay Enterprise Payments will disable all other payment methods</comment>
							<sort_order>1</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<enable_pbridge_creditcard translate="label comment">
							<label>Enable Credit Card</label>
							<config_path>payment/pbridge_eb2cpayment_cc/active</config_path>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<model>eb2cpayment/adminhtml_comment</model>
							</comment>
							<depends><enabled>1</enabled></depends>
						</enable_pbridge_creditcard>
						<enable_stored_value translate="label comment">
							<label>Enable Stored Value Card</label>
							<config_path>giftcard/general/is_redeemable</config_path>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Select Yes/No selector to enable/disable stored value.</comment>
							<depends><enabled>1</enabled></depends>
						</enable_stored_value>
						<enable_paypal_express translate="label comment">
							<label>Enable Paypal Express</label>
							<config_path>payment/paypal_express/active</config_path>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Select Yes/No selector to enable/disable paypal express payment method.</comment>
							<depends><enabled>1</enabled></depends>
						</enable_paypal_express>
                        <visible_on_cart translate="label comment">
                            <label>PayPal Shortcut on Shopping Cart</label>
                            <config_path>payment/paypal_express/visible_on_cart</config_path>
                            <comment>Also affects mini-shopping cart.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <shared>1</shared>
							<depends><enabled>1</enabled></depends>
                        </visible_on_cart>
                        <visible_on_product translate="label">
                            <label>PayPal Shortcut on Product View</label>
                            <config_path>payment/paypal_express/visible_on_product</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <shared>1</shared>
							<depends><enabled>1</enabled></depends>
                        </visible_on_product>
						<sandbox_flag translate="label">
							<label>PayPal Sandbox Mode</label>
							<config_path>paypal/wpp/sandbox_flag</config_path>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<shared>1</shared>
							<depends><enabled>1</enabled></depends>
						</sandbox_flag>
					</fields>
				</eb2cpayment>
			</groups>
		</eb2ccore>
	</sections>
</config>
