<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2015 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Multishipping>
			<version>1.6.0</version>
		</EbayEnterprise_Multishipping>
	</modules>
	<global>
		<models>
			<ebayenterprise_multishipping>
				<class>EbayEnterprise_Multishipping_Model</class>
			</ebayenterprise_multishipping>
			<checkout>
				<rewrite>
					<type_multishipping>EbayEnterprise_Multishipping_Override_Model_Checkout_Type_Multishipping</type_multishipping>
				</rewrite>
			</checkout>
			<sales>
				<rewrite>
					<order>EbayEnterprise_Multishipping_Override_Model_Sales_Order</order>
					<order_address>EbayEnterprise_Multishipping_Override_Model_Sales_Order_Address</order_address>
					<order_item>EbayEnterprise_Multishipping_Override_Model_Sales_Order_Item</order_item>
					<service_quote>EbayEnterprise_Multishipping_Override_Model_Sales_Service_Quote</service_quote>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<ebayenterprise_multishipping>
				<class>EbayEnterprise_Multishipping_Helper</class>
			</ebayenterprise_multishipping>
		</helpers>
		<resources>
			<ebayenterprise_multishipping_setup>
				<setup>
					<module>EbayEnterprise_Multishipping</module>
					<class>Mage_Sales_Model_Resource_Setup</class>
				</setup>
			</ebayenterprise_multishipping_setup>
		</resources>
		<fieldsets>
			<!--
			 - Replace order data that was coming from a quote address with data
			 - from the quote.
			-->
			<sales_convert_quote>
				<base_customer_balance_amount><to_order>*</to_order></base_customer_balance_amount>
				<base_discount_amount><to_order>*</to_order></base_discount_amount>
				<base_gift_cards_amount><to_order>*</to_order></base_gift_cards_amount>
				<base_grand_total><to_order>*</to_order></base_grand_total>
				<base_hidden_tax_amount><to_order>*</to_order></base_hidden_tax_amount>
				<base_reward_currency_amount><to_order>*</to_order></base_reward_currency_amount>
				<base_shipping_amount><to_order>*</to_order></base_shipping_amount>
				<base_shipping_discount_amount><to_order>*</to_order></base_shipping_discount_amount>
				<base_shipping_hidden_tax_amnt><to_order>*</to_order></base_shipping_hidden_tax_amnt>
				<base_shipping_incl_tax><to_order>*</to_order></base_shipping_incl_tax>
				<base_shipping_tax_amount><to_order>*</to_order></base_shipping_tax_amount>
				<base_subtotal><to_order>*</to_order></base_subtotal>
				<base_subtotal_incl_tax><to_order>*</to_order></base_subtotal_incl_tax>
				<base_tax_amount><to_order>*</to_order></base_tax_amount>
				<base_to_global_rate><to_order>*</to_order></base_to_global_rate>
				<base_to_order_rate><to_order>*</to_order></base_to_order_rate>
				<bs_customer_bal_total_refunded><to_order>*</to_order></bs_customer_bal_total_refunded>
				<customer_balance_amount><to_order>*</to_order></customer_balance_amount>
				<discount_amount><to_order>*</to_order></discount_amount>
				<gift_cards><to_order>*</to_order></gift_cards>
				<gift_cards_amount><to_order>*</to_order></gift_cards_amount>
				<grand_total><to_order>*</to_order></grand_total>
				<gw_base_price><to_order>*</to_order></gw_base_price>
				<gw_base_tax_amount><to_order>*</to_order></gw_base_tax_amount>
				<gw_card_base_price><to_order>*</to_order></gw_card_base_price>
				<gw_card_base_tax_amount><to_order>*</to_order></gw_card_base_tax_amount>
				<gw_card_price><to_order>*</to_order></gw_card_price>
				<gw_card_tax_amount><to_order>*</to_order></gw_card_tax_amount>
				<gw_items_base_price><to_order>*</to_order></gw_items_base_price>
				<gw_items_base_tax_amount><to_order>*</to_order></gw_items_base_tax_amount>
				<gw_items_price><to_order>*</to_order></gw_items_price>
				<gw_items_tax_amount><to_order>*</to_order></gw_items_tax_amount>
				<gw_price><to_order>*</to_order></gw_price>
				<gw_tax_amount><to_order>*</to_order></gw_tax_amount>
				<hidden_tax_amount><to_order>*</to_order></hidden_tax_amount>
				<reward_currency_amount><to_order>*</to_order></reward_currency_amount>
				<reward_points_balance><to_order>*</to_order></reward_points_balance>
				<reward_salesrule_points><to_order>*</to_order></reward_salesrule_points>
				<shipping_amount><to_order>*</to_order></shipping_amount>
				<shipping_discount_amount><to_order>*</to_order></shipping_discount_amount>
				<shipping_hidden_tax_amount><to_order>*</to_order></shipping_hidden_tax_amount>
				<shipping_incl_tax><to_order>*</to_order></shipping_incl_tax>
				<shipping_tax_amount><to_order>*</to_order></shipping_tax_amount>
				<store_to_base_rate><to_order>*</to_order></store_to_base_rate>
				<store_to_order_rate><to_order>*</to_order></store_to_order_rate>
				<subtotal><to_order>*</to_order></subtotal>
				<tax_amount><to_order>*</to_order></tax_amount>
			</sales_convert_quote>
			<!--
			 - Add quote address data to order addresses instead of the order.
			 - Redirect data going to the order to prevent it from overriding
			 - order data taken from the quote.
			-->
			<sales_convert_quote_address>
				<address_type><to_order_address>*</to_order_address></address_type>
				<base_grand_total><to_order_address>*</to_order_address></base_grand_total>
				<base_shipping_amount><to_order_address>*</to_order_address></base_shipping_amount>
				<base_shipping_discount_amount><to_order_address>*</to_order_address></base_shipping_discount_amount>
				<base_shipping_hidden_tax_amount><to_order_address>*</to_order_address></base_shipping_hidden_tax_amount>
				<base_shipping_incl_tax><to_order_address>*</to_order_address></base_shipping_incl_tax>
				<base_shipping_tax_amount><to_order_address>*</to_order_address></base_shipping_tax_amount>
				<customer_address><to_order_address>*</to_order_address></customer_address>
				<gift_message_id><to_order_address>*</to_order_address></gift_message_id>
				<grand_total><to_order_address>*</to_order_address></grand_total>
				<gw_add_card><to_order_address>*</to_order_address></gw_add_card>
				<gw_allow_gift_receipt><to_order_address>*</to_order_address></gw_allow_gift_receipt>
				<gw_base_price><to_order_address>*</to_order_address></gw_base_price>
				<gw_base_tax_amount><to_order_address>*</to_order_address></gw_base_tax_amount>
				<gw_card_base_price><to_order_address>*</to_order_address></gw_card_base_price>
				<gw_card_base_tax_amount><to_order_address>*</to_order_address></gw_card_base_tax_amount>
				<gw_card_price><to_order_address>*</to_order_address></gw_card_price>
				<gw_card_tax_amount><to_order_address>*</to_order_address></gw_card_tax_amount>
				<gw_id><to_order_address>*</to_order_address></gw_id>
				<gw_items_base_price><to_order_address>*</to_order_address></gw_items_base_price>
				<gw_items_base_tax_amount><to_order_address>*</to_order_address></gw_items_base_tax_amount>
				<gw_items_price><to_order_address>*</to_order_address></gw_items_price>
				<gw_items_tax_amount><to_order_address>*</to_order_address></gw_items_tax_amount>
				<gw_price><to_order_address>*</to_order_address></gw_price>
				<gw_tax_amount><to_order_address>*</to_order_address></gw_tax_amount>
				<shipping_amount><to_order_address>*</to_order_address></shipping_amount>
				<shipping_description><to_order_address>*</to_order_address></shipping_description>
				<shipping_discount_amount><to_order_address>*</to_order_address></shipping_discount_amount>
				<shipping_hidden_tax_amount><to_order_address>*</to_order_address></shipping_hidden_tax_amount>
				<shipping_incl_tax><to_order_address>*</to_order_address></shipping_incl_tax>
				<shipping_method><to_order_address>*</to_order_address></shipping_method>
				<shipping_tax_amount><to_order_address>*</to_order_address></shipping_tax_amount>
				<weight><to_order_address>*</to_order_address></weight>
			</sales_convert_quote_address>
		</fieldsets>
		<events>
			<sales_order_save_before>
				<observers>
					<collect_address_shipment_totals>
						<class>ebayenterprise_multishipping/observer</class>
						<method>handleSalesOrderSaveBefore</method>
					</collect_address_shipment_totals>
				</observers>
			</sales_order_save_before>
		</events>
	</global>
	<default>
		<ebayenterprise_multishipping>
			<order_shipment_amounts>
				<base_shipping_amount>base_shipping_amount</base_shipping_amount>
				<shipping_amount>shipping_amount</shipping_amount>
				<base_shipping_discount_amount>base_shipping_discount_amount</base_shipping_discount_amount>
				<shipping_discount_amount>shipping_discount_amount</shipping_discount_amount>
				<base_shipping_hidden_tax_amnt>base_shipping_hidden_tax_amnt</base_shipping_hidden_tax_amnt>
				<shipping_hidden_tax_amount>shipping_hidden_tax_amount</shipping_hidden_tax_amount>
				<base_shipping_incl_tax>base_shipping_incl_tax</base_shipping_incl_tax>
				<shipping_incl_tax>shipping_incl_tax</shipping_incl_tax>
				<base_shipping_tax_amount>base_shipping_tax_amount</base_shipping_tax_amount>
				<shipping_tax_amount>shipping_tax_amount</shipping_tax_amount>
				<gw_base_price>gw_base_price</gw_base_price>
				<gw_price>gw_price</gw_price>
				<gw_base_tax_amount>gw_base_tax_amount</gw_base_tax_amount>
				<gw_tax_amount>gw_tax_amount</gw_tax_amount>
				<gw_card_base_price>gw_card_base_price</gw_card_base_price>
				<gw_card_price>gw_card_price</gw_card_price>
				<gw_card_base_tax_amount>gw_card_base_tax_amount</gw_card_base_tax_amount>
				<gw_card_tax_amount>gw_card_tax_amount</gw_card_tax_amount>
				<gw_items_base_price>gw_items_base_price</gw_items_base_price>
				<gw_items_price>gw_items_price</gw_items_price>
				<gw_items_base_tax_amount>gw_items_base_tax_amount</gw_items_base_tax_amount>
				<gw_items_tax_amount>gw_items_tax_amount</gw_items_tax_amount>
			</order_shipment_amounts>
		</ebayenterprise_multishipping>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Multishipping/>
			</modules>
		</suite>
	</phpunit>
</config>
