<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Eb2cOrder>
			<version>1.4.0.0</version>
		</EbayEnterprise_Eb2cOrder>
	</modules>
	<global>
		<models>
			<eb2corder>
				<class>EbayEnterprise_Eb2cOrder_Model</class>
				<resourceModel>eb2corder_resource</resourceModel>
			</eb2corder>
			<eb2corder_resource>
				<class>EbayEnterprise_Eb2cOrder_Model_Resource</class>
			</eb2corder_resource>
			<enterprise_rma>
				<rewrite>
					<rma>EbayEnterprise_Eb2cOrder_Overrides_Model_Enterprise_Rma</rma>
				</rewrite>
			</enterprise_rma>
		</models>
		<helpers>
			<eb2corder>
				<class>EbayEnterprise_Eb2cOrder_Helper</class>
			</eb2corder>
			<sales>
				<rewrite>
					<data>EbayEnterprise_Eb2cOrder_Overrides_Helper_Sales</data>
				</rewrite>
			</sales>
		</helpers>
		<blocks>
			<sales>
				<rewrite>
					<order_details>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_Details</order_details>
					<order_history>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_History</order_history>
					<order_info>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_Info</order_info>
					<order_items>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_Items</order_items>
					<order_recent>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_Recent</order_recent>
					<order_shipment>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_Shipment</order_shipment>
					<order_shipment_items>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_Shipment_Items</order_shipment_items>
					<order_view>EbayEnterprise_Eb2cOrder_Overrides_Block_Order_View</order_view>
				</rewrite>
			</sales>
		</blocks>
		<resources>
			<eb2corder_setup>
				<setup>
					<module>EbayEnterprise_Eb2cOrder</module>
					<class>EbayEnterprise_Eb2cOrder_Model_Resource_Setup</class>
				</setup>
			</eb2corder_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<sales>
				<args>
					<modules>
						<ebayenterprise_eb2corder before="Mage_Sales">EbayEnterprise_Eb2cOrder</ebayenterprise_eb2corder>
					</modules>
				</args>
			</sales>
		</routers>
		<layout>
			<updates>
				<ebayenterprise_eb2corder module="EbayEnterprise_Eb2cOrder">
					<file>eb2corder.xml</file>
				</ebayenterprise_eb2corder>
			</updates>
		</layout>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cOrder>
					<files>
						<default>EbayEnterprise_Eb2cOrder.csv</default>
					</files>
				</EbayEnterprise_Eb2cOrder>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cOrder>
					<files>
						<default>EbayEnterprise_Eb2cOrder.csv</default>
					</files>
				</EbayEnterprise_Eb2cOrder>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<eb2corder>
			<api>
				<service>orders</service>
				<return_format>xml</return_format>
				<create_operation>create</create_operation>
				<cancel_operation>cancel</cancel_operation>
				<detail_operation>get</detail_operation>
				<create_dom_root_node_name>OrderCreateRequest</create_dom_root_node_name>
				<cancel_dom_root_node_name>OrderCancelRequest</cancel_dom_root_node_name>
				<order_type>SALES</order_type>
				<level_of_service>REGULAR</level_of_service>
				<ship_group_destination_id>dest_1</ship_group_destination_id>
				<ship_group_billing_id>billing_1</ship_group_billing_id>
				<order_history_path>sales/order/view/order_id/</order_history_path>
			</api>
			<api_search_service>customers</api_search_service>
			<api_search_operation>orders/get</api_search_operation>
			<api_status_handler>
				<alert_level>silent</alert_level>
				<status>
					<client_error>
						<callback>
							<method>returnEmpty</method>
						</callback>
					</client_error>
				</status>
			</api_status_handler>
			<xsd>
				<create_file>Order-Service-Create-1.0.xsd</create_file>
				<cancel_file>Order-Service-Cancel-1.0.xsd</cancel_file>
				<search_file>Order-Service-Search-1.0.xsd</search_file>
				<detail_file>Order-Service-Detail-1.0.xsd</detail_file>
			</xsd>
			<shipping>
				<tax_class>93000</tax_class>
			</shipping>
			<detail_mapping>
				<address_data>
					<id>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>./@id</xpath>
					</id>
					<destination_store_code>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:StoreCode</xpath>
					</destination_store_code>
					<email>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:StoreEmail|a:Email/a:EmailAddress</xpath>
					</email>
					<lastname>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:PersonName/a:LastName</xpath>
					</lastname>
					<firstname>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:PersonName/a:FirstName|a:StoreName</xpath>
					</firstname>
					<phone>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:Phone</xpath>
					</phone>
					<street1>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:Line1</xpath>
					</street1>
					<street2>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:Line2</xpath>
					</street2>
					<street3>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:Line3</xpath>
					</street3>
					<street4>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:Line4</xpath>
					</street4>
					<city>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:City</xpath>
					</city>
					<region>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:MainDivision</xpath>
					</region>
					<country>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:CountryCode</xpath>
					</country>
					<postcode>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Address/a:PostalCode</xpath>
					</postcode>
				</address_data>
				<order_item>
					<sku>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:ItemId</xpath>
					</sku>
					<ref_id>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>./@id</xpath>
					</ref_id>
					<qty_ordered>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatValue</method>
						<xpath>a:Quantity</xpath>
					</qty_ordered>
					<qty_shipped>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatValue</method>
						<xpath>a:ShippedQuantity</xpath>
					</qty_shipped>
					<name>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Description</xpath>
					</name>
					<price>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatValue</method>
						<xpath>a:Pricing/a:Merchandise/a:UnitPrice</xpath>
					</price>
					<gift_message>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Gift/a:Message/a:Message</xpath>
					</gift_message>
					<gift_message_to>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Gift/a:Message/a:Message</xpath>
					</gift_message_to>
					<gift_message_from>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Gift/a:Message/a:Message</xpath>
					</gift_message_from>
					<row_total>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatValue</method>
						<xpath>a:Pricing/a:Merchandise/a:Amount</xpath>
					</row_total>
					<product_options>
						<class>eb2corder/map</class>
						<type>helper</type>
						<method>extractListAsArray</method>
						<xpath>a:Item/a:Description/a:Size|a:Item/a:Description/a:Color</xpath>
					</product_options>
				</order_item>
				<order>
					<real_order_id>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>./@CustomerOrderId</xpath>
					</real_order_id>
					<customer_email>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Customer/a:EmailAddress</xpath>
					</customer_email>
					<customer_prefix>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Customer/a:Name/a:Honorific</xpath>
					</customer_prefix>
					<customer_lastname>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Customer/a:Name/a:LastName</xpath>
					</customer_lastname>
					<customer_middlename>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Customer/a:Name/a:MiddleName</xpath>
					</customer_middlename>
					<customer_firstname>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Customer/a:Name/a:FirstName</xpath>
					</customer_firstname>
					<created_at>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:CreateTime</xpath>
					</created_at>
					<order_currency_code>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Currency</xpath>
					</order_currency_code>
					<locale>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Locale</xpath>
					</locale>
					<status>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:Status</xpath>
					</status>
					<tax_amount>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatSum</method>
						<xpath>//a:CalculatedTax</xpath>
					</tax_amount>
					<subtotal>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatSum</method>
						<xpath>//a:Pricing/a:Merchandise/a:Amount</xpath>
					</subtotal>
					<shipping_amount>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatSum</method>
						<xpath>//a:Pricing/a:Shipping/a:Amount</xpath>
					</shipping_amount>
					<discount_amount>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractDiscountSum</method>
						<xpath>//a:Pricing/*/a:PromotionalDiscounts/a:Discount/a:Amount</xpath>
					</discount_amount>
					<!-- custom attributes go here -->
				</order>
				<payment_info_data>
					<tender_type>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:PaymentContext/a:TenderType</xpath>
					</tender_type>
					<account_unique_id>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>a:PaymentContext/a:PaymentAccountUniqueId</xpath>
					</account_unique_id>
					<account_id_is_token>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractBoolValue</method>
						<xpath>a:PaymentContext/a:PaymentAccountUniqueId/@isToken</xpath>
					</account_id_is_token>
					<amount>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatValue</method>
						<xpath>a:Amount</xpath>
					</amount>
					<authorized_amount>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractFloatValue</method>
						<xpath>a:Authorization/a:Amount|a:AmountAuthorized</xpath>
					</authorized_amount>
				</payment_info_data>
				<payment_methods>
					<!-- see EbayEnterprise_Eb2cOrder_Model_Create::$_ebcPaymentMethodMap -->
					<CreditCard>ebayenterprise_creditcard</CreditCard>
					<PayPal>paypal_express</PayPal>
					<StoredValueCard>free</StoredValueCard>
				</payment_methods>
				<shipment_info_data>
					<increment_id>
						<class>ebayenterprise_catalog/map</class>
						<type>helper</type>
						<method>extractStringValue</method>
						<xpath>@id</xpath>
					</increment_id>
					<tracks>
						<class>eb2corder/map</class>
						<type>helper</type>
						<method>extractListAsArray</method>
						<xpath>a:ShippedItems/a:ShippedItem/a:TrackingNumbers</xpath>
					</tracks>
					<shipped_item_ids>
						<class>eb2corder/map</class>
						<type>helper</type>
						<method>extractListAsArray</method>
						<xpath>a:ShippedItems/a:ShippedItem/a:Item/@ref</xpath>
					</shipped_item_ids>
				</shipment_info_data>
			</detail_mapping>
		</eb2corder>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Eb2cOrder/>
			</modules>
		</suite>
	</phpunit>
</config>
