<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<sections>
		<eb2ccore>
			<groups>
				<email translate="label">
					<label>Transactional Email Handling</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<transactional_emailer translate="label">
							<label>Handler</label>
							<sort_order>1</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>eb2corder/system_config_source_emailer</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</transactional_emailer>
					</fields>
				</email>
				<order_management translate="label">
					<label>Order Status Event Management</label>
					<frontend_type>text</frontend_type>
					<sort_order>800</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>Configured each order status event's default status for a Magento sale order.</comment>
					<fields>
						<event_order_status_backorder translate="label">
							<label>Backorder</label>
							<frontend_type>select</frontend_type>
							<source_model>eb2corder/system_config_source_event_order_status_backorder</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</event_order_status_backorder>
					</fields>
				</order_management>
			</groups>
		</eb2ccore>
	</sections>
</config>
