<?xml version="1.0"?>
<!--
/**
 * @category   TrueAction
 * @package    TrueAction_Eb2c
 * @copyright  Copyright (c) 2013 True Action Network (http://www.trueaction.com)
 */
 -->
<config>
	<modules>
		<TrueAction_Eb2cStoredValue>
			<version>1.0.0</version>
		</TrueAction_Eb2cStoredValue>
	</modules>
	<global>
		<blocks>
			<eb2cstoredvalue>
				<class>TrueAction_Eb2cStoredValue_Block</class>
			</eb2cstoredvalue>
		</blocks>
		<helpers>
			<eb2cstoredvalue>
				<class>TrueAction_Eb2cStoredValue_Helper</class>
			</eb2cstoredvalue>
		</helpers>
		<models>
			<eb2cstoredvalue>
				<class>TrueAction_Eb2cStoredValue_Model</class>
			</eb2cstoredvalue>
		</models>
		<resources>
			<eb2cstoredvalue_setup>
				<setup>
					<module>TrueAction_Eb2cStoredValue</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</eb2cstoredvalue_setup>
			<eb2cstoredvalue_write>
				<use>core_write</use>
			</eb2cstoredvalue_write>
			<eb2cstoredvalue_read>
				<use>core_read</use>
			</eb2cstoredvalue_read>
		</resources>
		<events>
			<payment_method_is_active>
				<observers>
					<eb2cstoredvalue_observer>
						<class>eb2cstoredvalue/observer</class>
						<method>paymentMethodIsActive</method>
					</eb2cstoredvalue_observer>
				</observers>
			</payment_method_is_active>
			<sales_order_save_after>
				<observers>
					<eb2cstoredvalue_observer>
						<class>eb2cstoredvalue/observer</class>
						<method>saveAccountInfo</method>
					</eb2cstoredvalue_observer>
				</observers>
			</sales_order_save_after>
		</events>
		<fieldsets>
			<sales_convert_quote_payment>
				<eb2cstoredvalue_pan>
					<to_order_payment>*</to_order_payment>
				</eb2cstoredvalue_pan>
				<eb2cstoredvalue_pin>
					<to_order_payment>*</to_order_payment>
				</eb2cstoredvalue_pin>
				<eb2cstoredvalue_ation>
					<to_order_payment>*</to_order_payment>
				</eb2cstoredvalue_ation>
			</sales_convert_quote_payment>
			<sales_convert_order_payment>
				<eb2cstoredvalue_pan>
					<to_quote_payment>*</to_quote_payment>
				</eb2cstoredvalue_pan>
				<eb2cstoredvalue_pin>
					<to_quote_payment>*</to_quote_payment>
				</eb2cstoredvalue_pin>
				<eb2cstoredvalue_ation>
					<to_quote_payment>*</to_quote_payment>
				</eb2cstoredvalue_ation>
			</sales_convert_order_payment>
		</fieldsets>
	</global>
	<default>
		<payment>
			<eb2cstoredvalue>
				<active>0</active>
				<model>eb2cstoredvalue/storedValue</model>
				<title>Stored Value Payment</title>
				<sort_order>10</sort_order>
			</eb2cstoredvalue>
		 </payment>
	</default>
	<admin>
		<routers>
			<eb2cstoredvalue>
				<use>admin</use>
				<args>
					<module>TrueAction_Eb2cStoredValue</module>
					<frontName>eb2cstoredvalue</frontName>
				</args>
			</eb2cstoredvalue>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<eb2cstoredvalue>
					<file>eb2cstoredvalue.xml</file>
				</eb2cstoredvalue>
			</updates>
		</layout>
		<translate>
			<modules>
				<TrueAction_Eb2cStoredValue>
					<files>
						<default>TrueAction_Eb2cStoredValue.csv</default>
					</files>
				</TrueAction_Eb2cStoredValue>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<secure_url>
			<eb2cstoredvalue_account>/eb2cstoredvalue/account</eb2cstoredvalue_account>
			<eb2cstoredvalue_ajax>/eb2cstoredvalue</eb2cstoredvalue_ajax>
		</secure_url>
		<translate>
			<modules>
				<TrueAction_Eb2cStoredValue>
					<files>
						<default>TrueAction_Eb2cStoredValue.csv</default>
					</files>
				</TrueAction_Eb2cStoredValue>
			</modules>
		</translate>
		<layout>
			<updates>
				<eb2cstoredvalue>
					<file>eb2cstoredvalue.xml</file>
				</eb2cstoredvalue>
			</updates>
		</layout>
		<routers>
			<eb2cstoredvalue>
				<use>standard</use>
				<args>
					<module>TrueAction_Eb2cStoredValue</module>
					<frontName>eb2cstoredvalue</frontName>
				</args>
			</eb2cstoredvalue>
		</routers>
	</frontend>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Eb2cStoredValue />
			</modules>
		</suite>
	</phpunit>
</config>
