<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_Eb2cInventory>
			<version>0.9.0</version>
		</EbayEnterprise_Eb2cInventory>
	</modules>
	<global>
		<models>
			<eb2cinventory>
				<class>EbayEnterprise_Eb2cInventory_Model</class>
			</eb2cinventory>
			<eb2cinventoryoverride>
				<class>EbayEnterprise_Eb2cInventory_Overrides_Model</class>
			</eb2cinventoryoverride>
			<checkout>
				<rewrite>
					<cart>EbayEnterprise_Eb2cInventory_Overrides_Model_Cart</cart>
				</rewrite>
			</checkout>
			<cataloginventory>
				<rewrite>
					<stock_item>EbayEnterprise_Eb2cInventory_Overrides_Model_Stock_Item</stock_item>
				</rewrite>
			</cataloginventory>
		</models>
		<fieldsets>
			<sales_convert_quote_item>
				<eb2c_reservation_id>
					<to_order_item>*</to_order_item>
				</eb2c_reservation_id>
				<eb2c_reservation_expires>
					<to_order_item>*</to_order_item>
				</eb2c_reservation_expires>
				<eb2c_qty_reserved>
					<to_order_item>*</to_order_item>
				</eb2c_qty_reserved>
				<eb2c_creation_time>
					<to_order_item>*</to_order_item>
				</eb2c_creation_time>
				<eb2c_display>
					<to_order_item>*</to_order_item>
				</eb2c_display>
				<eb2c_delivery_window_from>
					<to_order_item>*</to_order_item>
				</eb2c_delivery_window_from>
				<eb2c_delivery_window_to>
					<to_order_item>*</to_order_item>
				</eb2c_delivery_window_to>
				<eb2c_shipping_window_from>
					<to_order_item>*</to_order_item>
				</eb2c_shipping_window_from>
				<eb2c_shipping_window_to>
					<to_order_item>*</to_order_item>
				</eb2c_shipping_window_to>
				<eb2c_ship_from_address_line1>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line1>
				<eb2c_ship_from_address_line2>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line2>
				<eb2c_ship_from_address_line3>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line3>
				<eb2c_ship_from_address_line4>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_line4>
				<eb2c_ship_from_address_city>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_city>
				<eb2c_ship_from_address_main_division>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_main_division>
				<eb2c_ship_from_address_country_code>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_country_code>
				<eb2c_ship_from_address_postal_code>
					<to_order_item>*</to_order_item>
				</eb2c_ship_from_address_postal_code>
			</sales_convert_quote_item>
		</fieldsets>
		<resources>
			<eb2cinventory_setup>
				<setup>
					<module>EbayEnterprise_Eb2cInventory</module>
					<class>Mage_Sales_Model_Resource_Setup</class>
				</setup>
			</eb2cinventory_setup>
		</resources>
		<helpers>
			<eb2cinventory>
				<class>EbayEnterprise_Eb2cInventory_Helper</class>
			</eb2cinventory>
		</helpers>
		<events>
			<inventory_feed_processing_complete>
				<observers>
					<eb2c_reindex_all>
						<class>eb2ccore/indexer</class>
						<method>reindexAll</method>
					</eb2c_reindex_all>
				</observers>
			</inventory_feed_processing_complete>
			<sales_quote_collect_totals_before>
				<observers>
					<EbayEnterprise_Eb2cInventory_observer>
						<type>singleton</type>
						<class>EbayEnterprise_Eb2cInventory_Model_Observer</class>
						<method>checkInventory</method>
					</EbayEnterprise_Eb2cInventory_observer>
				</observers>
			</sales_quote_collect_totals_before>
			<sales_quote_item_qty_set_after>
				<observers>
					<inventory>
						<type>disabled</type>
					</inventory>
				</observers>
			</sales_quote_item_qty_set_after>
			<!-- Inventory Allocation Events -->
			<eb2c_allocate_inventory>
				<observers>
					<eb2cinventory_allocate_inventory>
						<class>eb2cinventory/observer</class>
						<method>processAllocation</method>
					</eb2cinventory_allocate_inventory>
				</observers>
			</eb2c_allocate_inventory>
			<eb2c_order_creation_failure>
				<observers>
					<eb2cinventory_rollback_allocation>
						<class>eb2cinventory/observer</class>
						<method>rollbackAllocation</method>
					</eb2cinventory_rollback_allocation>
				</observers>
			</eb2c_order_creation_failure>
			<filetransfer_import_complete>
				<observers>
					<eb2c_inventory_process_feeds>
						<class>eb2cinventory/feed_item_inventories</class>
						<method>processFeeds</method>
						<type>model</type>
					</eb2c_inventory_process_feeds>
				</observers>
			</filetransfer_import_complete>
			<ebayenterprise_feed_dom_loaded>
				<observers>
					<inventory_feed_dom>
						<class>eb2cinventory/observer</class>
						<method>processDom</method>
					</inventory_feed_dom>
				</observers>
			</ebayenterprise_feed_dom_loaded>
		</events>
	</global>
	<frontend>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cInventory>
					<files>
						<default>EbayEnterprise_Eb2cInventory.csv</default>
					</files>
				</EbayEnterprise_Eb2cInventory>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Eb2cInventory>
					<files>
						<default>EbayEnterprise_Eb2cInventory.csv</default>
					</files>
				</EbayEnterprise_Eb2cInventory>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<eb2ccore>
			<feed>
				<filetransfer_imports>
					<inventory>
						<local_directory>ExchangePlatform/Feed/inbox/inventory</local_directory>
						<event_type>ItemInventories</event_type>
						<header_version>2.3.0</header_version>
						<outbound>
							<message_header>
								<event_type>ItemInventories</event_type>
							</message_header>
						</outbound>
						<remote_directory>/Inbox/Product</remote_directory>
						<file_pattern>*inventatp*_*.xml</file_pattern>
					</inventory>
				</filetransfer_imports>
			</feed>
		</eb2ccore>
		<eb2cinventory>
			<allocation_expired>60</allocation_expired>
			<api_service>inventory</api_service>
			<api_opt_inventory_qty>quantity/get</api_opt_inventory_qty>
			<api_opt_inventory_details>details/get</api_opt_inventory_details>
			<api_opt_inventory_allocation>allocations/create</api_opt_inventory_allocation>
			<api_opt_inventory_rollback_allocation>allocations/delete</api_opt_inventory_rollback_allocation>
			<api_return_format>xml</api_return_format>
			<xsd>
				<allocation_file>Inventory-Service-Allocation-1.0.xsd</allocation_file>
				<details_file>Inventory-Service-InventoryDetails-1.0.xsd</details_file>
				<quantity_file>Inventory-Service-Quantity-1.0.xsd</quantity_file>
				<rollback_file>Inventory-Service-RollbackAllocation-1.0.xsd</rollback_file>
			</xsd>
		</eb2cinventory>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Eb2cInventory/>
			</modules>
		</suite>
	</phpunit>
</config>
