<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <EbayEnterprise_Eb2cInventory>
            <version>0.9.0</version>
        </EbayEnterprise_Eb2cInventory>
    </modules>
    <global>
        <models>
            <eb2cinventory>
                <class>EbayEnterprise_Eb2cInventory_Model</class>
            </eb2cinventory>
            <eb2cinventoryoverride>
                <class>EbayEnterprise_Eb2cInventory_Overrides_Model</class>
            </eb2cinventoryoverride>
        </models>
        <helpers>
            <eb2cinventory>
                <class>EbayEnterprise_Eb2cInventory_Helper</class>
            </eb2cinventory>
        </helpers>
        <events>
            <filetransfer_import_complete>
                <observers>
                    <eb2c_inventory_process_feeds>
                        <class>eb2cinventory/feed_item_inventories</class>
                        <method>processFeeds</method>
                        <type>model</type>
                    </eb2c_inventory_process_feeds>
                </observers>
            </filetransfer_import_complete>
            <ebayenterprise_feed_dom_loaded>
                <observers>
                    <inventory_feed_dom>
                        <class>eb2cinventory/observer</class>
                        <method>processDom</method>
                    </inventory_feed_dom>
                </observers>
            </ebayenterprise_feed_dom_loaded>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <EbayEnterprise_Eb2cInventory>
                    <files>
                        <default>EbayEnterprise_Eb2cInventory.csv</default>
                    </files>
                </EbayEnterprise_Eb2cInventory>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <EbayEnterprise_Eb2cInventory>
                    <files>
                        <default>EbayEnterprise_Eb2cInventory.csv</default>
                    </files>
                </EbayEnterprise_Eb2cInventory>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <eb2ccore>
            <feed>
                <filetransfer_imports>
                    <inventory>
                        <local_directory>ExchangePlatform/Feed/inbox/inventory</local_directory>
                        <event_type>ItemInventories</event_type>
                        <header_version>2.3.0</header_version>
                        <outbound>
                            <message_header>
                                <event_type>ItemInventories</event_type>
                            </message_header>
                        </outbound>
                        <remote_directory>/Inbox/Product</remote_directory>
                        <file_pattern>*inventatp*_*.xml</file_pattern>
                    </inventory>
                </filetransfer_imports>
            </feed>
        </eb2ccore>
    </default>
    <phpunit>
        <suite>
            <modules>
                <EbayEnterprise_Eb2cInventory/>
            </modules>
        </suite>
    </phpunit>
</config>
