<?xml version="1.0"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<EbayEnterprise_CreditCard>
			<version>0.1.0</version>
		</EbayEnterprise_CreditCard>
	</modules>
	<global>
		<models>
			<ebayenterprise_creditcard>
				<class>EbayEnterprise_CreditCard_Model</class>
			</ebayenterprise_creditcard>
		</models>
		<blocks>
			<ebayenterprise_creditcard>
				<class>EbayEnterprise_CreditCard_Block</class>
			</ebayenterprise_creditcard>
		</blocks>
		<helpers>
			<ebayenterprise_creditcard>
				<class>EbayEnterprise_CreditCard_Helper</class>
			</ebayenterprise_creditcard>
		</helpers>
	</global>
	<frontend>
		<translate>
			<modules>
				<EbayEnterprise_CreditCard>
					<files>
						<default>EbayEnterprise_CreditCard.csv</default>
					</files>
				</EbayEnterprise_CreditCard>
			</modules>
		</translate>
	</frontend>
	<default>
		<payment>
			<ebayenterprise_creditcard>
				<active>0</active>
				<model>ebayenterprise_creditcard/method_ccpayment</model>
				<title>eBay Enterprise Retail Order Management Credit Card</title>
				<order_status>pending</order_status>
				<cctypes>AE,VI,MC,DI</cctypes>
				<payment_action>authorize</payment_action>
				<allowspecific>0</allowspecific>
			</ebayenterprise_creditcard>
		</payment>
		<ebayenterprise_creditcard>
			<tender_types>
				<!-- mappings of Magento CC type to ROM API tender type -->
				<ae>AM</ae>
				<di>DC</di>
				<mc>MC</mc>
				<vi>VC</vi>
			</tender_types>
			<api>
				<operation>creditcard/auth</operation>
				<service>payments</service>
			</api>
		</ebayenterprise_creditcard>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_CreditCard/>
			</modules>
		</suite>
	</phpunit>
</config>
