<?xml version="1.0"?>
<!--
  Copyright (c) 2013-2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the Open Software License (OSL 3.0)
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://opensource.org/licenses/osl-3.0.php

  @copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<sections>
		<payment>
			<groups>
				<ebayenterprise_creditcard translate="label comment" module="ebayenterprise_creditcard">
					<label>eBay Enterprise Credit Card</label>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<allowspecific translate="label">
							<label>Payment from Applicable Countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>3</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific Countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>4</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</specificcountry>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
						<use_client_side_encryption>
							<label>Use Client Side Encryption</label>
							<comment>Enabling client-side encryption removes Magento from PCI DSS. Do not disable unless this Magento store is fully compliant with PCI DSS.</comment>
							<frontend_type>select</frontend_type>
							<sort_order>6</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</use_client_side_encryption>
						<encryption_key>
							<label>Encryption Key</label>
							<frontend_type>text</frontend_type>
							<backend_model>ebayenterprise_creditcard/system_config_backend_encryptionkey</backend_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</encryption_key>
					</fields>
				</ebayenterprise_creditcard>
			</groups>
		</payment>
	</sections>
</config>
