/**
 * Styling for the address validation address suggestions.
 */
.suggestion-fields {}

.suggestion-fields .suggestion-list {
	display: block;
	width: 100%;
}

.suggestion-fields .suggestion {
	display: block;
	padding: 1em;
	position: relative;
	border-bottom: solid 1px #ddd;
	clear: left;
	overflow: hidden;
}
.suggestion-fields .original-message {
	margin: 0;
}
.suggestion-fields .suggestion label {
	display: block;
}
.suggestion-fields .suggestion input {
	margin-right: 4px;
}
.suggestion-fields .suggestion .address {
	text-align: left;
	padding: 12px 12px 12px 20px;
	display: block;
	margin-bottom: 4px;
}
.suggestion-fields .new {
	border: none;
}

.hide-new-address {
	display: none;
}